@import "~assets/css/_theme";

:host {
    display: flex;
    padding: 0 1rem;
    overflow: auto;
    height: 100%;
}

card {
    width: 740px;
    padding-right: 1rem;
    .list {
        border-bottom: 1px solid $acrylic-grey;
        &:last-child {
            border-bottom: none;
        }
    }

    .add-resource {
        border-bottom: 1px solid $acrylic-grey;
        margin-bottom: 0.5rem;
    }

    .search-filter {
        mat-form-field {
            height: 40px;
        }
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $acrylic-grey;
    }
    
}
