<card title="Icons"
      [addbtn]="true"
      [addMessage]="'Add new icon'"
      (add)="newIcon()">
    <div class='search-filter'>
        <mat-form-field appearance="outline">
            <input [formControl]="filterIconControl"
                   name="displaysearch"
                   type="text"
                   placeholder="Filter..."
                   class="list-filter"
                   matInput />
        </mat-form-field>
    </div>
    <image-resource *ngIf="addIcon"
                    class="add-resource"
                    [newResource]="true"
                    [newTitle]="'New Icon'"
                    (update)="updateIcons()">
    </image-resource>
    <div *ngFor="let resource of icons$ | async | textFilter:filterIconText:'resourceName'"
         class="list">
        <image-resource [resource]="resource"
                        (update)="updateIcons()">
        </image-resource>
    </div>
</card>

<card title="Configuration"
      [addbtn]="true"
      [addMessage]="'Add new configuration entry'"
      (add)="newConfig()">
    <div class='search-filter'>
        <mat-form-field appearance="outline">
            <input [formControl]="filterConfigControl"
                   name="displaysearch"
                   type="text"
                   placeholder="Filter..."
                   class="list-filter"
                   matInput />
        </mat-form-field>
    </div>
    <json-resource *ngIf="addConfig"
                   class="add-resource"
                   [newResource]="true"
                   [newTitle]="'New Configuration Resource'"
                   (update)="updateConfig()">
    </json-resource>
    <div *ngFor="let resource of config$ | async | textFilter:filterConfigText:'resourceName'"
         class="list">
        <json-resource [resource]="resource"
                       (update)="updateConfig()">
        </json-resource>
    </div>
</card>
