<form *ngIf="!newResource"
      [formGroup]="formGroup"
      (ngSubmit)="saveResource()">
    <div class='title'>
        <h4>{{ resource.resourceName }}</h4>
        <div class='actions'>
            <button mat-icon-button
                    type="submit"
                    title="Update configuration data"
                    color="accent"
                    [disabled]="disableSave">
                <fa-icon icon="save"></fa-icon>
            </button>
            <button mat-icon-button
                    type="button"
                    (click)="deleteResource()"
                    title="Delete this configuration data"
                    class="delete-btn">
                <fa-icon icon="trash"></fa-icon>
            </button>
        </div>
    </div>
    <json-edit [json]="initialJson"
               [mode]="'tree'"
               [expanded]="true"
               (error)="setError($event)"
               (update)="updateJson($event)">
    </json-edit>
</form>
<form *ngIf="newResource"
      [formGroup]="formGroup"
      (ngSubmit)="saveResource()">
    <div class='title'>
        <h4>{{ newTitle }}</h4>
        <button mat-icon-button
                type="submit"
                title="Save {{ newTitle }}"
                color="accent"
                [disabled]="disableSave">
            <fa-icon icon="save"></fa-icon>
        </button>
    </div>
    <div class='form-group'>
        <div class="form-field">
            <label for="map-circle-radius">Name</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="file-resource-name"
                       name="file-resource-name"
                       formControlName="name"
                       aria-label="Name"
                       required="true"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <json-edit [json]="initialJson"
               [mode]="'code'"
               [expanded]="true"
               (error)="setError($event)"
               (update)="updateJson($event)">
    </json-edit>
</form>