<card-collapse [title]="title"
               [count]="permissionsList.length"
               [open]="permissionsList.length > 0"
               [addbtn]="true"
               [addMessage]="'Add new permission'"
               (add)="addPermission()">
    <permission-chip *ngFor="let item of permissionsList; let i = index"
                     [canDelete]="true"
                     [key]="item.key"
                     [stream]="stream"
                     [permissions]="item.values"
                     (updateKey)="updatePermissionKey($event)"
                     (updatePermissions)="updatePermissions($event)"
                     (removePermission)="removePermission($event)">
    </permission-chip>
    <p *ngIf="permissionsList.length === 0">
        No group permissions set
    </p>
</card-collapse>
