@import "~assets/css/_theme";
$border-colour: $acrylic-grey;

:host {
    height: 100%;
    width: 100%;
    display: flex;
    border-left: 1px solid $border-colour;
    position: relative;
    padding-bottom: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-colour;
    flex: 0 0 320px;
    background: $bg-white;
    overflow-y: auto;

    .header {
        display: flex;
        align-items: baseline;
        flex: 0 0 auto;
        margin: 0.5rem 1rem 0.5rem 1rem;

        button {
            margin-left: 0.5rem;
        }

        h4 {
            flex: 1;
            padding: 0;
            margin: 0 0.5rem 0 0;
        }
    }

    label {
        color: $txt-grey;
    }

    .form-group {
        padding: 1rem 1rem 0 1rem;
    }

    h4 {
        color: $theme-secondary;
        font-size: 1.2rem;
        padding: 0.8rem 1rem 0 1rem;
    }

    .layouts {
        padding-bottom: 1rem;
    }

    button {
        fa-icon {
            color: $txt-grey;
        }
        &:hover {
            fa-icon {
                color: $theme-secondary;
            }
            background: $acrylic-grey;
        }
    }

    .layout-list {
        .layout-header {
            display: flex;
            align-items: center;
            color: $txt-grey;
            border-top: 1px solid $border-colour;

            .layout-title {
                flex: 1 0 auto;
                padding: 0.6rem 1rem;
                font-weight: 700;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }

        .component-row {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $acrylic-grey;

            &:last-child {
                border-bottom: none;
            }

            .component-type-icon {
                padding: 0.7rem;
                padding-left: 1rem;
            }
            span {
                flex: 1;
            }
            &.active {
                background-color: $theme-primary;
                color: $txt-white;
                fa-icon {
                    color: $txt-white;
                }
                button:hover {
                    fa-icon {
                        color: $txt-soft;
                    }
                }
            }
            button {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
            .move-actions {
                button {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    date-range-selector {
        flex: 1 0 auto;
    }

    .save-button {
        height: 50px;
        padding: 5px 1rem;
        align-items: flex-end;
    }
}

.right {
    flex: 1;
}
