<ng-container *ngIf="display != null">
  <div class='left'>
    <div class="header">
      <h4>Visualisation</h4>
      <button mat-icon-button
              *ngIf="newVisualisation"
              (click)="importVisualisation()">
        <fa-icon icon="file-import"></fa-icon>
      </button>
      <button mat-icon-button
              *ngIf="!newVisualisation"
              (click)="exportVisualisation()">
        <fa-icon icon="file-export"></fa-icon>
      </button>
      <button mat-flat-button
              color="accent"
              [disabled]="hasError()"
              (click)="submit()"> Save </button>
    </div>
    <div class="form-group">
      <div class="form-field">
        <label for='visualisation-name'>Visualisation name</label>
        <mat-form-field appearance="outline"
                        class='wide'>
          <input [formControl]="nameControl"
                 id="visualisation-name"
                 name="visualisation-name"
                 type="text"
                 placeholder="New Visualisation"
                 matInput />
        </mat-form-field>
      </div>
      <div class="form-field">
        <label for="layout-select">Select layout</label>
        <dynamic-select [required]="true"
                        class='wide'
                        id="layout-select"
                        name="layout-select"
                        [model]="currentLayout.value"
                        (modelChange)="layoutChange($event)"
                        [options]="layouts"
                        [lowerBound]="1"
                        [upperBound]="1"></dynamic-select>
      </div>
    </div>
    <div class='layouts'>
      <h4>Layout Components</h4>
      <div *ngFor="let cl of currentLayout.displays; let layoutIndex = index"
           class="layout-list">
        <div class="layout-header">
          <div class="layout-title">{{ cl }}</div>
          <button mat-icon-button
                  title="Add a display to this layout"
                  (click)="newComponent(layoutIndex)">
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
        <div *ngFor="let c of getLayoutComponents(layoutIndex); let componentIndex = index"
             class="component-row"
             [class.active]="currentComponent != null && currentComponent.id === c.id">
          <fa-icon class="component-type-icon"
                   [icon]="getIconName(c.type)"></fa-icon>
          <span> {{ c.name || "New component"}} </span>
          <div class='move-actions'>
            <button *ngIf="c.layoutComponent > 0 || componentIndex > 0"
                    mat-icon-button
                    title="Move up layout"
                    (click)="componentLayoutMoveUp(c.id, componentIndex)">
              <fa-icon icon="chevron-up"></fa-icon>
            </button>
            <button *ngIf="c.layoutComponent < (currentLayout.displays.length - 1) || (componentIndex + 1) < getLayoutComponents(layoutIndex).length"
                    mat-icon-button
                    title="Move down layout"
                    (click)="componentLayoutMoveDown(c.id, componentIndex)">
              <fa-icon icon="chevron-down"></fa-icon>
            </button>
          </div>
          <button mat-icon-button
                  title="Edit this display component"
                  (click)="selectComponent(c.id)">
            <fa-icon icon="pen"></fa-icon>
          </button>
          <button mat-icon-button
                  title="Remove this display component"
                  (click)="deleteComponent(c.id)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <h4>Default Date Range</h4>
    <date-range-selector [fromDate]="dateRangeForm.get('from').value"
                         [toDate]="dateRangeForm.get('to').value"
                         (fromDateChange)="updateDateRange($event, 'from')"
                         (fromDateError)="dateError($event, 'from')"
                         (toDateChange)="updateDateRange($event, 'to')"
                         (toDateError)="dateError($event, 'to')">
    </date-range-selector>

    <h4>Default Start Date</h4>
    <date-picker [date]="dateRangeForm.get('current').value"
                 [title]="'current'"
                 [error]="currentDateError"
                 [minDate]="dateRangeForm.get('from').value"
                 [maxDate]="dateRangeForm.get('to').value"
                 (dateChange)="updateCurrentDate($event)">
    </date-picker>
  </div>
  <visualisation-component-form *ngIf="currentComponent != null"
                                class="right"
                                [component]="currentComponent"
                                (setError)="setError($event)">
  </visualisation-component-form>
</ng-container>