@import "~assets/css/_theme";

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex: 1;
  }

  canvas {
    z-index: 900;
    position: fixed;
    object-fit: fill;
  }
}

.classification-list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .classification-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex: 1;

    .classification-row {
      display: flex;
      align-items: center;
      height: 50px;
      width: 300px;
      border-bottom: 1px solid $acrylic-grey;
      cursor: pointer;

      &:hover {
        background: $bg-light-grey;
      }

      &.selected {
        background: $bg-main;
        button {
          background: $bg-main;
          &:hover {
            fa-icon {
              background: $acrylic-grey;
            }
          }
        }
      }

      #classification-colour {
        vertical-align: 3px;
        font-size: x-small;
        padding-right: 5px;
      }

      .classification-title {
        line-height: 50px;
        flex: 1;
        padding-left: 1rem;
        height: 100%;
        font-weight: 400;
        font-size: 1.2rem;
        align-self: baseline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        mat-form-field {
          position: fixed;
          width: 190px;
        }
      }

      button {
        flex: 0 0 auto;
        border-radius: 0;
        font-size: 14px;
        height: 100%;
        width: 34px;

        &.accepted {
          fa-icon {
            color: $status-green;
          }
          pointer-events: none;
        }

        fa-icon {
          color: $txt-grey;
        }

        &:hover {
          fa-icon {
            color: $theme-secondary;
          }
          background: $acrylic-grey;
        }
      }
    }
    .classification-row:last-of-type {
      border-bottom: none;
    }
  }
  .new-classification {
    width: 100%;
    align-self: flex-end;
    text-align: center;
    display: flex;
    margin-top: 5px;
    button {
      margin: 0px 2px;
      flex: 1;
    }
  }
}
