<div class="container">
    <div #imagecontainer class="image">
        <img #image (load)="onLoadImage()" [src]="data.imageUrl" [style.max-height]="data.imageHeight" />
        <canvas #canvas></canvas>
    </div>
    <div class="classification-list-wrapper">
        <div class="classification-list">
            <div *ngFor="let classification of modifiedClassifications;let i = index;trackBy: trackByFn"
                class='classification-row' [ngClass]="classification === editable ? 'selected' : ''">
                <div class="classification-title" title="Edit classification: {{ classification.label }}"
                    (click)="editClassification(classification)">
                    <fa-icon id="classification-colour" matSuffix icon="circle" [style.color]="classification.colour">
                    </fa-icon>
                    <span *ngIf="classification === editable">
                        <mat-form-field appearance="outline">
                            <input #label type="text" [(ngModel)]="classification.label" matInput />
                        </mat-form-field>
                    </span>
                    <span *ngIf="classification !== editable">{{ classification.label }}</span>
                </div>
                <button [ngClass]="classification.curated ? 'accepted' : ''" mat-icon-button
                    title="Accept classification: {{ classification.label }}"
                    (click)="acceptClassification(classification)">
                    <fa-icon icon="check-circle"></fa-icon>
                </button>
                <button mat-icon-button title="Delete classification: {{ classification.label }}"
                    (click)="deleteClassification(i)">
                    <fa-icon icon="trash"></fa-icon>
                </button>
            </div>
        </div>
        <div class="new-classification">
            <button mat-flat-button color="primary" (click)="newClassification()">
                <fa-icon icon="plus"></fa-icon> New
            </button>
            <button mat-flat-button color="primary" (click)="resetClassifications()" [disabled]="changed()">
                <fa-icon icon="undo"></fa-icon> Reset
            </button>
            <button mat-flat-button color="primary" (click)="saveClassifications()"
                [mat-dialog-close]="{index: data.imageIndex, classifications: modifiedClassifications}"
                [disabled]="saveDisabled()">
                <fa-icon icon="save"></fa-icon> Save
            </button>
        </div>
    </div>
</div>