<h4>Map Settings</h4>
<div class="form-group"
     [formGroup]="mapConfigForm">
    <div *ngIf="colourQueryForm.get('enable').value === false"
         class="form-field">
        <label for="map-icon">Map Icon</label>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="map-icon"
                   name="map-icon"
                   formControlName="icon"
                   placeholder="Icon name"
                   aria-label="Map Icon"
                   matInput>
            <mat-hint>This overrides the circle preferences</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="map-circle-radius">Circle radius/Line width</label>
        <mat-form-field appearance="outline">
            <input type="number"
                   step="any"
                   id="map-circle-radius"
                   name="map-circle-radius"
                   formControlName="radius"
                   placeholder="5"
                   aria-label="Circle radius/Line width"
                   matInput>
            <mat-hint>Size in pixels</mat-hint>
            <mat-error *ngIf="mapConfigForm.hasError('min', 'outlineWidth')">
                Cannot be smaller than 1 pixel.
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="colourQueryForm.get('enable').value === false"
         class="form-field">
        <label for="map-circle-colour">Circle color</label>
        <colour-picker [colour]="mapConfigForm.get('colour').value"
                       (colourChange)="mapConfigForm.get('colour').setValue($event)"
                       [placeholder]="'#0097a8'"
                       [name]="'circle-colour'"
                       [label]="'Select the circle colour'">
        </colour-picker>
    </div>
    <div class="form-field">
        <label for="map-opacity">Opacity</label>
        <mat-form-field appearance="outline">
            <input type="number"
                   step="any"
                   id="map-opacity"
                   name="map-opacity"
                   formControlName="opacity"
                   placeholder="100"
                   aria-label="circle opacity"
                   matInput>
            <mat-hint>The percentage opacity</mat-hint>
            <mat-error *ngIf="mapConfigForm.hasError('min', 'opacity')">
                Cannot be negative.
            </mat-error>
            <mat-error *ngIf="mapConfigForm.hasError('max', 'opacity')">
                Maximum amount is 100.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="map-circle-radius">Circle outline width</label>
        <mat-form-field appearance="outline">
            <input type="number"
                   step="any"
                   id="map-outline-width"
                   name="map-outline-width"
                   formControlName="outlineWidth"
                   placeholder="1"
                   aria-label="Circle outline width"
                   matInput>
            <mat-hint>The width of the circle outline in pixels</mat-hint>
            <mat-error *ngIf="mapConfigForm.hasError('min', 'outlineWidth')">
                Cannot be negative.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="map-circle-outline-colour">Circle outline color</label>
        <colour-picker [colour]="mapConfigForm.get('outlineColour').value"
                       (colourChange)="mapConfigForm.get('outlineColour').setValue($event)"
                       [placeholder]="'#000000'"
                       [name]="'circle-outline-colour'"
                       [label]="'Select the circle outline colour'">
        </colour-picker>
    </div>
    <div class="form-field"
         *ngIf="querySource.query === DataQueryType.LOCATION || querySource.query === DataQueryType.EVENTLOCATION">
        <mat-checkbox formControlName="timeHover"
                      [disableRipple]="true">
            Display time on hover
        </mat-checkbox>
    </div>
    <div class="form-field"
         *ngIf="querySource.query === DataQueryType.EVENTLOCATION">
        <mat-checkbox formControlName="nameHover"
                      [disableRipple]="true">
            Display event name on hover
        </mat-checkbox>
    </div>
    <div *ngIf="querySource.query !== DataQueryType.DEVICELOCATION"
         class="form-field">
        <mat-checkbox formControlName="focusMap"
                      [disableRipple]="true">
            Follow GPS position
        </mat-checkbox>
    </div>
    <div class="form-field">
        <mat-checkbox formControlName="heatMap"
                      [disableRipple]="true">
            Show as a point density heat map
        </mat-checkbox>
    </div>
</div>
<div *ngIf="(querySource.query === DataQueryType.LOCATION || querySource.query === DataQueryType.EVENTLOCATION)
                && mapConfigForm.get('heatMap').value === false"
     class="form-group"
     [formGroup]="colourQueryForm">
    <div class="form-field">
        <mat-checkbox formControlName="enable"
                      [disableRipple]="true">
            Change map colours based on additional queries
        </mat-checkbox>
    </div>
</div>
<div *ngIf="colourQueryForm.get('enable').value === true"
     [formGroup]="colourQueryForm">
    <div class="form-group">
        <div class="form-field">
            <label for="colour-stream-name">Data stream name</label>
            <dynamic-select id="colour-stream-name"
                            name="colour-stream-name"
                            [required]="true"
                            [model]="colourQueryForm.get('streamName').value"
                            [upperBound]=0
                            [lowerBound]=0
                            [options]="additionalStreamOptions$ | async"
                            (modelChange)="selectStreamName($event)">
            </dynamic-select>
        </div>
        <div class="form-field">
            <mat-checkbox formControlName="interval"
                          [disableRipple]="true">
                Display stepped colours
            </mat-checkbox>
        </div>
        <div class="form-field">
            <mat-checkbox formControlName="legend"
                          [disableRipple]="true">
                Show legend
            </mat-checkbox>
        </div>
        <div class="form-field">
            <label for="colour-legend">Legend title</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="colour-legend"
                       name="colour-legend"
                       formControlName="legendTitle"
                       aria-label="The title of the legend"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div formArrayName="stops">
        <div class='data-title'>
            <h4>Color Settings</h4>
            <button mat-icon-button
                    title="Add Color Setting"
                    (click)="addColourStop()">
                <fa-icon icon="plus"></fa-icon>
            </button>
        </div>
        <div *ngFor="let item of stops.controls; let i = index;">
            <div [formGroupName]="i"
                 class="form-group">
                <div class="form-field">
                    <label for="stop-property-{{ i }}">Query value</label>
                    <mat-form-field appearance="outline">
                        <input type="text"
                               id="stop-property-{{ i }}"
                               name="stop-property-{{ i }}"
                               formControlName="number"
                               aria-label="Query Value"
                               matInput>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <label for="stop-colour-{{ i }}">Colour</label>
                    <colour-picker [colour]="item.value.colour"
                                   (colourChange)="updateColourStop(i, $event)"
                                   [placeholder]="'#0097a8'"
                                   [name]="'stop-colour-' + i "
                                   [label]="'Select Colour'">
                    </colour-picker>
                </div>
                <div class="form-field">
                    <button mat-icon-button
                            title="remove color setting"
                            (click)="removeStop(i)">
                        <fa-icon icon="trash"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="querySource.query === DataQueryType.LOCATION || querySource.query === DataQueryType.EVENTLOCATION"
     class="form-group"
     [formGroup]="hoverQueryForm">
    <div class="form-field">
        <mat-checkbox formControlName="enable"
                      [disableRipple]="true">
            Add hover text from additional queries
        </mat-checkbox>
    </div>
</div>
<div *ngIf="hoverQueryForm.get('enable').value === true"
     [formGroup]="hoverQueryForm">
    <div class='data-title'>
        <h4>Hover Text Queries</h4>
        <button mat-icon-button
                title="Add Query"
                (click)="addHoverQuery()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </div>
    <div *ngFor="let item of hover.controls; let i = index;"
         formArrayName="queries">
        <div [formGroupName]="i"
             class="form-group">
            <div class="form-field"
                 *ngIf="additionalStreamOptions$ | async as options">
                <label for="hover-stream-{{ i }}">Data stream name</label>
                <dynamic-select id="hover-stream-{{ i }}"
                                name="hover-stream-{{ i }}"
                                [required]="true"
                                [model]="item.value.stream"
                                [upperBound]=0
                                [lowerBound]=0
                                [options]="options"
                                [emptyHint]="'No streams found matching query'"
                                (modelChange)="selectHoverStreamName(i, $event)">
                </dynamic-select>
            </div>
            <div class="form-field">
                <label for="hover-label-{{ i }}">Hover label</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="hover-label-{{ i }}"
                           name="hover-label-{{ i }}"
                           formControlName="label"
                           aria-label="Hover label name"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <button mat-icon-button
                        title="remove hover text"
                        (click)="removeHover(i)">
                    <fa-icon icon="trash"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>