@import "~assets/css/_theme";

h4 {
    font-size: 1.2rem;
    color: $theme-secondary;
}

label {
    color: $txt-grey;
}

.data-title {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
    h4 {
        padding: 0.8rem 0 0 0;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 50px;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        justify-content: center;
    }
}

mat-checkbox {
    padding: 0.7rem 0;
}