<form class="login-panel"
      [formGroup]="loginForm"
      (submit)="login()">
     <img class="logo"
          src="./assets/images/login_logo.png" />
     <mat-form-field appearance="outline"
                     class='username'>
          <fa-icon matPrefix
                   icon="user"></fa-icon>
          <input matInput
                 formControlName="username"
                 name="username"
                 type="text"
                 placeholder="Username"
                 autocomplete="username" />
     </mat-form-field>
     <mat-form-field appearance="outline"
                     class='username'>
          <fa-icon matPrefix
                   icon="key"></fa-icon>
          <input matInput
                 formControlName="password"
                 name="password"
                 type="password"
                 placeholder="Password"
                 autocomplete="current-password" />
     </mat-form-field>
     <button mat-flat-button
             color="primary"
             type="submit">{{ loginMessage }}</button>
     <div *ngIf="!!error"
          (click)="clearError()"
          class="alert alert-danger"
          role="alert">{{ error }}</div>
     <div class='password-reset'><a [routerLink]="['/reset-password']">reset password</a></div>
</form>
<div class="splash"></div>