.mat-dialog-title {
    text-align: center;
}

.mat-dialog-actions {
    text-align: center;
    
    .dialog-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}