<h1 mat-dialog-title>Save Search</h1>
<div mat-dialog-content>
  <form [formGroup]="searchForm"
        (submit)="submitData($event)"
        class="main">
    <mat-form-field appearance="outline">
      <input name="searchName"
             type="text"
             formControlName="text"
             placeholder="saved search name"
             matInput />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class='dialog-buttons'>
    <button mat-flat-button
            color="primary"
            [mat-dialog-close]="data.name"
            [disabled]="data.name == null"
            cdkFocusInitial>
      Ok
    </button>
    <button mat-stroked-button
            (click)="onCancel()">
      Cancel
    </button>
  </div>
</div>