<card-collapse [title]="initialName"
               [deletebtn]="true"
               [deleteMessage]="'Remove query'"
               (delete)="remove()">
    <div class='query-form'>
        <div class="form-group">
            <div class="form-field">
                <label for="data-query-name">Query name</label>
                <mat-form-field appearance="outline">
                    <input [formControl]="nameControl"
                           id="data-query-name"
                           name="data-query-name"
                           type="text"
                           matInput />
                </mat-form-field>
            </div>
        </div>
        <div class="form-group"
             [formGroup]="queryForm">
            <div *ngIf="queryTypeOptions$ | async as queries"
                 class="form-field">
                <h4>Query Type</h4>
                <dynamic-select id="query-type-select"
                                name="query-type-select"
                                [required]="true"
                                [model]="queryForm.get('queryType').value"
                                [lowerBound]="0"
                                [options]="queries"
                                (modelChange)="selectQuery($event)">
                </dynamic-select>
            </div>
            <div class="form-field">
                <h4>Device Filter</h4>
                <div *ngIf="dataSource.deviceFilter != null"
                     class='current-device-filter'>
                    <div class='current-filter'>
                        <div>Selected filter:
                            <span class='search-name'>
                                {{ dataSource.deviceFilter.name }}
                            </span>
                        </div>
                        <button mat-icon-button
                                title="remove device filter"
                                (click)="removeDeviceFilter($event)">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                    <div class="search-terms">
                        <div class="search-term"
                             *ngFor="let searchTerm of dataSource.deviceFilter.terms">
                            <div class="term-title">{{ searchTerm.property }}:</div>
                            <div class="term-values">
                                <div *ngFor="let search of searchTerm.values; let i=index"
                                     class="term-item">
                                    {{ showTerm(search, searchTerm.property, i) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label for="device-search">Update Device Filter</label>
                <dynamic-select id="device-search"
                                name="device-search"
                                [model]="queryForm.get('device').value"
                                [upperBound]=0
                                [lowerBound]=0
                                [options]="deviceFilterOptions"
                                (modelChange)="selectDeviceFilter($event)">
                </dynamic-select>
            </div>
            <div *ngIf="dataSource.query !== DataQueryType.DEVICELOCATION && dataSource.query !== DataQueryType.DEVICE
                        && streamOptions$ | async as options"
                 class='form-field'>
                <h4>Data Stream Filter</h4>
                <label for="stream-name">Data stream name</label>
                <dynamic-select id="stream-name"
                                name="stream-name"
                                [required]="true"
                                [model]="queryForm.get('stream').value"
                                [upperBound]=0
                                [lowerBound]=0
                                [options]="options"
                                [emptyHint]="'No streams found matching query'"
                                (modelChange)="selectStreamFilter($event)">
                </dynamic-select>
            </div>
            <div *ngIf="dataSource.query === DataQueryType.DEVICELOCATION && streamOptions$ | async as options"
                 class='form-field'>
                <h4>Data Stream Filter</h4>
                <mat-checkbox formControlName="deviceHover"
                              [disableRipple]="true">
                    Show a stream value on hover.
                </mat-checkbox>
                <ng-container *ngIf="queryForm.get('deviceHover').value === true">
                    <label for="stream-name">Data stream name</label>
                    <dynamic-select id="stream-name"
                                    name="stream-name"
                                    [required]="true"
                                    [model]="queryForm.get('stream').value"
                                    [upperBound]=0
                                    [lowerBound]=0
                                    [options]="options"
                                    [emptyHint]="'No streams found matching query'"
                                    (modelChange)="selectStreamFilter($event)">
                    </dynamic-select>
                </ng-container>
            </div>
            <div *ngIf="dataSource.query === DataQueryType.DEVICELOCATION && !widget"
                 class='form-field'>
                <mat-checkbox formControlName="selectDevice"
                              [disableRipple]="true">
                    List devices in the datasources panel.
                </mat-checkbox>
            </div>
        </div>
        <query-source-configuration [displayType]="displayType"
                                    [queryType]="queryForm.get('queryType').value"
                                    [dataSource]="dataSource"
                                    [widget]="widget"
                                    (hasError)="configError($event)">
        </query-source-configuration>
    </div>
</card-collapse>
