<search-list [facets]="facets"
             [count]="itemCount"
             [saveType]="'alert.savedSearches'">
  <div class="item-list"
       id="item-list-scroll">
    <h4>{{ itemCount }} Results</h4>
    <cdk-virtual-scroll-viewport itemSize="60"
                                 class="list-viewport">
      <div *cdkVirtualFor="let item of items trackBy: itemById"
           class='list-item'
           (mouseenter)="hover(item.id)"
           (mouseleave)="leave()"
           (click)="select(item, $event)"
           [ngClass]="{ 'hover' : isHovered(item.id),
                        'selected' : isSelected(item.id),
                        'new': item.read === false  }">
        <div class="item-status">
          <fa-icon icon="circle"
                   [ngClass]="{ 'high': getSeverity(item) === 'High',
                              'medium': getSeverity(item) === 'Medium',
                              'low': getSeverity(item) === 'Low'}">
          </fa-icon>
        </div>
        <div class="item-detail">
          <div *ngIf="item.type"
               class="detail-type">
            {{ item.type }}
            <span *ngIf="item.status"
                  class="detail-status">
              - {{ item.status }}</span>
          </div>
          <div class="detail-title">
            {{ item.name || item.id }}
          </div>
          <div class='item-subtitle'>{{ item.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</div>
        </div>
        <button *ngIf='hasImages(item)'
                class="plain-btn"
                (click)="showGallery(item, $event)">
          <fa-icon [icon]='["fas","images"]'></fa-icon>
        </button>
        <button class="plain-btn"
                (click)="focusItem(item, $event)">
          <fa-icon [icon]='["far","dot-circle"]'></fa-icon>
        </button>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</search-list>