@import "~assets/css/_theme";
@import "~jsoneditor/dist/jsoneditor.min.css";

:host {
    position: relative;
    display: block;
}

.jsoneditor-error {
    color: $txt-danger;
    border: thin solid $form-danger-border;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.jsoneditor {
    color: $txt-black;
    border: thin solid $theme-primary;
}

div.jsoneditor-value.jsoneditor-string {
    color: #006000;
}

div.jsoneditor-value.jsoneditor-number {
    color: #ee422e;
}

div.jsoneditor-value.jsoneditor-boolean {
    color: #ff8c00;
}

div.jsoneditor-value.jsoneditor-null {
    color: #004ed0;
}

div.jsoneditor-value.jsoneditor-invalid {
    color: #000000;
}

div.jsoneditor-readonly {
    color: #808080;
}

div.jsoneditor-empty {
    border-color: #d3d3d3;
}

div.jsoneditor td.jsoneditor-separator {
    color: #808080;
}

div.jsoneditor.busy pre.jsoneditor-preview {
    background: #f5f5f5;
    color: #808080;
}

div.jsoneditor-default {
    color: #808080;
}

div.jsoneditor-tree button.jsoneditor-button:focus {
    background-color: #f5f5f5;
    outline: #e5e5e5 solid 1px;
}

div.jsoneditor-tree div.jsoneditor-show-more {
    background-color: #e5e5e5;
    color: #808080;
    font-family: "CeraPro", arial, sans-serif;
}

div.jsoneditor-tree div.jsoneditor-show-more a {
    color: #808080;
}

div.jsoneditor-tree div.jsoneditor-color {
    border: 1px solid #808080;
}

div.jsoneditor-tree div.jsoneditor-date {
    background: #a1a1a1;
    color: #ffffff;
    font-family: "CeraPro", arial, sans-serif;
}

div.jsoneditor-busy span {
    background-color: #ffffab;
    border: 1px solid #ffee00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

div.jsoneditor-field.jsoneditor-empty::after,
div.jsoneditor-value.jsoneditor-empty::after {
    color: #d3d3d3;
}

div.jsoneditor-value.jsoneditor-url,
a.jsoneditor-value.jsoneditor-url {
    color: #006000;
}

a.jsoneditor-value.jsoneditor-url:hover,
a.jsoneditor-value.jsoneditor-url:focus {
    color: #ee422e;
}

div.jsoneditor-field[contenteditable="true"]:focus,
div.jsoneditor-field[contenteditable="true"]:hover,
div.jsoneditor-value[contenteditable="true"]:focus,
div.jsoneditor-value[contenteditable="true"]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
    background-color: #ffffab;
    border: 1px solid #ffee00;
}

div.jsoneditor-field.jsoneditor-highlight-active,
div.jsoneditor-field.jsoneditor-highlight-active:focus,
div.jsoneditor-field.jsoneditor-highlight-active:hover,
div.jsoneditor-value.jsoneditor-highlight-active,
div.jsoneditor-value.jsoneditor-highlight-active:focus,
div.jsoneditor-value.jsoneditor-highlight-active:hover {
    background-color: #ffee00;
    border: 1px solid #ffc700;
}

div.jsoneditor-tree div.jsoneditor-show-more a:hover,
div.jsoneditor-tree div.jsoneditor-show-more a:focus {
    color: #ee422e;
}

textarea.jsoneditor-text {
    background-color: #ffffff;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
    background-color: #d3d3d3;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
pre.jsoneditor-preview,
.jsoneditor-schema-error,
.jsoneditor-popover {
    font-family: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier,
        monospace, sans-serif;
    color: #1a1a1a;
}

.jsoneditor-popover {
    background-color: #4c4c4c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.jsoneditor-popover.jsoneditor-above:before {
    border-top: 7px solid #4c4c4c;
}

.jsoneditor-popover.jsoneditor-below:before {
    border-bottom: 7px solid #4c4c4c;
}

.jsoneditor-popover.jsoneditor-left:before {
    border-left: 7px solid #4c4c4c;
}

.jsoneditor-popover.jsoneditor-right:before {
    border-right: 7px solid #4c4c4c;
}

.jsoneditor .jsoneditor-additional-errors {
    color: #808080;
    background-color: #ebebeb;
}

.jsoneditor .jsoneditor-text-errors {
    border-top: 1px solid #ffc700;
}

.jsoneditor .jsoneditor-text-errors tr {
    background-color: #ffffab;
}

.jsoneditor .jsoneditor-text-errors tr.parse-error {
    background-color: #ee2e2e70;
}

.jsoneditor-contextmenu .jsoneditor-menu {
    background: #ffffff;
    border: 1px solid #d3d3d3;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
}

.jsoneditor-contextmenu .jsoneditor-menu button {
    color: #4d4d4d;
    font-family: "CeraPro", arial, sans-serif;
}

.jsoneditor-contextmenu .jsoneditor-menu button.jsoneditor-expand {
    border-left: 1px solid #e5e5e5;
}

.jsoneditor-contextmenu .jsoneditor-menu li ul {
    box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.5);
}

.jsoneditor-contextmenu .jsoneditor-separator {
    border-top: 1px solid #e5e5e5;
}

.jsoneditor-contextmenu .jsoneditor-menu button:hover,
.jsoneditor-contextmenu .jsoneditor-menu button:focus {
    color: #1a1a1a;
    background-color: #f5f5f5;
}

.jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected,
.jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:hover,
.jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:focus {
    color: #ffffff;
    background-color: #ee422e;
}

.jsoneditor-contextmenu .jsoneditor-menu li ul li button:hover,
.jsoneditor-contextmenu .jsoneditor-menu li ul li button:focus {
    background-color: #f5f5f5;
}

.jsoneditor-modal {
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
    color: #4d4d4d;
}

.jsoneditor-modal .pico-modal-header {
    font-family: "CeraPro", arial, sans-serif;
    background: $theme-primary;
    color: $txt-white;
}

.jsoneditor-modal a {
    color: $theme-primary;
}

.jsoneditor-modal .pico-close {
    color: #ffffff;
}

.jsoneditor-modal input[disabled] {
    background: #d3d3d3;
    color: #808080;
}

.jsoneditor-modal .jsoneditor-select-wrapper:after {
    border-top: 6px solid #666;
}

.jsoneditor-modal .jsoneditor-transform-preview {
    background: #f5f5f5;
}

.jsoneditor-modal .jsoneditor-transform-preview.jsoneditor-error {
    color: #ee422e;
}

.jsoneditor-modal .jsoneditor-jmespath-label {
    color: $theme-primary;
}

.jsoneditor-modal .selectr-selected {
    border-color: #d3d3d3;
}

.jsoneditor-modal .selectr-selected .selectr-tag {
    background-color: $theme-primary;
}

.jsoneditor-modal table th,
.jsoneditor-modal table td {
    color: #4d4d4d;
}

.jsoneditor-modal select,
.jsoneditor-modal textarea,
.jsoneditor-modal input,
.jsoneditor-modal #query {
    background: #ffffff;
    border: 1px solid #d3d3d3;
    color: #4d4d4d;
}

.jsoneditor-modal,
.jsoneditor-modal table td,
.jsoneditor-modal table th,
.jsoneditor-modal select,
.jsoneditor-modal option,
.jsoneditor-modal textarea,
.jsoneditor-modal input,
.jsoneditor-modal #query {
    font-family: "CeraPro", arial, sans-serif;
}

.jsoneditor-modal #query,
.jsoneditor-modal .jsoneditor-transform-preview {
    font-family: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier,
        monospace, sans-serif;
}

.jsoneditor-modal input[type="button"],
.jsoneditor-modal input[type="submit"] {
    background: #f5f5f5;
}

.jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-asc input.jsoneditor-button-asc,
.jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-desc input.jsoneditor-button-desc {
    background: $theme-primary;
    border-color: $theme-primary;
    color: $txt-white;
}
.jsoneditor-menu {
    color: $txt-white;
    background-color: $theme-primary;
    border-bottom: 1px solid $theme-primary;
}

.jsoneditor-menu > button:hover,
.jsoneditor-menu > .jsoneditor-modes > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.jsoneditor-menu > button:focus,
.jsoneditor-menu > button:active,
.jsoneditor-menu > .jsoneditor-modes > button:focus,
.jsoneditor-menu > .jsoneditor-modes > button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.jsoneditor-menu a {
    font-family: "CeraPro", arial, sans-serif;
    color: #ffffff;
}

.jsoneditor-search {
    font-family: "CeraPro", arial, sans-serif;
    height: 27px;
}

.jsoneditor-search input {
    color: $txt-black;
    line-height: 21px;
    padding: 2px 4px;
}

.jsoneditor-results {
    font-family: "CeraPro", arial, sans-serif;
    color: #ffffff;
}

.jsoneditor-frame {
    background-color: #ffffff;
}
.jsoneditor .autocomplete.dropdown {
    background: #ffffff;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
    border: 1px solid #d3d3d3;
}

.jsoneditor .autocomplete.dropdown .item {
    color: #333;
}

.jsoneditor .autocomplete.dropdown .item.hover {
    background-color: #ddd;
}

.jsoneditor .autocomplete.hint {
    color: #aaa;
}

.jsoneditor-treepath.show-all {
    background-color: #ebebeb;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
}

.jsoneditor-treepath .jsoneditor-treepath-show-all-btn {
    background-color: #ebebeb;
}

.jsoneditor-treepath .jsoneditor-treepath-element {
    font-family: "CeraPro", arial, sans-serif;
}

.jsoneditor-treepath .jsoneditor-treepath-seperator {
    font-family: "CeraPro", arial, sans-serif;
}

.jsoneditor-statusbar {
    color: #808080;
    background-color: #ebebeb;
    border-top: 1px solid #d3d3d3;
}

.jsoneditor-navigation-bar {
    border-bottom: 1px solid #d3d3d3;
    color: #808080;
    background-color: #ebebeb;
    font-family: "CeraPro", arial, sans-serif;
}

.selectr-selected {
    border: 1px solid #999999;
    background-color: #ffffff;
}

.selectr-selected::before {
    border-color: #6c7a86 transparent transparent;
}

.selectr-container.open .selectr-selected::before,
.selectr-container.native-open .selectr-selected::before {
    border-color: transparent transparent #6c7a86;
}

.selectr-placeholder {
    color: #6c7a86;
}

.selectr-tag {
    color: #ffffff;
    background: #acb7bf none repeat scroll 0 0;
}

.selectr-options-container {
    border-color: transparent #999999 #999999;
    background-color: #ffffff;
}
.selectr-clear::before,
.selectr-clear::after,
.selectr-input-clear::before,
.selectr-input-clear::after,
.selectr-tag-remove::before,
.selectr-tag-remove::after {
    background-color: #6c7a86;
}

.selectr-tag-remove::before,
.selectr-tag-remove::after {
    background-color: #ffffff;
}

.selectr-input {
    border: 1px solid #999999;
}

.selectr-notice {
    border-top: 1px solid #999999;
    background-color: #ffffff;
}

.selectr-option.selected {
    background-color: #ddd;
}

.selectr-option.active {
    color: #ffffff;
    background-color: $theme-primary;
}

.selectr-container.open .selectr-selected {
    border-color: #999999 #999999 transparent #999999;
}

.selectr-input-container.loading::after {
    border-color: #aaa #ddd #ddd;
}

.selectr-container.open.inverted .selectr-selected {
    border-color: transparent #999999 #999999;
}

.selectr-container.inverted .selectr-options-container {
    border-color: #999999 #999999 transparent;
    background-color: #ffffff;
}

.selectr-container ::-webkit-input-placeholder {
    color: #6c7a86;
}

.selectr-container ::-moz-placeholder {
    color: #6c7a86;
}

.selectr-container :-ms-input-placeholder {
    color: #6c7a86;
}

.selectr-container ::placeholder {
    color: #6c7a86;
}
