<div *ngIf="displayType === VisualisationComponentType.LINEGRAPH 
            || displayType === VisualisationComponentType.BARGRAPH
            || displayType === VisualisationComponentType.EVENTS">
    <h4>Graph Configuration</h4>
    <div class="form-group"
         [formGroup]="graphConfigForm">
        <div class="form-field">
            <mat-checkbox formControlName="hideXAxis"
                          [disableRipple]="true">
                Hide X axis
            </mat-checkbox>
        </div>
        <div class="form-field">
            <label for="x-axis-label">X axis label</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="x-axis-label"
                       name="x-axis-label"
                       formControlName="xLabel"
                       matInput />
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-checkbox formControlName="hideYAxis"
                          [disableRipple]="true">
                Hide Y axis
            </mat-checkbox>
        </div>
        <div class="form-field">
            <label for="y-axis-label">Y axis label</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="y-axis-label"
                       name="y-axis-label"
                       formControlName="yLabel"
                       matInput />
            </mat-form-field>
        </div>
        <div class="form-field"
             *ngIf="displayType === VisualisationComponentType.BARGRAPH 
                && (configuration['stops'] == null || configuration['stops'].length === 0)">
            <label for="graph-size">Maximum Bars</label>
            <mat-form-field appearance="outline">
                <input type="number"
                       id="graph-size"
                       name="graph-size"
                       formControlName="size"
                       matInput />
            </mat-form-field>
        </div>
        <mat-radio-group *ngIf="displayType === VisualisationComponentType.BARGRAPH 
                                    && queryTypes.includes(DataQueryType.EVENTS)"
                         class='form-field'
                         formControlName="displayType">
            <mat-radio-button value="count">
                Event count
            </mat-radio-button>
            <mat-radio-button value="severity">
                Event severity
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <graph-range-form *ngIf="displayType === VisualisationComponentType.BARGRAPH 
                                && queryTypes.includes(DataQueryType.AGGREGATION)"
                      [config]="configuration"
                      (save)="saveGraphRange($event)"
                      (hasError)='sendError($event)'>
    </graph-range-form>
</div>
<div *ngIf="displayType === VisualisationComponentType.GAUGE">
    <h4>Gauge Configuration</h4>
    <div class="form-group"
         [formGroup]="graphConfigForm">
        <div class="form-field">
            <mat-checkbox formControlName="hideYAxis"
                          [disableRipple]="true">
                Hide axis
            </mat-checkbox>
        </div>
        <div class="form-field">
            <mat-checkbox formControlName="hideXAxis"
                          [disableRipple]="true">
                Hide central text
            </mat-checkbox>
        </div>
        <div class="form-field">
            <label for="gauge-units">Units</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="gauge-units"
                       name="gauge-units"
                       formControlName="xLabel"
                       matInput />
            </mat-form-field>
        </div>
        <div class="form-field">
            <label for="gauge-value-format">Central value type</label>
            <dynamic-select id="gauge-value-format"
                            name="gauge-value-format"
                            [model]="graphConfigForm.get('formatType').value"
                            [options]="gaugeValueFormat"
                            [upperBound]="0"
                            (modelChange)="selectFormatType($event)">
            </dynamic-select>
        </div>
        <div class="form-field">
            <label for="graph-min">Scale minimum</label>
            <mat-form-field appearance="outline">
                <input type="number"
                       id="graph-min"
                       name="graph-min"
                       formControlName="min"
                       placeholder="0"
                       matInput />
            </mat-form-field>
        </div>
        <div class="form-field">
            <label for="graph-max">Scale maximum</label>
            <mat-form-field appearance="outline">
                <input type="number"
                       id="graph-max"
                       name="graph-max"
                       formControlName="max"
                       placeholder="100"
                       matInput />
            </mat-form-field>
        </div>
        <mat-radio-group class='form-field'
                         *ngIf="queryTypes.includes(DataQueryType.EVENTS)"
                         formControlName="displayType">
            <mat-radio-button value="count">
                Event count
            </mat-radio-button>
            <mat-radio-button value="severity">
                Event severity
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <graph-range-form *ngIf="queryTypes.includes(DataQueryType.AGGREGATION)"
                      [config]="configuration"
                      (save)="saveGraphRange($event)"
                      (hasError)='sendError($event)'>
    </graph-range-form>
</div>
<div *ngIf="displayType === VisualisationComponentType.PIECHART">
    <h4>Pie Chart Configuration</h4>
    <div class="form-group"
         [formGroup]="graphConfigForm">
        <div class="form-field">
            <mat-checkbox formControlName="hideXAxis"
                          [disableRipple]="true">
                Hide labels
            </mat-checkbox>
        </div>
        <div class="form-field">
            <mat-checkbox formControlName="hideYAxis"
                          [disableRipple]="true">
                Doughnut
            </mat-checkbox>
        </div>
        <div class="form-field">
            <label for="gauge-units">Units</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="gauge-units"
                       name="gauge-units"
                       formControlName="xLabel"
                       matInput />
            </mat-form-field>
        </div>
        <div class="form-field">
            <label for="gauge-value-format">Display Type</label>
            <dynamic-select id="pie-format"
                            name="pie-format"
                            [model]="graphConfigForm.get('formatType').value"
                            [options]="pieFormat"
                            [upperBound]="0"
                            (modelChange)="selectFormatType($event)">
            </dynamic-select>
        </div>
        <mat-radio-group class='form-field'
                         *ngIf="queryTypes.includes(DataQueryType.EVENTS)"
                         formControlName="displayType">
            <mat-radio-button value="count">
                Event count
            </mat-radio-button>
            <mat-radio-button value="severity">
                Event severity
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <graph-range-form *ngIf="queryTypes.includes(DataQueryType.AGGREGATION)"
                      [config]="configuration"
                      (save)="saveGraphRange($event)"
                      (hasError)='sendError($event)'>
    </graph-range-form>
</div>