@import "~assets/css/_theme";

:host {
    z-index: 100;
    background: $bg-white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.header {
    display: flex;
    align-items: center;
    border-top: 1px solid $acrylic-grey;
    border-bottom: 1px solid $acrylic-grey;

    .close-modal {
        margin-right: 0.5rem;
    }

    .header-title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60px;
        padding: 0 0.5rem;

        h3 {
            width: 100%;
            font-size: 24px;
            line-height: 1;
            margin: 0;
            padding-bottom: 4px;
        }
    }

    button {
        fa-icon {
            color: $txt-grey;
        }
        &:hover {
            fa-icon {
                color: $theme-secondary;
            }
        }
    }
}

.body {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 60px;
    width: 100%;
    overflow: auto;
}
