@import "~assets/css/_theme";

:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-row {
    flex: 0 0 36px;
    color: $txt-grey;
    display: flex;
    align-items: center;

    .actions {
        flex: 0 0 auto;
        button {
            height: 30px;
            width: 30px;
            line-height: 30px;
            :hover {
                color: $theme-secondary;
            }
        }
    }
}

.vis-wrapper {
    flex: 0 0 300px;
    height: 300px;
}