<div cdkDragHandle
     class="header-row">
  <ng-content></ng-content>
  <div class='actions'>
    <button *ngIf="widget.type === VisualisationComponentType.MAP"
            mat-icon-button
            [disableRipple]="true"
            title="Save current map centre and tilt"
            (click)="saveMapView()">
      <fa-icon icon="street-view"></fa-icon>
    </button>
    <button *ngIf="widget.type === VisualisationComponentType.LINEGRAPH || widget.type === VisualisationComponentType.EVENTS"
            mat-icon-button
            [disableRipple]="true"
            title="Reset time range"
            (click)="resetTimeRange()">
      <fa-icon icon="undo-alt"></fa-icon>
    </button>
    <button *ngIf="!editing"
            mat-icon-button
            (click)="edit()">
      <fa-icon icon="pen"></fa-icon>
    </button>
    <button mat-icon-button
            [disableRipple]="true"
            (click)="delete()">
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>
</div>

<vis-wrapper class="vis-wrapper"
             [configuration]="widget.configuration"
             [key]="key"
             [componentId]="key"
             [type]="widget.type"
             [startDate]="context.range.from"
             [endDate]="context.range.to"
             [widget]="true"
             [layers]="layers">
</vis-wrapper>