<div class='ngx-pie-chart'
     *ngIf="results.length > 0">
    <ngx-charts-pie-chart [scheme]="colorScheme"
                          [customColors]="customColors"
                          [results]="results"
                          [animations]="true"
                          [labels]="showLabels"
                          [doughnut]="doughnut"
                          [trimLabels]="trimLabels">
        <ng-template #tooltipTemplate
                     let-model="model">
            <div class='tooltip'>
                <div class='tooltip-label'>{{ model.name }}</div>
                <div class='tooltip-val'>{{ formatValue(model.value) }}</div>
            </div>
        </ng-template>
    </ngx-charts-pie-chart>
</div>