.introduction {
    flex: 1;
    height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: URL('./assets/images/intro_image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
}

.introduction_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: URL('./assets/images/introduction.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
