<div class="header">
  <button mat-icon-button
          (click)="runSearch()">
    <fa-icon icon="search"></fa-icon>
  </button>
  <h4>{{ resource.name }}</h4>
  <ng-container *ngIf="resource.content.link">
    <button mat-icon-button
            title="Remove search link"
            class="linked"
            (click)="toggleLink()">
      <fa-icon icon="unlink"></fa-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="!resource.content.link">
    <button mat-icon-button
            title="Add search link"
            (click)="toggleLink()">
      <fa-icon icon="link"></fa-icon>
    </button>
  </ng-container>
  <button mat-icon-button
          (click)="toggleOpen()">
    <fa-icon *ngIf="open"
             icon="caret-down">
    </fa-icon>
    <fa-icon *ngIf="!open"
             icon="caret-up"></fa-icon>
  </button>
</div>
<div *ngIf="open"
     class="body">
  <ng-content></ng-content>
</div>