@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $acrylic-grey;
    flex: 1;
}

.header {
    display: flex;
    align-items: baseline;
    margin: 4px;

    h4 {
        flex: 1;
        font-size: 18px;
        cursor: pointer;

        span {
            font-weight: 400;
        }
    }
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
    &.linked {
        fa-icon {
            color: $theme-primary;
        }
    }
}

.body {
    padding-top: 0;
    margin: 0 0.5rem 0 0.5rem;
    overflow: hidden;
}
