<div *ngIf="addbtn || title != ''"
     class="header">
    <h4>
        <ng-container *ngIf="uppercase">{{ title | uppercase }}</ng-container>
        <ng-container *ngIf="!uppercase">{{ title }}</ng-container>
        <span *ngIf="count !== undefined">({{ count }})</span>
    </h4>
    <button *ngIf="addbtn"
            mat-icon-button
            [title]="addMessage != null ? addMessage: 'Add an item'"
            (click)="addEmit()">
        <fa-icon class="add-icon"
                 icon="plus"></fa-icon>
    </button>
    <button *ngIf="editbtn"
            mat-icon-button
            [title]="editMessage != null ? editMessage: 'Edit this item'"
            (click)="editEmit()">
        <fa-icon class="edit-icon"
                 icon="pen"></fa-icon>
    </button>
    <button *ngIf="deletebtn"
            mat-icon-button
            [title]="deleteMessage != null ? deleteMessage: 'Delete this item'"
            (click)="deleteEmit()">
        <fa-icon class="delete-icon"
                 icon="trash"></fa-icon>
    </button>
</div>
<div class="body">
    <ng-content></ng-content>
</div>
