<div class="side-list">
    <div class='list-body'>
        <div *ngFor="let collection of annotationCollections; trackBy collectionByName" class='annotation-row'
            [ngClass]="collection.name === selected ? 'selected' : ''">
            <div class="list-title" (click)="selectCollection(collection.key)">
                <fa-icon id="layer-colour" matSuffix icon="circle" [style.color]="collection.resourceType"> </fa-icon>
                {{ collection.name }}
            </div>
            <button mat-icon-button title="Delete annotation collection: {{ collection.name }}"
                (click)="deleteCollection(collection.key, collection.name)">

                <fa-icon icon="trash"></fa-icon>
            </button>
        </div>
    </div>
    <div class="list-end">
        <button mat-flat-button color="primary" title="New Annotation Collection" (click)="newAnnotationCollection()">
            <fa-icon icon="plus"></fa-icon>
            New Annotation Collection
        </button>
    </div>
</div>
<div class="annotation-main">
    <router-outlet></router-outlet>
</div>