<item-panel-wrapper>
    <item-panel-header title="Create Group"
                       (close)="close()">
    </item-panel-header>
    <div [formGroup]="groupForm"
         class="form-group">
        <div class="form-field">
            <label for="group-name">Group Name</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="group-name"
                       name="group-name"
                       formControlName="name"
                       aria-label="Group name"
                       matInput />
            </mat-form-field>
        </div>
        <button mat-flat-button
                (click)="createGroup()"
                *ngIf="updated"
                color="accent"
                type="submit">
            Submit
        </button>
    </div>
</item-panel-wrapper>