@import "~assets/css/_theme";

:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.actions {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    padding-right: 1rem;
}

label {
    display: block;
    padding: 0.5rem 0;
    color: $txt-grey;
}
