<item-panel-wrapper *ngIf="stream">
    <div class="wrapper">
        <item-panel-subheader title="Device Settings"
                              (close)="close()"
                              returnMessage="Back to Device"
                              [showError]="showError"
                              [errorMessage]="errorMessage">
            <save-buttons *ngIf="updated"
                          [error]="disableSave"
                          (save)="sendJson()"
                          (cancel)="discardChanges()"></save-buttons>
        </item-panel-subheader>
        <card-wrapper>
            <card [title]="stream.name + ' JSON'">
                <div *ngIf="jsonSchema">
                    <button *ngIf="showForm"
                            mat-icon-button
                            title="Show json editor"
                            (click)="toggleForm()">
                        <fa-icon icon="code"></fa-icon>
                    </button>
                    <button *ngIf="!showForm"
                            mat-icon-button
                            title="Show configuration form"
                            (click)="toggleForm()">
                        <fa-icon icon="list"></fa-icon>
                    </button>
                </div>

                <json-edit *ngIf="!showForm"
                           [json]="entryCopy != null && entryCopy.config != null ? entryCopy.config : null"
                           [schema]="jsonSchema"
                           mode="code"
                           [expanded]="true"
                           (error)="setError($event)"
                           (update)="updateJson($event)">
                </json-edit>
                <schema-form *ngIf="showForm"
                             name="Device Settings Configuration Form"
                             [json]="entryCopy != null && entryCopy.config != null ? entryCopy.config : null"
                             [schema]="jsonSchema"
                             (error)="setError($event)"
                             (update)="updateJson($event)">>
                </schema-form>
            </card>
            <card title="Details"
                  [formGroup]="shadowForm">
                <div *ngIf="entry != null && entry.origin != null">
                    <label>Origin</label>
                    <div>{{ entry.origin }}</div>
                </div>
                <label>Tags</label>
                <tags [tags]="entry != null && entry.tags != null ? entry.tags : []"
                      (addTag)="addTag($event)"
                      (removeTag)="removeTag($event)">
                </tags>
                <div *ngIf="entry != null && entry.metadata != null">
                    <label>Metadata</label>
                    <json-edit [json]="entry.metadata"
                               mode="view">
                    </json-edit>
                </div>
                <label for="revision">Version</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="revision"
                           name="revision"
                           formControlName="revision"
                           aria-label="The current version"
                           matInput>
                </mat-form-field>
                <div *ngIf="entry != null && entry.derivedFromConfig != null"><label>Derived from</label>
                    {{ entry.derivedFromConfig }}
                </div>
            </card>
            <card-collapse *ngIf="entry != null"
                           [title]="'Device Settings History'"
                           [open]="history"
                           (openStatus)="showHistory()">
                <device-shadow-history *ngIf="history"
                                       [show]="history"
                                       [stream]="stream"
                                       (derive)="updateFromHistory($event)">
                </device-shadow-history>
            </card-collapse>
        </card-wrapper>
    </div>
</item-panel-wrapper>
