@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
}
