<div *ngIf="imageUrl"
     class='image'
     (click)="selectMedia($event)">
  <img [src]="imageUrl" />
</div>
<media-modal *ngIf="showModal | async"
             [images]="data[selected]"
             [hasPrev]="selected > 0"
             [hasNext]="(selected + 1) < data.length"
             (prev)="prevSelect()"
             (next)="nextSelect()"
             (close)="clearSelection()"
             (classificationContext)="editClassifications($event)">
</media-modal>