@import "~assets/css/_theme";

.feedback-entry {
    margin-bottom: 4px;
    border: 1px solid $acrylic-grey;
    border-radius: 4px;

    .feedback-comment {
        .feedback-header {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            background: $theme-primary;
            height: 2rem;
            padding: 0.5rem 0 0.5rem 0.7rem;
            font-weight: 500;
            color: $txt-white;

            .feedback-date {
                color: $txt-white;
                flex: 1;
            }
        }

        .feedback-content {
            padding: 0.5rem;
        }
    }

    fa-icon {
        padding-right: 0.7rem;
        color: $txt-grey;
    }

    .feedback-system {
        padding: 0.5rem 0 0.5rem 0.7rem;
        background: $bg-light-grey;
        display: flex;
    }

    .feedback-user {
        min-width: 100px;
    }

    .feedback-date {
        flex: 0 auto;
        color: $txt-light-grey;
    }

    .feedback-description {
        padding-left: 0.5rem;
        flex: 1 auto;
    }
}

.add-comment {
    margin-top: 1em;

    label {
        color: $txt-grey;
    }

    textarea {
        width: 100%;
    }
}
