<div class="feedback-entry"
     *ngFor="let f of feedback">
  <div *ngIf="f.type === 'comment'"
       class='feedback-comment'>
    <div class='feedback-header'>
      <fa-icon icon="user"></fa-icon>
      <div class="feedback-user">
        {{ f.user }}
      </div>
      <div class='feedback-date'>{{ f.timestamp | date:'short'}}</div>
      <button mat-icon-button
              (click)="delete(f.id)">
        <fa-icon icon="times"></fa-icon>
      </button>
    </div>
    <div class='feedback-content'>
      {{ f.description }}
    </div>
  </div>
  <div *ngIf="f.type === 'system'"
       class='feedback-system'>
    <fa-icon icon="user"></fa-icon>
    <div class="feedback-user">
      {{ f.user }}
    </div>
    <div class="feedback-date">{{ f.timestamp | date:'short'}}</div>
    <div class="feedback-description">{{ f.description }}</div>
  </div>
</div>
<form class='add-comment'
      [formGroup]="feedbackForm"
      (ngSubmit)="send()">
  <label>Add comment</label>
  <mat-form-field appearance="outline"
                  class="wide">
    <textarea matInput
              rows=3
              formControlName="comment"
              (keydown)="enterFeedback($event)"></textarea>
  </mat-form-field>
  <button mat-flat-button
          color="primary"
          type="submit">
    Submit
  </button>
</form>