@import "~assets/css/_theme";

:host {
    width: 252px;
    height: 252px;
    display: block;
    border: 1px solid $acrylic-grey;
    position: relative;
}

.color-palette:hover {
    cursor: pointer;
}

svg {
    position: absolute;
    height: 250px;
    width: 250px;
}
