<svg (mousedown)="onMouseDown($event)"
     (mousemove)="onMouseMove($event)">
    <circle #circle
            [attr.cx]="circlePosition.x"
            [attr.cy]="circlePosition.y"
            r="10"
            fill="none"
            stroke="white"
            stroke-width="4">
    </circle>
</svg>
<canvas #canvas
        class="color-palette"
        width="250"
        height="250">
</canvas>