:host {
    width: 100%;
    height: 100%;
    display: block;
}

.map-display {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 6px;
}
