@import "~assets/css/_theme";
@import "~assets/css/_variables";

$nav-offset: 92px;
$nav-width-full: 152px;

$transition-duration: 150ms;

:host {
    display: flex;
    height: 100%;
}

.main-nav {
    width: $nav-width-full;
    margin-left: -$nav-offset;
    background: $bg-black;
    height: 100vh;
    color: $txt-white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: margin $transition-duration ease-out;
    position: relative;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;

    &.open {
        margin-left: 0;
    }

    .account-routes {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.open {
    .sub-heading {
        width: 100%;
    }

    .branding {
        width: 100%;

        .logo {
            width: 132px;
            flex: 0 0 132px;
            align-self: center;
        }
    }
}

.branding {
    height: $subnav-height;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    border-bottom: 1px solid $bg-black-prime;

    .logo {
        // width: 36px;
        height: 40px;
        padding-right: 12px;
    }
}

.expand {
    height: 42px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    border-bottom: 1px solid $bg-black-prime;
    box-sizing: border-box;

    .icon {
        flex: 0 0 $nav-width;
        text-align: center;
        font-size: 18px;
        padding: 0;
        margin-top: 2px;
        align-self: center;
    }

    &:hover {
        background: $bg-black-prime;
    }
}

.nav-body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $bg-black-prime;
}

.nav-foot {
    flex: 0 0 auto;
    width: 100%;
}

.page-wrapper {
    flex: 1;
    overflow: hidden;
}
