<div class="main-nav"
     [ngClass]="{'open': navOpen === true }">

  <div class="branding">
    <img *ngIf="navOpen === true"
         class="logo"
         src="./assets/images/tz_logo_text.svg" />
    <img *ngIf="navOpen === false"
         class="logo"
         src="./assets/images/tz_logo.svg" />
  </div>
  <div class="expand"
       (click)="toggleNav()">
    <div class="name"></div>
    <div class="icon">
      <fa-icon *ngIf="navOpen === false"
               icon="angle-right"></fa-icon>
      <fa-icon *ngIf="navOpen === true"
               icon="angle-left"></fa-icon>
    </div>
  </div>
  <side-menu *ngFor="let entry of routes"
             [routes]="entry.routes"
             [heading]="entry.submenu"
             [open]="navOpen"></side-menu>

  <side-menu *ngFor="let entry of accountRoutes"
             class='account-routes'
             [routes]="entry.routes"
             [heading]="entry.submenu"
             [open]="navOpen"></side-menu>
</div>
<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>