@import "~assets/css/_theme";
@import "~assets/css/_variables";

:host {
    flex: 0 1 auto;
    width: 680px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.device-info {
    .label {
        color: $txt-grey;
        padding-right: 1rem;
    }
    td {
        padding: 5px 0;
    }
}

map-edit {
    width: 100%;
    height: 200px;
}

.stream-list {
    padding-bottom: 1rem;
    font-weight: 500;

    .stream-title {
        font-weight: 500;
        padding: 0.5rem 0;
    }

    .no-data {
        font-size: 0.7rem;
        padding: 0.2rem 0;
        color: $txt-light-grey;
    }

    .stream-data {
        height: 50px;
    }
}
