<item-panel-wrapper *ngIf="device"
                    [loading]="loading">
  <item-panel-header [title]="device.name || device.key"
                     (close)="close()">
  </item-panel-header>
  <card-wrapper>
    <card [title]="'Metadata'">
      <table class="device-info">
        <tr *ngFor="let key of rootKeys">
          <td class="label">{{ key }}</td>
          <td>{{ device[key]}}</td>
        </tr>
        <tr *ngFor="let key of metadataKeys">
          <td class="label">{{ key }}</td>
          <td>{{ device.metadata[key]}}</td>
        </tr>
      </table>
    </card>
    <card [title]="'Location'">
      <map-edit [location]="device.location"
                [displayOnly]="true">
      </map-edit>
    </card>
    <card [title]="'Stream Data (for the last week)'"
          class="stream-list">
      <device-stream-status [device]="device"
                            [dateRange]="lastWeekRange()">
      </device-stream-status>
    </card>
  </card-wrapper>
</item-panel-wrapper>