@import "~assets/css/_theme";
@import "~assets/css/_variables";

:host {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.table-wrapper {
    min-width: 400px;
    display: flex;
    flex: 1;
    position: relative;

    .config-table {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        overflow: auto;

        .search-component {
            width: 100%;
            flex: 0 0 auto;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .search-wrapper {
                min-width: 400px;
                display: flex;
                flex-direction: column;
                background-color: $bg-white;
                border-radius: 4px;
                border: 1px solid $acrylic-grey;

                search-box {
                    height: $toolbar-height;
                }
            }

            button {
                flex: 0 0 auto;
                fa-icon {
                    margin-right: 8px;
                }
            }
        }

        table {
            width: 100%;

            tr {
                cursor: pointer;

                &:hover {
                    background: $acrylic-grey;
                }

                &.selected {
                    background: $theme-primary;
                    border-color: $theme-primary;
                    td {
                        color: $bg-white;
                    }
                }
            }
        }
    }
}

.search-overlay {
    position: relative;
    width: 420px;
    border-right: 1px solid $acrylic-grey;
}
