<div class="table-wrapper">
  <div *ngIf="currentModal != null"
       class='search-overlay'>
    <search-filter *ngIf="currentModal === 'filter'"
                   [count]="deviceCount | async"
                   [facets]="facets"></search-filter>
    <saved-search-list *ngIf="currentModal === 'saved'"
                       [saveType]="'device.savedSearches'"></saved-search-list>
  </div>
  <div class="config-table">
    <div class="search-component">
      <div class="search-wrapper">
        <search-box></search-box>
        <current-search [saveType]="'device.savedSearches'"></current-search>
      </div>
      <button mat-flat-button
              title='Add new device'
              class='new-item'
              [color]="'primary'"
              [disabled]="!showCreate"
              (click)="createDevice()">
        <fa-icon icon="plus"></fa-icon>
        Create Device
      </button>
    </div>
    <table mat-table
           [dataSource]="dataSource">
      <ng-container matColumnDef="key">
        <th mat-header-cell
            *matHeaderCellDef>Key</th>
        <td mat-cell
            *matCellDef="let element">{{ element.key }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell
            *matHeaderCellDef>Type</th>
        <td mat-cell
            *matCellDef="let element">{{ element.type }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef>Name</th>
        <td mat-cell
            *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'selected' : selectedKey && selectedKey === row.key }"
          (click)="editDevice(row.key)"></tr>
    </table>

    <mat-paginator [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 30]"
                   [length]="dataSource.entitiesCount$ | async"
                   [showFirstLastButtons]="false"></mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>
