@import "~assets/css/_theme";

:host {
    padding: 1rem;
    overflow-y: auto;
}

.component-header {
    padding: 0.7rem 0.5rem;
    font-weight: 500;
    color: $theme-secondary;
}

.layer {
    width: 100%;
    border-bottom: 1px solid $theme-primary;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .layer-title {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;

        &:hover {
            background: $acrylic-grey;
        }

        &.error {
            color: $txt-danger;
        }

        &.selected {
            background: $acrylic-grey;
            border-color: $acrylic-grey;
            color: $txt-dark-grey;

            &.error {
                color: $txt-danger;
            }
        }
    }

    .layer-error {
        width: 100%;
        color: $txt-danger;
        padding: 0.5rem;
    }

    .device-list {
        width: 100%;
        .device {
            border-top: 1px solid $acrylic-grey;
            display: flex;
            align-items: center;
            padding-left: 0.5rem;
        }
    }

    .name {
        flex: 1;
    }
}
