<div *ngFor="let component of display.components">
  <div class='component-header'>
    {{ component.name || component.type }}
  </div>
  <div *ngFor="let layer of component.sources"
       class="layer">
    <div class='layer-title'
         (click)="toggleQuery(layer)"
         [ngClass]="{ error: isError(layer), selected: isSelected(layer) }">
      <div class='name'>{{ layer.name || layer.query }}</div>
      <button mat-icon-button>
        <fa-icon *ngIf="isLoading(layer)"
                 class="fa-spin"
                 icon="spinner">
        </fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon *ngIf="!isSelected(layer)"
                 class="status"
                 [icon]="isError(layer)? 'exclamation-triangle' : 'check'">
        </fa-icon>
      </button>
    </div>
    <div *ngIf="isError(layer)"
         class='layer-error'>
      {{ errorMessage(component.id, layer.id) }}
    </div>
    <div *ngIf="layer.selectDevice"
         class="device-list">
      <div *ngFor="let device of getDevices(component.id, layer.id)"
           class="device">
        <div class='name'>{{ device.properties.name || device.properties.key }}</div>
        <button mat-icon-button
                (click)="focusDevice(device.geometry)">
          <fa-icon [icon]='["far","dot-circle"]'></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>