<h4>Aggregation Query Settings</h4>
<div class="form-group"
     [formGroup]="aggregationConfigForm">
  <div class="form-field">
    <mat-checkbox formControlName="groupByStream"
                  [disableRipple]="true">
      Group By Stream
    </mat-checkbox>
  </div>
  <div class="form-field">
    <label for="graph-interval">Interval</label>
    <mat-form-field appearance="outline">
      <input type="text"
             id="graph-interval"
             name="graph-interval"
             formControlName="interval"
             placeholder="1h"
             matInput>
      <mat-hint>The aggregation time interval, e.g. "10m" "2h"</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-field">
    <label for="graph-aggregation">Aggregation function</label>
    <dynamic-select id="graph-aggregation"
                    name="graph-aggregation"
                    [model]="aggregationConfigForm.get('math').value"
                    [upperBound]=0
                    [lowerBound]=0
                    [placeHolder]="'Average'"
                    [options]="aggregationOptions"
                    (modelChange)="selectAggregation($event)">
    </dynamic-select>
  </div>
  <div *ngIf="!widget && (displayType === VisualisationComponentType.BARGRAPH 
                || displayType === VisualisationComponentType.GAUGE
                || displayType === VisualisationComponentType.VALUE)"
       class="form-field">
    <mat-checkbox formControlName="useCurrentTime"
                  [disableRipple]="true">
      Use current time
    </mat-checkbox>
  </div>
</div>