<ng-container *ngIf="searchTerms.length > 0">
  <div *ngIf="searchName"
       class='saved-search'>
    Saved search: <span class='current-search-name'>{{ searchName }}</span>
  </div>
  <div class="current-search">
    <div class='search-terms'>
      <div class="search-block"
           *ngFor="let searchBlock of searchTerms">
        <span class="term-title">{{ searchBlock.property }}:</span>
        <div class="term-values">
          <div *ngFor="let search of searchBlock.values; let i=index"
               class="term-item"
               (click)="removeTerm(searchBlock, search)">
            {{ showTerm(search, searchBlock.property, i) }}
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <fa-icon *ngIf="showSave"
               (click)="openDialog()"
               icon="save"></fa-icon>
      <fa-icon (click)="clearAll()"
               icon="times"></fa-icon>
    </div>
  </div>
</ng-container>