@import "~assets/css/_theme";

$spacing: 4px;

:host {
    border-top: 1px solid $acrylic-grey;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.saved-search {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 20px;
    font-size: 0.8rem;
    color: $txt-grey;
    overflow: hidden;
    padding-left: 8px;
    border-bottom: 1px solid $acrylic-grey;

    .current-search-name {
        margin-left: 0.5rem;
        color: $txt-black;
    }
}

.current-search {
    padding: $spacing 8px;
    display: flex;
    align-items: flex-start;
    flex: 1;
    max-height: 200px;
    overflow-y: auto;

    .actions {
        display: flex;
        height: 100%;
        padding: 0.5rem 0.5rem 0 0;

        fa-icon {
            color: $txt-grey;
            margin-left: 12px;
            cursor: pointer;

            &:hover {
                color: $theme-secondary;
            }
        }
    }

    .search-terms {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        .search-block {
            display: flex;
            margin: 0 $spacing;
            padding: $spacing 0;

            .term-title {
                text-align: right;
                font-size: 1em;
                line-height: 1;
                margin: 0;
                margin-right: $spacing;
                text-transform: capitalize;

                display: flex;
                align-items: center;
            }

            .term-values {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .term-item {
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 20px;
                    min-width: 60px;
                    margin: 2px;
                    padding: 0 8px;

                    font-size: 0.9rem;
                    background: $theme-primary;
                    color: $txt-white;
                    border-radius: 50px;

                    &:hover::after {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        content: "Remove";
                        background: $bg-v-dark-grey;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
