<h1 mat-dialog-title>Import Visualisation</h1>
<div mat-dialog-content>
    <input type="file"
           (change)="onFileChange($event)" />
    <button mat-flat-button
            color="primary"
            cdkFocusInitial
            [disabled]="!uploaded"
            (click)="uploadVisualisation()">
        Import
    </button>
</div>