@import '~assets/css/_theme';
:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-left: 1px solid $acrylic-grey;
    border-right: 1px solid $acrylic-grey;
    flex: 0 1 auto;
    max-width: 420px;
    min-width: 240px;
    display: block;
    background: $bg-white;
}