<button mat-flat-button
        class='save-button'
        color="accent"
        (click)="emitSave()"
        [disableRipple]="error"
        [disabled]="error">
  Update
  <fa-icon icon="save"></fa-icon>
</button>
<button mat-flat-button
        class="cancel"
        (click)="emitCancel()">
  Discard
  <fa-icon icon="undo"></fa-icon>
</button>