<div *ngIf="routes.length > 0 && heading"
     class='sub-heading'
     [ngClass]="{'open': open, 'closed': !open }">{{ heading | uppercase }}</div>
<div *ngFor="let route of routes"
     [routerLink]="[route.link]"
     (click)="onClick(route)"
     routerLinkActive="active"
     class="nav-item"
     [ngClass]="{'open': open, 'closed': !open }">
     <div *ngIf="open"
          class="name">{{ route.title }}</div>
     <fa-icon *ngIf="route.icon && route.iconlib !== 'local'"
              class="icon"
              title="{{ route.title }}"
              [icon]="[route.iconlib,route.icon]"></fa-icon>
     <img [class]="route.iconlib === 'local' ? 'icon icon-local' : 'icon'" *ngIf="route.icon && route.iconlib === 'local'" [src]="'./assets/images/' + route.icon">
</div>
