@import "~assets/css/_theme";
@import "~assets/css/_variables";

$nav-width-value: 60;
$nav-offset-value: 92;
//Total 152

$nav-width: $nav-width-value + px;
$nav-offset: $nav-offset-value + px;
$nav-width-full: $nav-width-value + $nav-offset-value + px;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $bg-black-prime;
}

.sub-heading {
    flex: 0 0 24px;
    width: $nav-width;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 10px;

    &.closed {
        margin-left: auto;
    }
}

.nav-item {
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 24px;
    flex-wrap: nowrap;
    cursor: pointer;

    &.active {
        color: $theme-primary;
    }
    &:hover {
        background: $bg-black-prime;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        background: rgba(255, 255, 255, 0.05);
    }

    &.closed {
        .icon {
            margin-left: auto;
            margin-right: 20px;
        }
      .icon-local {
        margin-right: 14px;
      }
    }

    .name {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 12px;
        font-weight: 500;
        font-size: 0.9em;
        overflow: hidden;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 14px;
        height: 20px;
        font-size: 18px;
    }

    .icon-local{
      height: 32px;
      margin-right: 10px;
    }
}
