<card-collapse [title]="'Transform Details'"
               [open]="true"
               [formGroup]="transformForm">
    <div class="form-group">
        <div class="form-field">
            <label for="function-name">Function name</label>
            <dynamic-select id="function-name"
                            name="stream-name"
                            [required]="true"
                            [model]="transformForm.get('functionName').value"
                            [upperBound]=0
                            [lowerBound]=0
                            [options]="functionOptions$ | async"
                            (modelChange)="selectFunctionName($event)">
            </dynamic-select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <label for="run-schedule">Run schedule</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="run-schedule"
                       name="run-schedule"
                       formControlName="runSchedule"
                       aria-label="Run schedule"
                       matInput>
            </mat-form-field>
        </div>
    </div>
</card-collapse>

<card-collapse [title]="'Parameter Values'"
               [open]="transform.parameterValues != null"
               [addbtn]="true"
               [addMessage]="'Add parameter'"
               (add)="addParameterValue()"
               [formGroup]="transformForm">
    <div formArrayName="params"
         *ngFor="let item of params.controls; let i = index;">
        <key-value-row [key]="item.get('key').value"
                       [value]="item.get('value').value"
                       [canDelete]="true"
                       (keyChange)="item.get('key').setValue($event)"
                       (valueChange)="item.get('value').setValue($event)"
                       (delete)="removeParameterValue(i)">
        </key-value-row>
    </div>
</card-collapse>

<card-collapse [title]="'Transform Input Sources'"
               [open]="transform.sources != null && transform.sources.length > 0"
               [count]="transform.sources != null ? transform.sources.length : 0"
               [addbtn]="true"
               [addMessage]="'Add transform source'"
               (add)="addSource()"
               [formGroup]="transformForm">
    <div formArrayName="sources"
         class='form-array'
         *ngFor="let item of sources.controls; let i = index;">
        <div [formGroupName]="i"
             class="form-group">
            <div class="form-field">
                <label for="input-alias-{{ i }}">Alias</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="input-alias-{{ i }}"
                           name="input-alias-{{ i }}"
                           formControlName="alias"
                           aria-label="Input source alias"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="input-source-{{ i }}">Source key</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="input-source-{{ i }}"
                           name="input-source-{{ i }}"
                           formControlName="source"
                           aria-label="Input source key"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-checkbox formControlName="trigger"
                              [disableRipple]="true">
                    Trigger
                </mat-checkbox>
            </div>
            <div class="form-field">
                <label for="input-aggregation-spec-{{ i }}">Aggregation Spec</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="input-aggregation-spec-{{ i }}"
                           name="input-aggregation-spec-{{ i }}"
                           formControlName="aggregationSpec"
                           aria-label="Input source aggregation spec"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="input-aggregation-type-{{ i }}">Aggregation Type</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="input-aggregation-type-{{ i }}"
                           name="input-aggregation-type-{{ i }}"
                           formControlName="aggregationType"
                           aria-label="Input source aggregation type"
                           matInput>
                </mat-form-field>
            </div>
            <button mat-icon-button
                    class='icon'
                    title="remove source stream"
                    (click)="removeSource(i)">
                <fa-icon icon="trash"></fa-icon>
            </button>
        </div>
    </div>
    <p *ngIf="transform.sources != null && transform.sources.length === 0">
        No input sources specified
    </p>
</card-collapse>

<card-collapse [title]="'Output Streams'"
               [open]="transform.outputStreams != null && transform.outputStreams.length > 0"
               [count]="transform.outputStreams != null ? transform.outputStreams.length : 0"
               [addbtn]="true"
               [addMessage]="'Add an output stream'"
               (add)="addOutputStream()"
               [formGroup]="transformForm">
    <div formArrayName="outputStreams"
         class='form-array'
         *ngFor="let item of outputStreams.controls; let i = index;">
        <div [formGroupName]="i"
             class="form-group">
            <div class="form-field">
                <label for="output-alias-{{ i }}">Alias</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="output-alias-{{ i }}"
                           name="output-alias-{{ i }}"
                           formControlName="alias"
                           aria-label="Output stream alias"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="output-key-{{ i }}">Key</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="output-key-{{ i }}"
                           name="output-key-{{ i }}"
                           formControlName="key"
                           aria-label="Output stream key"
                           matInput>
                </mat-form-field>
            </div>
            <button mat-icon-button
                    class='icon'
                    title="remove output stream"
                    (click)="removeOutputStream(i)">
                <fa-icon icon="trash"></fa-icon>
            </button>
        </div>
    </div>
    <div *ngIf="outputStreams.controls.length === 0">
        No output streams specified
    </div>
</card-collapse>
