@import "~assets/css/_theme";

.form-array {
    border-bottom: 1px solid $acrylic-grey;
    margin-bottom: 1rem;
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    min-height: 50px;

    .form-field {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-right: 0.5rem;
        justify-content: center;
    }

    .icon {
        flex: 0 0 auto;
    }
}

label {
    color: $txt-grey;
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
}
