<mat-chip-list #chipList>
  <mat-chip *ngFor="let tag of tags"
            [class.removable]="removable"
            [removable]="removable"
            [selectable]="false"
            [disableRipple]="true"
            [title]="tag"
            (removed)="remove(tag)">
    {{tag}}
    <fa-icon *ngIf="removable"
             matChipRemove
             icon="times"></fa-icon>
  </mat-chip>
</mat-chip-list>
<div class='form-field'
     *ngIf="addable">
  <label>New tag</label>
  <mat-form-field appearance="outline">
    <input name="new-tag"
           type="text"
           (keydown)="add($event)"
           matInput />
  </mat-form-field>
</div>