@import "~assets/css/_theme";

:host {
    display: flex;
    flex-direction: column;
}

:host(.wide) {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

mat-chip-list {
    padding-bottom: 0.5rem;
    mat-chip.removable {
        padding: 0.2rem 0px 0.2rem 0.6rem;
        fa-icon {
            margin-top: 2px;
        }
    }
}

label {
    color: $txt-grey;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;

    mat-form-field {
        height: 40px;
    }
}
