<ngx-charts-chart *ngIf="ready"
                  [view]="[width, height]"
                  [showLegend]="false"
                  [animations]="animations">
  <svg:g [attr.transform]="transform"
         class="line-chart chart">
    <svg:g>
      <svg:g *ngFor="let series of results; trackBy:trackBy">
        <svg:g ngx-charts-line-series
               [xScale]="xScale"
               [yScale]="yScale"
               [colors]="colors"
               [data]="series"
               [activeEntries]="activeEntries"
               [scaleType]="scaleType"
               [curve]="curve"
               [animations]="animations" />
      </svg:g>
    </svg:g>
  </svg:g>
</ngx-charts-chart>