<ng-container *ngIf="facetGroup.selectMode == null || facetGroup.selectMode === 'multi'">
  <h4>{{ facetGroup.title }}</h4>
  <div class="facet check-all"
       *ngIf="facetGroup.options.length > 1"
       [ngClass]="{ 'selected' : allSelected(facetGroup) }"
       (click)="doSelectAll(facetGroup)">
    <fa-icon [icon]="allSelected(facetGroup)? ['fas', 'check-square']: ['far', 'square']"></fa-icon>
    <div class="name">
      {{ facetGroup.options.length === 2 ? "Both" : "All" }}
    </div>
    <div *ngIf="facetGroup.options.length > 1"
         class="count">
      {{ facetGroup.options.length }}
    </div>
  </div>
  <div class="facet"
       [ngClass]="{ 'selected' : isSelected(option, facetGroup) }"
       *ngFor="let option of facetGroup.options"
       (click)="doAddTerm(option, facetGroup)">
    <fa-icon [icon]="isSelected(option, facetGroup)? ['fas', 'check-square']: ['far', 'square']"></fa-icon>
    <div class="name">
      {{ option.title ? option.title : option.value }}
    </div>
    <div *ngIf="option.count != null"
         class="count">
      {{ option.count }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="facetGroup.selectMode === 'single'">
  <h4>{{ facetGroup.title }}</h4>
  <div class="facet"
       [ngClass]="{ 'selected' : isSelected(option, facetGroup) }"
       *ngFor="let option of facetGroup.options"
       (click)="doAddTerm(option, facetGroup)">
    <fa-icon [icon]="isSelected(option, facetGroup)? ['fas', 'circle']: ['far', 'circle']"></fa-icon>
    <div class="name">
      {{ option.title ? option.title : option.value }}
    </div>
    <div *ngIf="option.count != null"
         class="count">
      {{ option.count }}
    </div>
  </div>
</ng-container>