@import "~assets/css/_theme";

:host {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.divider {
    border-bottom: 1px solid $acrylic-grey;
    margin: 8px 2px;
}

h4 {
    margin: 1rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    color: $theme-secondary;
}

.facet {
    padding: 0.5rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:hover {
        background: $acrylic-grey;
    }

    .check-all {
        border-bottom: 1px solid $acrylic-grey;
    }
    .name {
        flex: 1;
        padding-left: 1rem;
    }

    &.selected {
        background: $theme-primary;
        color: $txt-white;
        fa-icon {
            color: $txt-white;
        }
    }

    fa-icon {
        margin-left: 1rem;
        color: $theme-secondary;
    }

    .count {
        flex: 0 0 50px;
        text-align: center;
        align-self: flex-end;
    }
}
