<item-panel-wrapper *ngIf="alert">
  <item-panel-subheader [title]="'Images'"
                        (close)="close()"
                        [returnMessage]="'Back to Event'">
  </item-panel-subheader>
  <card-wrapper>
    <card [title]="'Event Images'"
          [count]="imageCount">
      <div *ngIf="imageCount === 0">
        No images found
      </div>
      <media-gallery *ngIf="imageCount > 0"
                     [images]="images | async">
      </media-gallery>
    </card>
  </card-wrapper>
</item-panel-wrapper>
