:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
