@import "~assets/css/_theme";
@import "~assets/css/_variables";

  .feature-editor {
    margin: -9px;
    padding: 10px;
    width: 270px;
    font-family: $font-general;
    // background: white;


    .title {
      font-weight: bold;
      font-size: large;
      color: $txt-dark-grey;
    }
    .item {
      display: flex;
      margin-top: 0.5rem;
      align-items: baseline;

      label {
        display: inline-block;
        padding-right: 0.5rem;
        width: 135px;
      }
      mat-form-field {
        flex: 1;
      }
    }
    .item.center {
      align-items: center;
    }

    .full-width-item > * {
      width: 100%;
    }
  
}
