<div class="feature-editor">
    <div class="title">{{ data.mode | titlecase}} Feature</div>
    <div class="item">
        <label for="name">Name</label>
        <mat-form-field appearance="outline">
            <input type="text" id="title" name="title" aria-label="Title" [(ngModel)]="name" matInput>
        </mat-form-field>
    </div>
    <div class="full-width-item">
        <label for="description" class="align-baseline">Description</label>
        <mat-form-field appearance="outline" id="description">
            <textarea matInput rows=3 [(ngModel)]="description"></textarea>
        </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="save()">Save</button>

</div>
<!-- <button mat-flat-button color="primary" [disabled]="!feedbackIsValid()" (click)="submitFeedback()">Save</button> -->