@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.ngx-gauge {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;

    .ngx-charts {
        .bar,
        .cell,
        .arc,
        .card {
            &.active,
            &:hover {
                opacity: 0.8;
                transition: opacity 100ms ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }

        g {
            &:focus {
                outline: none;
            }
        }

        .line-series,
        .line-series-range,
        .polar-series-path,
        .polar-series-area,
        .area-series {
            &.inactive {
                transition: opacity 100ms ease-in-out;
                opacity: 0.2;
            }
        }

        .line-highlight {
            display: none;

            &.active {
                display: block;
            }
        }

        .area {
            opacity: 0.6;
        }

        .circle {
            &:hover {
                cursor: pointer;
            }
        }

        .label {
            font-size: 12px;
            font-weight: normal;
        }

    }
}
