<div class='ngx-gauge'
     *ngIf="results.length > 0">
  <ngx-charts-gauge [scheme]="colorScheme"
                    [customColors]="customColors"
                    [results]="results"
                    [animations]="true"
                    [min]="min"
                    [max]="max"
                    [showAxis]="showAxis"
                    [showText]="showText"
                    [valueFormatting]="valueFormatter"
                    [units]="units">
    <ng-template #tooltipTemplate
                 let-model="model">
      <div class='tooltip'>
        <div class='tooltip-label'>{{ model.name }}</div>
        <div class='tooltip-val'>{{ formatTooltipValue(model.value) }}</div>
      </div>
    </ng-template>
  </ngx-charts-gauge>
</div>