<item-panel-wrapper>
    <item-panel-header [title]="'Update Group: ' + currentName"
                       (close)="close()">
    </item-panel-header>
    <div [formGroup]="groupForm"
         class="form-group">
        <div class="form-field">
            <label for="group-name">Update Name</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="group-name"
                       name="group-name"
                       formControlName="name"
                       aria-label="Group name"
                       [placeholder]="currentName"
                       matInput />
                <mat-error *ngIf="groupForm.hasError('forbiddenName', 'name')">
                    A group with this name already exists.
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-flat-button
                (click)="updateGroup()"
                *ngIf="updated"
                color="accent">
            Submit
        </button>
    </div>
</item-panel-wrapper>