<button class="nav-btn"
        [title]="link.title"
        routerLinkActive="active"
        [routerLink]="link.link"
        [queryParams]="link.params"
        [routerLinkActiveOptions]="{ exact: true }">
  <ng-content></ng-content>
</button>