@import "~assets/css/_theme";

:host {
    height: 100%;
}

.nav-btn {
    font-weight: 700;
    font-size: 0.8rem;
    display: block;
    cursor: pointer;
    height: 100%;
    min-width: 60px;
    margin-right: 12px;
    color: $theme-primary;
    margin: 0 8px;
    text-transform: uppercase;

    background: transparent;
    border: none;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        color: $theme-primary-darker;
    }

    &.active {
        padding-top: 4px;
        border-bottom: 3px solid $theme-secondary;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}
