@import "~assets/css/_theme";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.date-title {
    padding: 8px 8px 0 22px;
    font-size: 16px;
    color: $theme-secondary;
    height: 20px;
}

mat-calendar {
    height: 340px;
}

.time-picker {
    padding: 0 1rem 0 1rem;
    height: 72px;

    mat-form-field {
        width: 65px;
        margin-right: 10px;
    }
}
