<div class="date-title">
    {{ title }} {{ formatDate(date) }}
</div>
<mat-calendar #fromDatePicker
              class="date-picker"
              [class.error]="error"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [startAt]="date"
              [selected]="date"
              (selectedChange)="dateSelect($event)">
</mat-calendar>

<div class="time-picker">
    <div class="label">Time:</div>
    <div class="time-select"
         [formGroup]="timeForm">
        <mat-form-field appearance="outline">
            <mat-select formControlName="hrs"
                        (selectionChange)="updateTime()">
                <mat-option *ngFor="let hr of hrsArr"
                            [value]="hr">
                    {{ formatNumbers(hr) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-select formControlName="mins"
                        (selectionChange)="updateTime()">
                <mat-option *ngFor="let min of minArr"
                            [value]="min">
                    {{ formatNumbers(min) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-select formControlName="seconds"
                        (selectionChange)="updateTime()">
                <mat-option *ngFor="let seconds of minArr"
                            [value]="seconds">
                    {{ formatNumbers(seconds) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>