@import "~assets/css/_theme";

:host {
    display: flex;
    overflow: auto;
    height: 100%;
}

.profile {
    flex: 1;
    padding: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    align-items: flex-start;

    label {
        color: $txt-grey;
    }
}
