<div class='profile'>
    <card [title]="'Profile'">
        <div class="details">
            <div><label>Username:</label> {{username}}</div>
            <div *ngIf="privileges != null && privileges.length > 0">
                <label>Privileges:</label> {{ privileges.join(', ') }}
            </div>
            <button mat-flat-button
                    color="primary"
                    title="Set admin status"
                    (click)="updatePassword()">
                Update Password
            </button>
        </div>
    </card>
</div>
<router-outlet></router-outlet>