<h4>User list</h4>
<ng-container *ngIf="group.users != null">
    <div *ngFor="let user of group.users"
         class='user-row'>
        <div class='user'>{{ user.username }}</div>
        <button mat-icon-button
                *ngIf="user.admin"
                color="accent"
                title="Remove group admin status"
                (click)="setAdmin(user.username, user.admin)">
            <fa-icon icon="star"></fa-icon>
        </button>
        <button mat-icon-button
                *ngIf="!user.admin"
                title="Make group admin"
                (click)="setAdmin(user.username, user.admin)">
            <fa-icon icon="star"></fa-icon>
        </button>
        <button mat-icon-button
                title="Remove user from this group"
                (click)="removeUser(user.username)">
            <fa-icon icon="times"></fa-icon>
        </button>
    </div>
    <div *ngIf="group.users.length === 0">
        <p>No users have been added to this group.</p>
    </div>
</ng-container>
<form [formGroup]="addUserForm"
      (ngSubmit)="addUser()">
    <div class="form-group">
        <div class="form-field">
            <mat-form-field appearance="outline">
                <input type="text"
                       id="group-name"
                       name="group-name"
                       formControlName="name"
                       aria-label="Group name"
                       matInput />
            </mat-form-field>
        </div>
        <button mat-flat-button
                color="accent"
                title="Add a user to this group"
                type="submit">
            Add User
        </button>
    </div>
</form>