@import "~assets/css/_theme";

.user-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid $acrylic-grey;
    &:last-child {
        border-bottom: none;
    }

    .user {
        flex: 1;
    }
}

h4 {
    font-size: 1rem;
    color: $txt-grey;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
    border-top: 1px solid $acrylic-grey;
    padding-top: 1rem;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        justify-content: center;
        flex: 1;
    }
}
