<h1 mat-dialog-title>{{ data.message || 'Would you like to delete "' + data.name + '"' }}</h1>
<div mat-dialog-content>
  <div *ngIf="data.confirmName">
    <p>To confirm type the name of the item in the field below and press the Ok button.</p>
    <mat-form-field appearance="outline">
      <input matInput
             [(ngModel)]="data.confirm">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button
          (click)="onNoClick()">Cancel</button>
  <button mat-button
          [mat-dialog-close]="data.confirmName ? data.confirm : true"
          cdkFocusInitial>Ok</button>
</div>