<h4>Map Camera Settings</h4>
<div class="form-group"
     [formGroup]="mapConfigForm">
    <div class="form-field">
        <label for="default-zoom">Default zoom</label>
        <mat-form-field appearance="outline">
            <input type="number"
                   id="default-zoom"
                   name="default-zoom"
                   formControlName="mapZoom"
                   placeholder="11"
                   min="0"
                   max="24"
                   matInput />
            <fa-icon matSuffix
                     *ngIf="mapConfigForm.hasError('min', 'mapZoom') || mapConfigForm.hasError('max', 'mapZoom')"
                     icon="times"></fa-icon>
            <mat-error *ngIf="mapConfigForm.hasError('min', 'mapZoom')">
                The minimum value is 0.
            </mat-error>
            <mat-error *ngIf="mapConfigForm.hasError('max', 'mapZoom')">
                The maximum value is 24.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="center-y">Default center longitude</label>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="center-y"
                   name="center-y"
                   formControlName="longitude"
                   matInput />
            <fa-icon matSuffix
                     *ngIf="mapConfigForm.hasError('max', 'longitude') || mapConfigForm.hasError('min', 'longitude')"
                     icon="times"></fa-icon>
            <mat-error *ngIf="mapConfigForm.hasError('max', 'longitude') || mapConfigForm.hasError('min', 'longitude')">
                Longitude must be in the range of -180 to 180.
            </mat-error>
            <mat-error *ngIf="mapConfigForm.hasError('pattern', 'longitude')">
                Not a valid number.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="center-x">Default center latitude</label>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="center-x"
                   name="center-x"
                   formControlName="latitude"
                   matInput />
            <fa-icon matSuffix
                     *ngIf="mapConfigForm.hasError('max', 'latitude') || mapConfigForm.hasError('min', 'latitude')"
                     icon="times"></fa-icon>
            <mat-error *ngIf="mapConfigForm.hasError('max', 'latitude') || mapConfigForm.hasError('min', 'latitude')">
                Latitude must be in the range of -90 to 90.
            </mat-error>
            <mat-error *ngIf="mapConfigForm.hasError('pattern', 'latitude')">
                Not a valid number.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="default-pitch">Default pitch</label>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="default-pitch"
                   name="default-pitch"
                   formControlName="pitch"
                   matInput />
            <fa-icon matSuffix
                     *ngIf="mapConfigForm.hasError('max', 'pitch') || mapConfigForm.hasError('min', 'pitch')"
                     icon="times"></fa-icon>
            <mat-error *ngIf="mapConfigForm.hasError('max', 'pitch') || mapConfigForm.hasError('min', 'pitch')">
                Pitch must be in the range of 0 to 60.
            </mat-error>
            <mat-error *ngIf="mapConfigForm.hasError('pattern', 'pitch')">
                Not a valid number.
            </mat-error>
            <mat-hint>Tilt of the map, measured in degrees away from the plane of the screen.</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="default-bearing">Default bearing</label>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="default-bearing"
                   name="default-bearing"
                   formControlName="bearing"
                   matInput />
            <fa-icon matSuffix
                     *ngIf="mapConfigForm.hasError('max', 'bearing') || mapConfigForm.hasError('min', 'bearing')"
                     icon="times"></fa-icon>
            <mat-error *ngIf="mapConfigForm.hasError('max', 'bearing') || mapConfigForm.hasError('min', 'bearing')">
                Bearing must be in the range of 0 to 360.
            </mat-error>
            <mat-error *ngIf="mapConfigForm.hasError('pattern', 'bearing')">
                Not a valid number.
            </mat-error>
            <mat-hint>Rotation of the map, measured in degrees counter-clockwise from north.</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="map-theme">Theme</label>
        <dynamic-select id="map-theme"
                        name="map-theme"
                        [model]="mapConfigForm.get('theme').value"
                        [options]="mapThemeOptions"
                        (modelChange)="selectMapTheme($event)">
        </dynamic-select>
    </div>
    <div class="form-field">
        <label for="map-annotations">Map Annotations</label>
        <dynamic-select id="map-annotations"
                        name="map-annotations"
                        [multiple]="true"
                        [model]="mapConfigForm.get('annotations').value"
                        [options]="mapAnnotationOptions"
                        (modelChange)="selectMapAnnotations($event)">
        </dynamic-select>
    </div>
</div>