@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
}

h4 {
    font-size: 1.2rem;
    color: $theme-secondary;
}

label {
    color: $txt-grey;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .form-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1.5rem;
    }
}
