<form [formGroup]="userForm"
      (ngSubmit)="createUser()">
    <item-panel-wrapper>
        <item-panel-header title="Create User"
                           (close)="close()">
            <button mat-flat-button
                    *ngIf="updated"
                    color="accent"
                    type="submit">
                Submit
            </button>
        </item-panel-header>
        <div class="form-group">
            <div class="form-field">
                <label for="user-name">Username</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="user-name"
                           name="user-name"
                           formControlName="username"
                           aria-label="Username"
                           matInput />
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="user-password">Password</label>
                <mat-form-field appearance="outline">
                    <input type="password"
                           id="user-password"
                           name="user-password"
                           formControlName="password"
                           aria-label="Password"
                           minlength="6"
                           matInput />
                    <mat-error *ngIf="userForm.hasError('minlength', 'password')">
                        Minimum allowed length is 6 characters
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field wide">
                <label for="user-email">Email</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="user-email"
                           name="user-email"
                           formControlName="email"
                           aria-label="User email"
                           matInput />
                </mat-form-field>
            </div>
            <div class="form-field wide">
                <label for="user-privileges">Privileges</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="user-privileges"
                           name="user-privileges"
                           formControlName="privileges"
                           aria-label="User privileges"
                           matInput />
                </mat-form-field>
            </div>
        </div>
    </item-panel-wrapper>
</form>