@import "~assets/css/_theme";

:host {
    flex: 0 1 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $acrylic-grey;
}

.form-group {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: baseline;
    background-color: $bg-white;
    padding: 1rem;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        justify-content: center;

        &.wide {
            width: 100%;
        }
    }
}