<div class="header"
     [class.closed]="!open">
  <h4 (click)="toggleOpen()">
    {{ title }}
    <span *ngIf="count !== undefined">({{ count }})</span></h4>
  <button *ngIf="addbtn"
          mat-icon-button
          [title]="addMessage != null ? addMessage: 'Add an item'"
          (click)="addEmit()">
    <fa-icon class="add-icon"
             icon="plus">
    </fa-icon>
  </button>
  <button *ngIf="editbtn"
          mat-icon-button
          [title]="editMessage != null ? editMessage: 'Edit this item'"
          (click)="editEmit()">
    <fa-icon class="edit-icon"
             icon="pen">
    </fa-icon>
  </button>
  <button *ngIf="deletebtn"
          mat-icon-button
          [title]="deleteMessage != null ? deleteMessage: 'Delete this item'"
          (click)="deleteEmit()">
    <fa-icon class="delete-icon"
             icon="trash">
    </fa-icon>
  </button>
  <button mat-icon-button
          (click)="toggleOpen()">
    <fa-icon *ngIf="open"
             icon="caret-down">
    </fa-icon>
    <fa-icon *ngIf="!open"
             icon="caret-up"></fa-icon>
  </button>
</div>
<div *ngIf="open"
     class="body">
  <ng-content></ng-content>
</div>
