@import "~assets/css/_theme";

:host {
    display: block;
}

.header {
    display: flex;
    align-items: center;
    color: $txt-grey;
    height: 40px;

    h4 {
        flex: 1;
        font-size: 1rem;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0;

        span {
            font-weight: 400;
        }
    }

    button {
        fa-icon {
            color: $txt-grey;
        }
        &:hover {
            fa-icon {
                color: $theme-secondary;
            }
        }
    }
}

.body {
    overflow: hidden;
    background: $bg-white;
    padding: 0.5rem;
}
