@import "~assets/css/_theme";

.add-resource {
    border-bottom: 1px solid $acrylic-grey;

    form-group {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
        min-height: 50px;

        .form-field {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-right: 0.5rem;
            justify-content: center;
        }
    }

    mat-radio-group {
        width: 100%;

        mat-radio-button {
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
    }
}

.list-resource {
    padding: 0.5rem 0;

    .resource-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        cursor: pointer;
        border-bottom: 1px solid $acrylic-grey;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: $acrylic-grey;
        }

        .name {
            color: $theme-primary;
        }

        .content {
            font-size: 0.8em;
            color: $txt-light-grey;
        }
    }
}
