<card-collapse [title]="title"
               [count]="resources.length"
               [open]="resources.length > 0"
               [addbtn]="true"
               [addMessage]="'Add new resource'"
               (add)="addResource()">
    <div *ngIf="showAddForm"
         class='add-resource'>
        <form [formGroup]="addForm"
              class="form-group">
            <label>Select resource type to add</label>
            <mat-radio-group class="form-field"
                             formControlName="formType">
                <mat-radio-button value="file">
                    File resource
                </mat-radio-button>
                <mat-radio-button value="json">
                    Json Resource
                </mat-radio-button>
            </mat-radio-group>
        </form>
        <file-resource *ngIf="addForm.get('formType').value === 'file'"
                       class="add-resource"
                       [newResource]="true"
                       [newTitle]="'New File Resource'"
                       [resourceKey]="key"
                       [resourceType]="'entity'"
                       (update)="createResource()">
        </file-resource>
        <json-resource *ngIf="addForm.get('formType').value === 'json'"
                       class="add-resource"
                       [newResource]="true"
                       [newTitle]="'New Json Resource'"
                       [resourceKey]="key"
                       [resourceType]="'entity'"
                       (update)="createResource()">
        </json-resource>
    </div>

    <div class='list-resource'>
        <div *ngFor="let item of resources; let i = index"
             class="resource-row"
             (click)="viewResource(item)">
            <span class="name">{{ item.resourceName }}</span>
            <span class="content">{{ item.contentType }}</span>
        </div>

        <div *ngIf="resources.length === 0">
            No resources for this entity
        </div>
    </div>

</card-collapse>
