<div class="side-list">
    <div class='list-body'>
        <div *ngFor="let transform of transforms; trackBy transformByName"
             class='function-row'
             [ngClass]="transform.name === selected ? 'selected' : ''">
            <div class="list-title"
                 (click)="selectTransform(transform.name)">{{ transform.name }}</div>
            <button mat-icon-button
                    title="Delete transform function: {{ transform.name }}"
                    (click)="deleteTransformFunction(transform.name)">
                <fa-icon icon="trash"></fa-icon>
            </button>
        </div>
    </div>
    <div class="list-end">
        <button mat-flat-button
                color="primary"
                title="New Transform Function"
                (click)="newTransformFunction()">
            <fa-icon icon="plus"></fa-icon>
            New Transform Function
        </button>
    </div>
</div>
<div class="vis-main">
    <router-outlet></router-outlet>
</div>