@import "~assets/css/_theme";

:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.side-list {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bg-white;
    border-right: 1px solid $acrylic-grey;
    padding-top: 10px;

    .list-body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        .function-row {
            display: flex;
            align-items: center;
            height: 50px;
            width: 300px;
            cursor: pointer;
            border-bottom: 1px solid $acrylic-grey;

            &.selected {
                color: $txt-white;
                background: $theme-primary;
                button {
                    fa-icon {
                        color: $txt-white;
                    }
                    background: $theme-primary;
                    &:hover {
                        fa-icon {
                            color: $txt-soft;
                        }
                        background: $acrylic-grey;
                    }
                }
            }

            .list-title {
                line-height: 50px;
                flex: 1;
                padding-left: 1rem;
                height: 100%;
                font-weight: 400;
                font-size: 1.2rem;
                align-self: baseline;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    background: $acrylic-grey;
                }
            }

            button {
                flex: 0 0 auto;
                border-radius: 0;
                font-size: 14px;
                height: 100%;
                width: 34px;
                fa-icon {
                    color: $txt-grey;
                }

                &:hover {
                    fa-icon {
                        color: $theme-secondary;
                    }
                    background: $acrylic-grey;
                }
            }
        }
    }

    .list-end {
        width: 100%;
        height: 50px;
        align-self: flex-end;
        text-align: center;
    }
}

.vis-main {
    flex: 1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
