<div class="colour-wrapper">
    <colour-palette [rgb]="rgb"
                    (updateSaturation)="updateSaturation($event)"></colour-palette>
    <colour-slider [hue]="hue"
                   (hueChange)="hueChange($event)"></colour-slider>
</div>