@import "~assets/css/_theme";

:host {
    display: block;
    width: 350px;
    height: 270px;
    padding: 10px;
    background-color: $bg-white;
    border-radius: 2px;
    border: 1px solid $acrylic-grey;
}

.colour-wrapper {
    display: flex;
    justify-content: space-between;
}


