<div class="header">
    <button mat-icon-button
            class="close-modal"
            (click)="emitClose()">
        <fa-icon icon="times"></fa-icon>
    </button>

    <div class='header-title'>
        <h3>{{ title }}</h3>
        <div *ngIf="subtitle"
             class="subtitle">{{ subtitle }}
        </div>
    </div>
</div>

<div class="body">
    <ng-content></ng-content>
</div>