@import "~assets/css/_theme";

:host {
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    max-width: 440px;
    min-width: 200px;
    background: $bg-white;
    border-left: 1px solid $acrylic-grey;
}

:host(.docked) {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $acrylic-grey;
    height: 54px;

    .close-modal {
        margin-left: 0.5rem;
        color: $txt-grey;
        &:hover {
            color: $theme-secondary;
        }
    }

    .header-title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 54px;
        padding-right: 1rem;

        h3 {
            width: 100%;
            text-align: right;
            font-size: 24px;
            line-height: 1;
            margin: 0;
            padding-bottom: 4px;
        }

        .subtitle {
            text-align: right;
        }
    }
}

.body {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 54px;
    width: 100%;
}
