@import "./_theme.scss";

input {
    padding: 6px 8px;
}

button {
    outline: none;
    box-shadow: none;
    line-height: 1rem;
    cursor: pointer;
}

button.disabled,
button[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
}

button.plain-btn {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    background: transparent;
}

.mat-form-field,
mat-form-field {
    &.wide {
        width: 100%;
    }

    &.small {
        .mat-form-field-wrapper {
            padding-bottom: 0.4rem;
        }
    }

    .mat-form-field-wrapper {
        padding-bottom: 1.2rem;
    }

    .mat-form-field-subscript-wrapper {
        margin-top: 0.2rem;
    }

    &.mat-form-field-appearance-outline {
        font-size: 0.9rem;

        .mat-form-field-outline {
            border-radius: 5px;
        }

        .mat-form-field-wrapper {
            margin: 0;

            .mat-form-field-flex {
                margin-top: 0;

                .mat-form-field-infix {
                    border: none;
                    padding: 0.8rem 0 0.6rem 0;

                    .mat-select-arrow-wrapper {
                        transform: none;
                    }
                }

                .mat-form-field-suffix fa-icon {
                    position: absolute;
                    display: block;
                    top: -1.2em;
                    right: 1.2em;
                }
            }

            .mat-form-field-underline {
                position: relative;
                bottom: auto;
            }

            .mat-form-field-subscript-wrapper {
                padding: 0;
                position: static;
            }
        }
    }
}

mat-button-toggle-group {
    &.mat-button-toggle-group {
        box-shadow: none;
        border: 1px solid $bg-grey;
        border-radius: 4px;
        color: $txt-black;
        margin-bottom: 1rem;
    }
}

mat-button-toggle {
    &.mat-button-toggle-appearance-standard {
        &:hover {
            background: $acrylic-grey;
            color: $txt-black;
        }
        &.mat-button-toggle-disabled.mat-button-toggle-checked {
            background: $bg-grey;
            color: $txt-white;
            &:hover {
                background: $theme-primary;
            }
        }
        &.mat-button-toggle-disabled {
            &:focus {
                outline: transparent;
            }
            &:hover {
                outline: transparent;
                background-color: transparent;
            }
            cursor: not-allowed;
            .mat-button-toggle-button {
                cursor: not-allowed;
            }
        }

        &.mat-button-toggle-checked {
            background: $theme-primary;
            color: $txt-white;

            &:hover {
                background: $theme-primary;
                color: $txt-white;
            }

            button {
                color: $txt-white;
            }
        }
    }

    &.mat-button-toggle-checked.mat-button-toggle-disabled.mat-button-toggle-appearance-standard {
        color: $txt-white;
    }

    &.mat-button-toggle-appearance-standard + .mat-button-toggle-appearance-standard {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
    }

    &.mat-button-toggle {
        color: $txt-black;

        &:hover {
            background: rgba(0, 0, 0, 0.12);
            color: $txt-black;
        }
    }

    &.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
        background: $theme-primary;
        color: $txt-white;
    }

    &.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 36px;
    }
}

mat-slider {
    .mat-slider-track-wrapper {
        .mat-slider-track-fill {
            background-color: $acrylic-grey;
        }

        .mat-slider-track-background {
            background-color: $acrylic-grey !important;
        }
    }

    .mat-slider-thumb-container {
        .mat-slider-thumb {
            transform: scale(0.7) !important;
            background-color: $theme-secondary !important;
        }

        .mat-slider-thumb-label {
            background-color: transparent !important;
            transform: rotate(45deg);

            .mat-slider-thumb-label-text {
                white-space: nowrap;
                color: black;
                opacity: 1;
                padding-top: 12px;
            }
        }
    }
}

.mat-card-title {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: $txt-grey;
}
