body {
    font-size: 14px;
    font-family: $font-general;
    font-weight: 400;
    overflow: hidden;
    line-height: 1;
    margin: 0;
    text-align: left;
    background-color: $bg-white;
    color: $txt-black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

mat-calendar {
    .mat-calendar-controls {
        margin-top: 0px;
    }

    &.error {
        .mat-calendar-body-selected {
            background-color: $theme-warn;
        }
    }
}

button {
    .mat-button-wrapper {
        fa-icon {
            &.left {
                padding-right: 5px;
            }
            &.right {
                padding-left: 5px;
            }
        }
    }
}

div.mapboxgl-popup:not(.reset-style) {
    .mapboxgl-popup-content {
        background: rgba(0, 0, 0, 0.75);
        color: $txt-white;
        padding: 10px;
        box-shadow: none;
        img {
            display: block;
            margin: auto;
        }
    }
    &.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
        border-right-color: rgba(0, 0, 0, 0.75);
    }
    &.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
        border-bottom-color: rgba(0, 0, 0, 0.75);
    }
    &.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-left-color: rgba(0, 0, 0, 0.75);
    }
    &.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
        border-top-color: rgba(0, 0, 0, 0.75);
    }
}

.mapboxgl-marker {
    font-size: 16px;
    color: $theme-secondary;
    font-weight: 500;
    text-shadow: -1px 0 1px $txt-white, 0 1px 1px $txt-white, 1px 0 1px $txt-white, 0 -1px 1px $txt-white;
}

.dialog-container .mat-dialog-container {
    padding: 12px;
    height: auto;
    width: auto;
}

.mat-icon-button .mat-button-focus-overlay {
    display: none;
}
