@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-teal: (
    50: #e0eeef,
    100: #b3d4d7,
    200: #80b7bd,
    300: #4d9aa3,
    400: #26848f,
    500: #006e7b,
    600: #006673,
    700: #005b68,
    800: #00515e,
    900: #003f4b,
    A100: #b3e3f2,
    A200: #80d1e9,
    A400: #4dbee0,
    A700: #26b0d9,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$custom-cherry: (
    50: #f0e1e9,
    100: #dab4c7,
    200: #c182a2,
    300: #a8507d,
    400: #962b61,
    500: #830545,
    600: #7b043e,
    700: #700436,
    800: #66032e,
    900: #53011f,
    A100: #fa9ba6,
    A200: #f77282,
    A400: #f4364c,
    A700: #f1293c,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat-palette($custom-teal);
$theme-accent: mat-palette($custom-cherry, 500, 400, 800);

// The warn palette is optional (defaults to red).
$theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);