@import "./material";

$primary: map-get($light-theme, primary);
$accent: map-get($light-theme, accent);
$warn: map-get($light-theme, warn);

//Theme Colours
$theme-primary: mat-color($primary, 500);
$theme-primary-contrast: mat-color($primary, A400);
$theme-primary-darker: mat-color($primary, 800);
$theme-primary-lighter: mat-color($primary, 300);
$theme-secondary: mat-color($accent, 500);
$theme-secondary-contrast: mat-color($accent, A400);
$theme-secondary-darker: mat-color($accent, 800);
$theme-secondary-lighter: mat-color($accent, 300);
$theme-warn: mat-color($warn, 700);

$form-danger: #f5bfb6;
$form-danger-border: #d8000c;
$status-green: #309630;

//Background Colours

$bg-black: #2c3435;
$bg-black-prime: #444a4a;

$bg-v-dark-grey: #65676b;
$bg-dark-grey: #7c7e81;
$bg-mid-dark-grey: #939597;
$bg-grey: #b2b3b5;
$bg-light-grey: #ededed;
$bg-main: #f3f3f3;
$bg-white: #fff;

//Acrylic
$acrylic-light-grey: rgba(0, 0, 0, 0.05);
$acrylic-dark-grey: rgba(0, 0, 0, 0.3);
$acrylic-grey: rgba(0, 0, 0, 0.1);
$acrylic-black: rgba(0, 0, 0, 0.6);

$acrylic-white: rgba(255, 255, 255, 0.3);
$acrylic-heavy-white: rgba(255, 255, 255, 0.6);

//Font Colours
$txt-black: #111;
$txt-dark-grey: #555;
$txt-grey: #666;
$txt-light-grey: #9e9e9e;
$txt-soft: #ccc;
$txt-white: #fff;
$txt-danger: #721c24;

//Severity
$severity-high: rgb(216, 0, 11);
$severity-mid: rgb(247, 163, 7);
$severity-low: rgb(143, 140, 136);

