@import "~assets/css/_theme";

.click-eater {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;

    .media-body {
        z-index: 1000;
        position: absolute;
        width: auto;
        height: auto;
        max-height: 85%;
        max-width: 90%;
        margin: 0 auto;
        overflow: hidden;
        background: #fff;
        border-radius: 4px;
        padding: 12px;
        display: flex;
        justify-content: center;

        &.burst {
            .media-display {
                padding-bottom: 125px;
            }

            .media-info {
                padding-bottom: 125px;
            }
        }

        .media-display {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow: hidden;

            canvas {
                position: fixed;
                z-index: 900;
                object-fit: fill;
            }

            img {
                flex: 1 1 auto;
            }

            .media-arrows {
                position: relative;
                width: 32px;
                height: 32px;
                border-radius: 100px;
                background: #777;
                opacity: 0.7;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 16px;
                z-index: 1000;
                flex: 1 0 auto;

                &:hover {
                    opacity: 1;
                }

                &.arrow-prev {
                    left: 22px;
                    padding-right: 2px;
                }

                &.arrow-next {
                    right: 22px;
                    padding-left: 2px;
                }
            }
        }

        #media-slider {
            position: absolute;
            height: 107px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin: 0 10px;
            overflow: hidden;
            white-space: nowrap;

            ul {
                list-style: none;
                height: 105px;
                padding: 0px;
                margin: auto;

                li {
                    margin-right: 8px;
                    float: left;
                    list-style: none;

                    img {
                        opacity: 0.6;
                        border: 1px solid rgba(0, 0, 0, 0.4);
                    }

                    &.selected {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .media-legend {
            position: absolute;
            height: 25px;
            bottom: 110px;
            text-align: center;
            padding: 5px;
            color: $txt-white;
            background: rgba(0, 151, 168, 0.7);
            z-index: 1000;

            fa-icon {
                cursor: pointer;
            }

            .media-index {
                margin: 0 7px;
            }
        }

        .media-info {
            min-width: 340px;
            max-width: 440px;
            padding-left: 12px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;

            table {
                border: none;
                border-spacing: 0px;
            }

            label,
            .item-label {
                color: $txt-grey;
            }

            .thumbnail {
                padding: 0.5rem 0;
                text-align: center;
                width: 100%;
            }

            mat-chip {
                padding: 4px 7px 1px 7px;
            }

            .classification-item {
                display: flex;
                flex-direction: column;
                padding-bottom: 4px;
                margin-bottom: 4px;
                border-bottom: 1px solid $acrylic-grey;
                .classification-title {
                    display: flex;
                    align-items: center;
                    label {
                        color: $theme-secondary;
                        padding: 0 4px;
                    }
                }

                .curated-icon {
                    padding: 4px;
                }
            }

            .classification-item:last-of-type {
                border-bottom: none;
            }

            .classification-item > div {
                margin: 3px;
            }

            .image-delete {
                display: flex;
                margin-top: 5px;
                flex: 1;
                button {
                    align-self: flex-end;
                    width: 100%;
                }
            }
        }
    }
}
[hidden] {
    visibility: hidden;
}
