<div class="click-eater"
     (click)="emitClose($event)">
  <div class="media-body"
       [ngClass]="{ burst: burst }"
       (click)="stopPropagation($event)">
    <div #imageContainer class="media-display">
      <canvas #canvas
              class="canvas"></canvas>
      <div [hidden]="!hasPrev"
           class="media-arrows arrow-prev"
           (click)="prevMedia($event)">
        <fa-icon icon="chevron-left"></fa-icon>
      </div>
      <img #image
           (load)="onLoadImage()"
           [src]="imageUrl" />
      <div [hidden]="!hasNext"
           class="media-arrows arrow-next"
           (click)="nextMedia($event)">
        <fa-icon icon="chevron-right"></fa-icon>
      </div>
      <div *ngIf="burst"
           class="media-legend">
        <fa-icon *ngIf="imageIndex > 0"
                 icon="chevron-left"
                 (click)="slideLeft()"></fa-icon>
        <span class="media-index">burst: {{ this.imageIndex }}</span>
        <fa-icon *ngIf="(imageIndex + 1) < images.length"
                 icon="chevron-right"
                 (click)="slideRight()"></fa-icon>
      </div>
    </div>

    <div class="media-info">

      <label>Created At</label>
      <p>{{ getTimestamp() | date:'MMM d, yyyy, HH:mm:ss Z' }}</p>
      <card-collapse [title]="'Classifications'"
                     [open]="getClassifications().length"
                     (openStatus)="classificationsVisible($event)">
        <div class="classification-data">
          <div *ngFor="let classification of getClassifications()"
               class="classification-item">
            <div class="classification-title">
              <fa-icon *ngIf="classification.colour"
                       [style.color]="classification.colour"
                       icon="circle"></fa-icon>
              <label>{{ classification.label }}</label>
              <span>{{ classification.confidence * 100 | number : '1.2-2'}}%</span>
            </div>
            <div class="item-origin">
              <span class="item-label">Origin:</span>
              {{ classification.origin }}
            </div>
            <div class="item-timestamp">
              <span class="item-label">Time:</span>
              {{ classification.timestamp | date:'MMM d, yyyy, HH:mm:ss Z' }}
            </div>
            <div *ngIf="classification.curated"
                 class="item-curated">
              <span class="item-label">Curated:</span>
              <fa-icon *ngIf="classification.curated"
                       class='curated-icon'
                       [icon]="['far','check-square']"></fa-icon>
            </div>
          </div>

        </div>
        <button class='classification-edit'
                mat-stroked-button
                color="primary"
                (click)="openClassificationEdit()">
                  <span>
                   <fa-icon *ngIf="!getClassifications().length"  icon="plus"></fa-icon>
                   <fa-icon *ngIf="getClassifications().length"  icon="pen"></fa-icon>
                   {{getClassifications().length ? 'Edit' : 'Add'}}
                  </span>
        </button>
      </card-collapse>
      <card-collapse [title]="'Tags'"
                     [open]="false">
        <tags class="wide"
              [tags]="tags"
              (addTag)="addTag($event)"
              (removeTag)="removeTag($event)">
        </tags>
      </card-collapse>
      <div class="exif-data"
           *ngIf="exifMetadata$ | async as exif">
        <card-collapse [title]="'EXIF data'"
                       [open]="false">
          <table>
            <tr *ngFor="let item of exif | keyvalue">
              <td colspan="2"
                  class="thumbnail"
                  *ngIf="item.key === 'thumbnail' && thumbnail$ | async as thumb">
                <img title="EXIF thumbnail"
                     [src]="thumb" />
              </td>
              <ng-container *ngIf="item.key !== 'thumbnail'">
                <td class="item-label">{{item.key}}</td>
                <td> {{item.value}}</td>
              </ng-container>
            </tr>
          </table>
        </card-collapse>
      </div>
      <div  class="image-delete">
        <button mat-flat-button color="primary" (click)="deleteImage()">
          <fa-icon icon="trash"></fa-icon> Delete image
        </button>
      </div>
    </div>
    <div *ngIf="burst"
         id="media-slider">
      <ul >
        <li *ngFor="let image of images; let i = index; trackBy: trackByFn"
            id="slider-image-{{ i }}"
            [ngClass]="{selected: i == imageIndex}"
            tabindex="-1">
          <img #img
               [src]="getBurstThumbnail(i)"
               (click)="showImage(i)" />
        </li>
      </ul>
    </div>
  </div>
</div>
