<div class='list'>
    <div class="actions">
        <button mat-flat-button
                *ngIf="showCreate"
                title='Add new user'
                class='new-item'
                [color]="'primary'"
                (click)="newUser()">
            <fa-icon icon="plus"></fa-icon>
            Create new user
        </button>
    </div>

    <card [title]="'Users'">
        <div *ngFor="let user of users"
             class='user-row'>
            <div class='user'>{{ user }}</div>
            <button mat-icon-button
                    title="Update user details"
                    (click)="editUser(user)">
                <fa-icon icon="pen"></fa-icon>
            </button>
        </div>
    </card>
</div>
<router-outlet></router-outlet>