@import "~assets/css/_theme";

:host {
    display: flex;
    overflow: auto;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 1rem;
    overflow-y: auto;

    .user-row {
        display: flex;
        align-items: baseline;
        background-color: $bg-white;
        padding: 0.5rem 1rem;
        .user {
            flex: 1;
        }
    }
}


card {
    width: 440px;
    padding-right: 2rem;
}