@import "~assets/css/_theme";

:host {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
}

.key {
    flex: 0 1 30%;
}

.value {
    flex: 1;
}

mat-form-field {
    margin-top: 20px;
    margin-right: 0.5rem;
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
}

