<mat-form-field appearance="outline"
                class='key'>
       <input matInput
              type="text"
              [formControl]="keyControl">
</mat-form-field>
<mat-form-field appearance="outline"
                class='value'>
       <input matInput
              type="text"
              [formControl]="valueControl">
</mat-form-field>
<button mat-icon-button
        *ngIf="canDelete"
        title="Remove row"
        (click)="deleteRow()">
       <fa-icon icon="trash"></fa-icon>
</button>