@import "~assets/css/_theme";

:host {
    flex: 0 1 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $acrylic-grey;
}

card {
    margin: 0 0.5rem;

    .password-link {
        line-height: 1.5rem;
        color: $theme-primary;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: baseline;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        justify-content: center;

        &.wide {
            width: 100%;
        }
    }
}