<item-panel-wrapper *ngIf="user != null">
    <item-panel-header [title]="'Update User: ' + user.username"
                       (close)="close()">
    </item-panel-header>
    <card [title]="'Reset Password'">
        <p>Reset the password for this user and generate a token to allow the password to be changed.</p>
        <div *ngIf="tokenParams != null">
            <label>Reset Token: </label>
            <a class="password-link"
               [routerLink]="['/reset-password']"
               [queryParams]="tokenParams">{{ tokenParams.token }}</a>
        </div>
        <button mat-flat-button
                color="accent"
                (click)="resetPassword()">
            Reset Password
        </button>
    </card>
    <card [title]="'Update User'">
        <div [formGroup]="userForm"
             class="form-group">
            <div class="form-field">
                <label for="username">Update Name</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="username"
                           name="username"
                           formControlName="username"
                           aria-label="Username"
                           [placeholder]="user.username"
                           matInput />
                    <mat-error *ngIf="userForm.hasError('forbiddenName', 'username')">
                        A user with this username already exists.
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button
                    (click)="updateUser()"
                    *ngIf="
                    updated"
                    color="accent"
                    type="submit">
                Submit
            </button>
        </div>
    </card>
    <card [title]="'User Privileges'">
        <div [formGroup]="privilegeForm"
             class="form-group">
            <div class="form-field wide">
                <label for="user-privileges">Privileges</label>
                <mat-form-field appearance="outline">
                    <textarea matInput
                              id="user-privileges"
                              name="user-privileges"
                              formControlName="privileges"
                              aria-label="User privileges"
                              rows="3">
                        </textarea>
                </mat-form-field>
            </div>
            <button mat-flat-button
                    (click)="updatePrivileges()"
                    *ngIf="privilegeUpdated"
                    color="accent"
                    type="submit">
                Submit
            </button>
        </div>
    </card>
</item-panel-wrapper>
