@import "~assets/css/_theme";
@import "~assets/css/_variables";

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-wrapper {
    z-index: 10;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $acrylic-grey;

    search-box {
        height: $toolbar-height;
    }
}

.list-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
