<div class="search-wrapper">
  <search-box></search-box>
  <current-search [saveType]="saveType"></current-search>
</div>
<div class="list-wrapper">
  <search-filter *ngIf="currentModal === 'filter'"
                 [count]="count"
                 [facets]="facets">
  </search-filter>

  <saved-search-list *ngIf="currentModal === 'saved'"
                     [saveType]="saveType">
  </saved-search-list>
  <ng-content></ng-content>
</div>