@import "~assets/css/_theme";

.params {
    margin-bottom: 0.5rem;
    .param-title {
        display: flex;
        align-items: baseline;
        color: $txt-grey;
        height: 36px;

        h4 {
            margin: 0;
            margin-right: auto;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
        }
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    min-height: 50px;

    .form-field {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-right: 0.5rem;
        justify-content: center;
    }

    .icon {
        flex: 0 0 auto;
    }

    &.uri-field {
        mat-form-field {
            height: 36px;
        }

        .icon {
            margin-top: 1rem;
        }
    }
}

.form-array {
    border-bottom: 1px solid $acrylic-grey;
    margin-bottom: 1rem;
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
}

label {
    color: $txt-grey;
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
}

mat-radio-button {
    line-height: 32px;
    padding-left: 0.5rem;
}

mat-chip-list {
    mat-chip {
        margin: 0.5rem 2px;
        padding: 0.2rem 0px 0.2rem 0.6rem;
        fa-icon {
            margin-top: 4px;
        }
    }
}
