<div [formGroup]="pushSubscriberForm"
     class='form-array'>
    <div class="form-group uri-field">
        <div class="form-field">
            <label for="pull-uri">URI</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="pull-uri"
                       name="pull-uri"
                       formControlName="uri"
                       aria-label="Pull subscription URI"
                       matInput>
            </mat-form-field>
        </div>
        <button mat-icon-button
                class='icon'
                title="Remove this push subscriber"
                (click)="removePush()">
            <fa-icon icon="trash"></fa-icon>
        </button>
    </div>
    <div class='params'>
        <div class="param-title">
            <h4>URI Parameters</h4>
            <button mat-icon-button
                    title="Add URI param"
                    (click)="addParameterValue()">
                <fa-icon class="add-icon"
                         icon="plus">
                </fa-icon>
            </button>
        </div>
        <div formArrayName="uriParams"
             *ngFor="let param of params.controls; let p = index;">
            <key-value-row [key]="param.get('key').value"
                           [value]="param.get('value').value"
                           [canDelete]="true"
                           (keyChange)="param.get('key').setValue($event)"
                           (valueChange)="param.get('value').setValue($event)"
                           (delete)="removeParameterValue(p)">
            </key-value-row>
        </div>
    </div>
    <div class='params'>
        <div class="param-title">
            <h4>Headers</h4>
            <button mat-icon-button
                    title="Add header"
                    (click)="addHeaderValue()">
                <fa-icon class="add-icon"
                         icon="plus">
                </fa-icon>
            </button>
        </div>
        <div formArrayName="headers"
             *ngFor="let header of headers.controls; let p = index;">
            <key-value-row [key]="header.get('key').value"
                           [value]="header.get('value').value"
                           [canDelete]="true"
                           (keyChange)="header.get('key').setValue($event)"
                           (valueChange)="header.get('value').setValue($event)"
                           (delete)="removeHeaderValue(p)">
            </key-value-row>
        </div>
    </div>
    <div class="form-group">
        <mat-radio-group class='form-field'
                         formControlName="method">
            <label for="pull-method">HTTP Method</label>
            <mat-radio-button value="POST">
                POST
            </mat-radio-button>
            <mat-radio-button value="PUT">
                PUT
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="form-group">
        <div class="form-field">
            <label>Retry Sequence</label>
            <mat-chip-list #retrySequenceList
                           aria-label="Retry Sequence">
                <mat-chip *ngFor="let retry of retrySequence.controls; let p = index;"
                          [selectable]="true"
                          [removable]="true"
                          (removed)="removePushRetryValue(p)">
                    {{ retry.value }}
                    <fa-icon matChipRemove
                             icon="times"></fa-icon>
                </mat-chip>
            </mat-chip-list>

            <div class='retry-select'>
                <mat-form-field appearance="outline">
                    <input matInput
                           placeholder="Select retry interval"
                           [formControl]="retryControl"
                           [matAutocomplete]="auto"
                           [matChipInputFor]="retrySequenceList"
                           [matChipInputSeparatorKeyCodes]="[]"
                           [matChipInputAddOnBlur]="false">
                </mat-form-field>
            </div>
            <mat-autocomplete #auto="matAutocomplete"
                              (optionSelected)="selectRetry($event)">
                <mat-option *ngFor="let retry of retryOptions"
                            [value]="retry.value">
                    {{ retry.title }}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
</div>
