@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background: $bg-white;
}

.graph-wrapper {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 5px;
    bottom: 5px;
}

.loadingBlock {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    fa-icon {
        font-size: 24px;
    }
}