<ng-container [ngSwitch]="type">
  <vis-map *ngSwitchCase="VisualisationComponentType.MAP"
           [config]="configuration"
           [key]="key"
           [widget]="widget"
           [mapLayers]="layers">
  </vis-map>

  <ng-template [ngSwitchCase]="VisualisationComponentType.LINEGRAPH">
    <div class="graph-wrapper">
      <line-graph *ngIf="layers.length"
                  [config]="configuration"
                  [dataLayers]="layers"
                  [xScaleMin]="startDate"
                  [xScaleMax]="endDate"
                  [showTime]="!widget">
      </line-graph>
    </div>
  </ng-template>

  <ng-template [ngSwitchCase]="VisualisationComponentType.BARGRAPH">
    <bar-graph *ngIf="layers.length"
               [config]="configuration"
               [dataLayers]="layers">
    </bar-graph>
  </ng-template>

  <ng-template [ngSwitchCase]="VisualisationComponentType.GAUGE">
    <gauge *ngIf="layers.length"
           [config]="configuration"
           [dataLayers]="layers">
    </gauge>
  </ng-template>

  <ng-template [ngSwitchCase]="VisualisationComponentType.PIECHART">
    <pie-chart *ngIf="layers.length"
               [config]="configuration"
               [dataLayers]="layers">
    </pie-chart>
  </ng-template>

  <ng-template [ngSwitchCase]="VisualisationComponentType.EVENTS">
    <div class="graph-wrapper">
      <bubble-chart *ngIf="layers.length"
                    [config]="configuration"
                    [dataLayers]="layers"
                    [xScaleMin]="startDate"
                    [xScaleMax]="endDate"
                    [showTime]="!widget">
      </bubble-chart>
    </div>
  </ng-template>

  <ng-container *ngSwitchCase="VisualisationComponentType.IMAGES">
    <media-gallery *ngIf="!widget"
                   [dataLayers]="layers">
    </media-gallery>
    <media-widget *ngIf="widget"
                  [dataLayers]="layers">
    </media-widget>
  </ng-container>

  <ng-container *ngSwitchCase="VisualisationComponentType.VALUE">
    <value-widget [dataLayers]="layers"
                  [widget]="widget">
    </value-widget>
  </ng-container>

  <div *ngSwitchDefault>Error</div>

  <div *ngIf="loading"
       class="loadingBlock">
    <fa-icon class="fa fa-spinner fa-spin"
             icon="spinner">
    </fa-icon>
  </div>
</ng-container>