<ng-container *ngFor="let stream of streams">
  <div class='stream-title'>
    {{ stream.name || stream.key }}
    <span *ngIf="stream.metadata && stream.metadata.unit"
          class='sub-title'>({{ stream.metadata.unit }})</span>
    <span *ngIf="stream.type === StreamType.CONFIG"
          class='sub-title'>(current)</span>
  </div>

  <div *ngIf="stream.ready && (stream.data == null || stream.data.length === 0)"
       class='no-data'>
    No data found.
  </div>
  <div *ngIf="stream.ready && stream.data != null && stream.data.length > 0">
    <media-gallery *ngIf="stream.type === StreamType.IMAGE"
                   [horizontal]="true"
                   [images]="stream.data">
    </media-gallery>
    <div *ngIf="stream.type === StreamType.DOUBLE || stream.type === StreamType.INTEGER"
         class='stream-data'>
      <spark-line [scheme]="'ocean'"
                  [results]="stream.data"
                  [ready]="stream.ready"
                  [xScaleMin]="dateRange.from"
                  [xScaleMax]="dateRange.to">
      </spark-line>
    </div>
    <div *ngIf="stream.type === StreamType.JSON">
      <json-edit [json]="stream.data[0].value_json">
      </json-edit>
    </div>
    <div *ngIf="stream.type === StreamType.CONFIG">
      <json-edit [json]="stream.data[0].config">
      </json-edit>
    </div>
  </div>
</ng-container>