@import "~assets/css/_theme";

.stream-title {
    font-weight: 500;
    padding: 0.5rem 0;
}

.no-data {
    font-size: 0.7rem;
    padding: 0.2rem 0;
    color: $txt-light-grey;
}

.stream-data {
    height: 50px;
}
