@import "~assets/css/_theme";

$item-border: 1px solid $acrylic-grey;

.item-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid $theme-primary;
    font-size: 1rem;

    h4 {
        font-size: 1.2rem;
        text-align: center;
        color: $txt-dark-grey;
        padding: 0.5rem 0;
        margin: 0;
        border-bottom: $item-border;
    }

    .list-viewport {
        height: 100%;
    }

    .list-item {
        height: 52px;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-bottom: $item-border;

        &.hover {
            background: $bg-light-grey;
        }

        &:focus {
            outline: none;
            background: $bg-light-grey;
        }

        &.selected {
            background: $bg-light-grey;
            font-weight: 500;
            .item-detail {
                background: $theme-primary;

                .detail-title {
                    font-weight: 500;
                    color: $txt-white;
                }
                .detail-type {
                    color: $txt-soft;
                }
            }
            button {
                background: $theme-primary;
                color: $txt-white;
                &:hover {
                    background: $theme-primary;
                    color: $txt-soft;
                }
            }
        }

        .item-status {
            color: #309630;
            padding: 5px 13px 5px 13px;
            font-size: 10px;
        }

        &.selected .item-status {
            color: $txt-white;
        }

        .item-detail {
            flex: 1;
            padding: 6px 10px;
            height: 100%;

            .detail-type {
                font-size: 0.8rem;
                font-weight: 600;
                color: $txt-light-grey;
                text-transform: uppercase;
                padding: 2px 0;
            }

            .detail-title {
                padding: 3px 0;
            }
        }

        button {
            flex: 0 0 auto;
            margin-left: auto;
            height: 100%;
            color: $txt-grey;
            padding: 0 10px;
            font-size: 14px;

            &:hover {
                background: $acrylic-white;
                color: $theme-secondary;
            }
        }
    }
}
