<search-list [facets]="facets"
             [count]="deviceCount | async">
  <div class="item-list"
       id="item-list-scroll">
    <h4>{{ deviceCount | async }} Results</h4>
    <cdk-virtual-scroll-viewport itemSize="52"
                                 minBufferPx="1200"
                                 maxBufferPx="1200"
                                 class="list-viewport">
      <div *cdkVirtualFor="let device of dataSource; trackBy: itemByKey">
        <div *ngIf="device !== undefined"
             class="list-item"
             [ngClass]="{ 'hover' : deviceHover === device.key,
                     'selected' : deviceSelect === device.key }"
             (click)="select(device, $event)"
             (mouseenter)="hover(device)"
             (mouseleave)="leave(device)"
             [attr.data-key]="device.key"
             tabindex="-1">
          <div class="item-status">
            <fa-icon [icon]="getDeviceStatusIcon(device)"
                     [style.color]="getDeviceStatusColor(device)"></fa-icon>
          </div>
          <div class="item-detail">
            <div *ngIf="device.type"
                 class="detail-type">{{ device.type }}</div>
            <div class="detail-title">{{ device.name || device.key }}</div>
          </div>
          <button class="plain-btn"
                  (click)="focusItem(device, $event)">
            <fa-icon [icon]='["far","dot-circle"]'></fa-icon>
          </button>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</search-list>