@import "~assets/css/_theme";

.title {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    cursor: pointer;

    .text {
        display: flex;
        flex: 1;
        color: $txt-grey;

        div {
            padding-right: 1rem;
        }

        .date {
            font-weight: 600;
        }
    }

    button {
        flex: 0 0 auto;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    padding: 0.5rem 0;
    color: $txt-grey;
}
