<div class="title">
    <div class="text"
         (click)="toggleShow()">
        <div class="date">{{ showDate(shadow.timestamp) }}</div>
        <div> version {{ shadow.revision }}</div>
        <div> {{ shadow.origin }}</div>
    </div>
    <button mat-icon-button
            color="accent"
            [title]="show ? 'Hide Json' : 'Show Json'"
            (click)="toggleShow()">
        <fa-icon *ngIf="show"
                 icon="caret-down">
        </fa-icon>
        <fa-icon *ngIf="!show"
                 icon="caret-up"></fa-icon>
    </button>
</div>
<div *ngIf="show"
     class='content'>
    <div>
        <button mat-icon-button
                color="primary"
                title="Reload these settings"
                (click)="selectRevision(shadow)">
            <fa-icon icon="share"></fa-icon>
        </button>
        <span>Load this historical revision into the main configuration</span>
    </div>
    <label>Tags</label>
    <div *ngIf="shadow != null && shadow != null">
        <tags [tags]="shadow.tags"
              [addable]="false"
              [removable]="false">
        </tags>
    </div>
    <json-edit [json]="shadow.config"
               mode="view">
    </json-edit>
    <div *ngIf="shadow.config != null">
        <label>Metadata</label>
        <json-edit [json]="shadow.metadata"
                   mode="view">
        </json-edit>
    </div>
</div>
