<card-collapse [title]="'Pull Subscription'"
               [open]="stream.pullSubscription != null"
               [formGroup]="pullSubscriptionForm">
    <div class="form-group">
        <div class="form-field">
            <label for="pull-uri">URI</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="pull-uri"
                       name="pull-uri"
                       formControlName="uri"
                       aria-label="Pull Subscription URI"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div class='params'>
        <div class="param-title">
            <h4>URI Parameters</h4>
            <button mat-icon-button
                    title="Add URI param"
                    (click)="addPullParameterValue()">
                <fa-icon class="add-icon"
                         icon="plus">
                </fa-icon>
            </button>
        </div>
        <div formArrayName="uriParams"
             *ngFor="let item of pullParams.controls; let i = index;">
            <key-value-row [key]="item.get('key').value"
                           [value]="item.get('value').value"
                           [canDelete]="true"
                           (keyChange)="item.get('key').setValue($event)"
                           (valueChange)="item.get('value').setValue($event)"
                           (delete)="removePullParameterValue(i)">
            </key-value-row>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <label for="pull-interval">Interval</label>
            <mat-form-field appearance="outline">
                <input type="number"
                       step="any"
                       id="pull-interval"
                       name="pull-interval"
                       formControlName="interval"
                       aria-label="Pull Subscription interval"
                       matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <label for="pull-aligned">Aligned</label>
            <mat-form-field appearance="outline">
                <input type="number"
                       step="any"
                       id="pull-aligned"
                       name="pull-aligned"
                       formControlName="aligned"
                       aria-label="Pull Subscription aligned"
                       matInput>
            </mat-form-field>
        </div>
    </div>
</card-collapse>

<card-collapse [title]="'Push Subscribers'"
               [open]="pushSubscribers.length > 0"
               [count]="pushSubscribers.length"
               [addbtn]="true"
               [addMessage]="'Add new push subcriber'"
               (add)="addPush()">
    <ng-container *ngIf="pushSubscribers != null">
        <push-subscriber-form *ngFor="let item of pushSubscribers; let i = index; trackBy: trackPush"
                              [push]="item"
                              (update)="updatePush(i, $event)"
                              (remove)="removePush(i)">
        </push-subscriber-form>
    </ng-container>
    <div *ngIf="pushSubscribers == null || pushSubscribers.length === 0">
        No push subscribers have been added
    </div>
</card-collapse>
