@import "~assets/css/_theme";

$border-colour: rgba(0, 0, 0, 0.2);
:host {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

card {
    padding: 0 1rem;

    .form-group:first-child {
        padding-top: 0.8rem;
    }
}

h4 {
    font-size: 1.2rem;
    color: $theme-secondary;
    padding: 0.8rem 0 0 1rem;
}

.header {
    flex: 0 0 68px;
    display: flex;
    align-items: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 0.5rem;
    flex: 0 0 auto;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
    }
}

.empty {
    font-size: 0.8rem;
    color: $txt-grey;
    padding: 0 0 1rem 1rem;
}

.select-holder {
    padding-bottom: 2rem;
}

.form {
    padding: 1rem 1rem 0 1rem;
}

label {
    color: $txt-grey;
}

.data-title {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;

    button {
        fa-icon {
            color: $txt-grey;
        }
        &:hover {
            fa-icon {
                color: $theme-secondary;
            }
        }
    }
}
