<ng-container *ngIf="component != null">
  <card [title]="'Layout Component'">
    <div class='form-group'>
      <div class='form-field'>
        <label for='component-name'>Component name</label>
        <mat-form-field appearance="outline">
          <input [formControl]="nameControl"
                 id="component-name"
                 name="component-name"
                 type="text"
                 placeholder="New Component"
                 matInput />
        </mat-form-field>
      </div>
    </div>
    <h4>Select Display Type</h4>
    <div class='form-group'>
      <div class='form-field'>
        <div class='select-holder'>
          <dynamic-select [required]="true"
                          name="layout"
                          [model]="component.type"
                          (modelChange)="updateDisplayType($event)"
                          [disabled]="disableQuerySelect"
                          [options]="typeOptions"
                          [upperBound]="10">
          </dynamic-select>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <ng-container *ngIf="component.type === VisualisationComponentType.MAP">
        <map-settings [configuration]="component.configuration"
                      [displayType]="component.type"
                      [queryTypes]="queryTypes"
                      (update)="updateConfig($event)"
                      (setError)="setDisplayConfigError($event)">
        </map-settings>
      </ng-container>
      <ng-container *ngIf="component.type !== VisualisationComponentType.MAP">
        <graph-settings [configuration]="component.configuration"
                        [displayType]="component.type"
                        [queryTypes]="queryTypes"
                        (update)="updateConfig($event)"
                        (setError)="setDisplayConfigError($event)">
        </graph-settings>
      </ng-container>
    </div>
  </card>
  <ng-container *ngIf='component.type'>
    <div class='data-title'>
      <h4>Data Queries</h4>
      <button mat-icon-button
              title="Add Data Query"
              (click)="addDataSource()">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
    <div *ngFor="let source of component.sources;"
         class="data-source-row">
      <query-source-form [open]='source.name == null'
                         [dataSource]="source"
                         [displayType]="component.type"
                         [allowedQueryTypes]="allowedQueryTypes$ | async"
                         (setError)="setDataSourceError($event)"
                         (delete)="deleteDataSource($event)"
                         (updateQuery)="onQueryChange($event)">
      </query-source-form>
    </div>
    <div *ngIf="component.sources.length === 0"
         class="empty">No data inputs specified
    </div>
  </ng-container>
</ng-container>