<div class='list'>
    <div class="actions">
        <button mat-flat-button
                *ngIf="showCreate"
                title='Create new group'
                class='new-item'
                [color]="'primary'"
                (click)="newGroup()">
            <fa-icon icon="plus"></fa-icon>
            Create new group
        </button>
    </div>
    <card *ngIf="groups.length === 0"
          [title]="'Groups'">
        This user does not have any groups available to administrate
    </card>
    <card *ngFor="let group of groups"
          [title]="group.name"
          [uppercase]="false"
          [editMessage]="'Update this group'"
          [editbtn]="true"
          (edit)="updateGroup(group.name)">
        <group-users [group]="group"></group-users>
    </card>
</div>
<router-outlet></router-outlet>
