@import "~assets/css/_theme";

:host {
    display: flex;
    overflow: auto;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1 0 auto;
    padding: 1rem;
    overflow-y: auto;
}


card {
    width: 440px;
    padding-right: 2rem;
}