<div class='ngx-bar-graph'
     *ngIf="results.length > 0">
  <ngx-charts-bar-vertical [scheme]="colorScheme"
                           [customColors]="customColors"
                           [results]="results"
                           [animations]="true"
                           [gradient]="gradient"
                           [xAxis]="showXAxis"
                           [yAxis]="showYAxis"
                           [legend]="showLegend"
                           [showXAxisLabel]="showXAxisLabel"
                           [showYAxisLabel]="showYAxisLabel"
                           [xAxisLabel]="xAxisLabel"
                           [yAxisLabel]="yAxisLabel"
                           [xAxisTickFormatting]="xAxisTickFormatting"
                           [yAxisTickFormatting]="yAxisTickFormatting"
                           [barPadding]="12"
                           (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>