@import "~assets/css/_theme";

line-graph {
    display: block;
    width: 100%;
    height: 100%;

    ngx-charts-chart {
        .ngx-charts {
            .bar,
            .cell,
            .arc,
            .card {
                &.active,
                &:hover {
                    opacity: 0.8;
                    transition: opacity 100ms ease-in-out;
                }

                &:focus {
                    outline: none;
                }
            }

            g {
                &:focus {
                    outline: none;
                }
            }

            .line-series,
            .line-series-range,
            .polar-series-path,
            .polar-series-area,
            .area-series {
                &.inactive {
                    transition: opacity 100ms ease-in-out;
                    opacity: 0.2;
                }
            }

            .line-highlight {
                display: none;

                &.active {
                    display: block;
                }
            }

            .area {
                opacity: 0.6;
            }

            .circle {
                &:hover {
                    cursor: pointer;
                }
            }

            .gridline-path {
                stroke: $acrylic-grey;
                stroke-width: 1;
                fill: none;
            }

            .label {
                font-size: 12px;
                font-weight: normal;
            }

            .current-time {
                stroke: $theme-secondary;
                stroke-opacity: 0.5;
                fill: $theme-secondary;
                fill-opacity: 0.5;
            }

            .drag-box {
                stroke: $theme-primary;
                stroke-opacity: 0.5;
                fill: $theme-primary;
                fill-opacity: 0.2;
            }
        }
    }
}
