<ngx-charts-chart *ngIf="results.length > 0"
                  [view]="[width, height]"
                  [showLegend]="false"
                  [activeEntries]="activeEntries"
                  [animations]="animations">
       <svg:defs>
              <svg:clipPath [attr.id]="clipPathId">
                     <svg:rect [attr.width]="dims.width + 10"
                               [attr.height]="dims.height + 10"
                               [attr.transform]="'translate(-5, -5)'" />
              </svg:clipPath>
       </svg:defs>
       <svg:g [attr.transform]="transform"
              class="line-chart chart">
              <svg:g ngx-charts-x-axis
                     *ngIf="xAxis"
                     [xScale]="xScale"
                     [dims]="dims"
                     [showGridLines]="showGridLines"
                     [showLabel]="showXAxisLabel"
                     [labelText]="xAxisLabel"
                     [trimTicks]="trimXAxisTicks"
                     [rotateTicks]="rotateXAxisTicks"
                     [maxTickLength]="maxXAxisTickLength"
                     [tickFormatting]="xAxisTickFormatting"
                     [ticks]="xAxisTicks"
                     (dimensionsChanged)="updateXAxisHeight($event)"></svg:g>
              <svg:g ngx-charts-y-axis
                     *ngIf="yAxis"
                     [yScale]="yScale"
                     [dims]="dims"
                     [showGridLines]="showGridLines"
                     [showLabel]="showYAxisLabel"
                     [labelText]="yAxisLabel"
                     [trimTicks]="trimYAxisTicks"
                     [maxTickLength]="maxYAxisTickLength"
                     [tickFormatting]="yAxisTickFormatting"
                     [ticks]="yAxisTicks"
                     [referenceLines]="referenceLines"
                     [showRefLines]="showRefLines"
                     [showRefLabels]="showRefLabels"
                     (dimensionsChanged)="updateYAxisWidth($event)"></svg:g>
              <svg:g [attr.clip-path]="clipPath"
                     (mousedown)="onMouseDown($event)">
                     <svg:g *ngFor="let series of results; trackBy: trackBy"
                            [@animationState]="'active'">
                            <svg:g ngx-charts-line-series
                                   [xScale]="xScale"
                                   [yScale]="yScale"
                                   [colors]="colors"
                                   [data]="series"
                                   [activeEntries]="activeEntries"
                                   [scaleType]="scaleType"
                                   [curve]="curve"
                                   [rangeFillOpacity]="rangeFillOpacity"
                                   [hasRange]="hasRange"
                                   [animations]="animations" />
                     </svg:g>
                     <svg:g *ngIf="dragging">
                            <svg:rect #dragBox
                                      [attr.x]="dragX"
                                      [attr.width]="dragWidth"
                                      y="0"
                                      [attr.height]="dims.height"
                                      class="drag-box" />
                     </svg:g>
                     <svg:g *ngIf="showTime && currentPos >= 0">
                            <svg:rect #currentTime
                                      class="current-time"
                                      [attr.x]="currentPos"
                                      y="0"
                                      [attr.width]="1"
                                      [attr.height]="dims.height"
                                      [style.pointer-events]="'none'" />
                     </svg:g>
                     <svg:g *ngIf="!tooltipDisabled"
                            (mouseleave)="hideCircles()">
                            <svg:g ngx-charts-tooltip-area
                                   [dims]="dims"
                                   [xSet]="xSet"
                                   [xScale]="xScale"
                                   [yScale]="yScale"
                                   [results]="results"
                                   [colors]="colors"
                                   [tooltipDisabled]="tooltipDisabled"
                                   (hover)="updateHoveredVertical($event)" />
                            <svg:g *ngFor="let series of results">
                                   <svg:g ngx-charts-circle-series
                                          [xScale]="xScale"
                                          [yScale]="yScale"
                                          [colors]="colors"
                                          [data]="series"
                                          [scaleType]="scaleType"
                                          [visibleValue]="hoveredVertical"
                                          [activeEntries]="activeEntries"
                                          [tooltipDisabled]="tooltipDisabled"
                                          (select)="onClick($event)"
                                          (activate)="onActivate($event)"
                                          (deactivate)="onDeactivate($event)" />
                            </svg:g>
                     </svg:g>
              </svg:g>
       </svg:g>
</ngx-charts-chart>