@import "~assets/css/_theme";

:host {
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
    cursor: pointer;
    border-bottom: 1px solid $acrylic-grey;
}

:host(.selected) {
    color: $txt-white;
    background: $theme-primary;
    button {
        fa-icon {
            color: $txt-white;
        }
        background: $theme-primary;
        &:hover {
            fa-icon {
                color: $txt-soft;
            }
            background: $acrylic-grey;
        }
    }
}

.list-title {
    line-height: 50px;
    flex: 1;
    padding-left: 1rem;
    height: 100%;
    font-size: 1.2rem;
    align-self: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background: $acrylic-grey;
    }
}

button {
    flex: 0 0 auto;
    border-radius: 0;
    font-size: 14px;
    height: 100%;
    width: 34px;
    fa-icon {
        color: $txt-grey;
    }

    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
        background: $acrylic-grey;
    }
}
