<div class="list-title"
     (click)="changeResource(resource.key)">{{ resource.name }}</div>

<button mat-icon-button
        title="Edit {{ name }}"
        (click)="editResource(resource.key)">
  <fa-icon icon="pen"></fa-icon>
</button>
<button mat-icon-button
        title="Delete {{ name }}"
        (click)="deleteResource(resource.key)">
  <fa-icon icon="trash"></fa-icon>
</button>