<map-config-form *ngIf="displayType === VisualisationComponentType.MAP"
                 [querySource]="dataSource"
                 (save)="saveMapConfig($event)"
                 (saveSecondaries)="saveSecondaryQueries($event)"
                 (removeSecondary)="removeSecondaryQuery($event)"
                 (hasError)='setError($event)'>
</map-config-form>

<ng-container *ngIf="dataSource.query === DataQueryType.LOCATION">
  <h4>Location Settings</h4>
  <div class="form-group"
       [formGroup]="locationConfigForm">
    <div class="form-field">
      <mat-checkbox formControlName="showAsLine"
                    [disableRipple]="true">
        Display as a line
      </mat-checkbox>
    </div>
    <div class="form-field">
      <label for="location-points">Data points</label>
      <mat-form-field appearance="outline">
        <input type="number"
               id="location-points"
               name="location-points"
               formControlName="sizeFromCurrent"
               placeholder="50"
               aria-label="Data points from current"
               matInput>
        <mat-hint>The maximum number of data-points</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="location-time">Time limit</label>
      <mat-form-field appearance="outline">
        <input type="text"
               id="location-time"
               name="location-time"
               formControlName="timeFromCurrent"
               placeholder="30m"
               aria-label="Time limit"
               matInput>
        <mat-hint>The maximum time range limit, relative to the live date, '1M1d5h10m'</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-checkbox formControlName="forward"
                    [disableRipple]="true">
        Forwards from time
      </mat-checkbox>
    </div>
  </div>
</ng-container>

<aggregation-config-form *ngIf="dataSource.query === DataQueryType.AGGREGATION"
                         [aggregationQuery]="dataSource.configuration['aggregationQuery']"
                         [displayType]="displayType"
                         [widget]="widget"
                         (save)="saveAggregationConfig($event)"
                         (hasError)='setError($event)'>
</aggregation-config-form>
<event-config-form *ngIf="dataSource.query === DataQueryType.EVENTS || dataSource.query === DataQueryType.EVENTLOCATION"
                   [eventQuery]="dataSource.configuration['eventQuery']"
                   [displayType]="displayType"
                   (save)="saveEventConfig($event)"
                   (hasError)='setError($event)'>
</event-config-form>

<image-config-form *ngIf="dataSource.query === DataQueryType.IMAGES"
                   [imageQuery]="dataSource.configuration['imageQuery']"
                   (save)="saveImageConfig($event)"
                   (hasError)='setError($event)'>
</image-config-form>

<value-config-form *ngIf="displayType === VisualisationComponentType.VALUE"
                   [dataSource]="dataSource"
                   (save)="saveValueConfig($event)"
                   (hasError)='setError($event)'>
</value-config-form>

<ng-container *ngIf="displayType === VisualisationComponentType.PIECHART && dataSource.query === DataQueryType.DEVICE">
  <h4>Device Settings</h4>
  <div class="form-group"
       [formGroup]="valueConfigForm">
    <mat-radio-group class='form-field'
                     formControlName="type">
      <mat-radio-button [value]="'type'">
        Display device types
      </mat-radio-button>
      <mat-radio-button [value]="'status'">
        Display device status
      </mat-radio-button>
    </mat-radio-group>
  </div>
</ng-container>