@import "~assets/css/_theme";

$border-colour: rgba(0, 0, 0, 0.2);
:host {
    display: block;
}

h4 {
    font-size: 1.2rem;
    color: $theme-secondary;
}

label {
    color: $txt-grey;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        min-height: 85px;
        justify-content: center;
    }
}

mat-radio-button {
    padding-bottom: 1rem;
}