<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="title">
    <h4>{{ name }}</h4>
    <button mat-flat-button
            color="primary"
            type="submit">Submit</button>
  </div>
  <formly-form [model]="json"
               [fields]="fields"
               [options]="options"
               [form]="form"></formly-form>
</form>