@import "~assets/css/_variables";
@import "~assets/css/_theme";

:host {
    overflow: hidden;
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
}

.subnav-page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $subnav-height;
    z-index: 100;
}

.subnav-page-body {
    position: absolute;
    top: $subnav-height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-main;
}
