<search-modal [title]="'Edit Filters'"
              [subtitle]="'Total:' + count">
  <div class='facet-list'>
    <facet-list *ngFor="let facetGroup of facets"
                [facetGroup]="facetGroup"
                [count]="count"
                [activeTerms]="activeSearch != null ? activeSearch.terms: []"
                (selectAll)="selectAll($event)"
                (selectSingle)="addTerm($event.option, $event.facetGroup)">
    </facet-list>
  </div>
</search-modal>