<item-panel-wrapper *ngIf="stream">
    <div class="wrapper">
        <item-panel-subheader [title]="newStream? newTitle: stream.name || stream.key"
                              (close)="close()"
                              [returnMessage]="'Back to Device'"
                              [showError]="hasError"
                              [errorMessage]="errorMessage"
                              (hideError)="clearErrors()">
            <save-buttons *ngIf="keysChanged() || hasError"
                          [error]="hasError"
                          (save)="saveStream()"
                          (cancel)="discardChanges()"></save-buttons>
        </item-panel-subheader>
        <card-wrapper>
            <ng-container *ngIf="showResource != null">
                <resource-display [resource]="showResource"
                                  (close)="closeResource()">
                </resource-display>
            </ng-container>
            <ng-container *ngIf="showResource == null">
                <basic-key-config [title]="isTransform? 'Transform Information' : 'Stream Information'"
                                  [stream]="true"
                                  [data]="stream"
                                  [new]="newStream"
                                  [showDelete]="showDelete"
                                  [deleteMessage]="isTransform? 'Delete this Transform': 'Delete this Stream'"
                                  (save)="updateStream($event)"
                                  (delete)="deleteStream($event)">
                </basic-key-config>

                <card-collapse [title]="'Metadata'">
                    <json-edit [json]="streamCopy['metadata']"
                               [mode]="'code'"
                               (error)="setError({ show: $event, message: 'Invalid json in metadata'})"
                               (update)="updateStream({ metadata: $event})">
                    </json-edit>
                </card-collapse>

                <transform-config *ngIf="isTransform"
                                  [transform]="stream"
                                  (update)="updateStream($event)"
                                  (error)="setError($event)">
                </transform-config>

                <subscriber-config [stream]="stream"
                                   (update)="updateStream($event)"
                                   (error)="setError($event)">
                </subscriber-config>

                <entity-resources *ngIf="stream.resources != null"
                                  [title]="'Resources'"
                                  [key]="stream.key"
                                  [resources]="stream.resources"
                                  (view)="openResource($event)"
                                  (update)="updateResources(stream.key, true)">
                </entity-resources>

                <permission-form *ngIf="streamCopy['userPermissions']"
                                 [title]="'User Permissions'"
                                 [stream]="true"
                                 [permissions]="streamCopy.userPermissions"
                                 (update)="updateStream({ userPermissions: $event})">
                </permission-form>

                <permission-form *ngIf="streamCopy['groupPermissions']"
                                 [title]="'Group Permissions'"
                                 [stream]="true"
                                 [permissions]="streamCopy.groupPermissions"
                                 (update)="updateStream({ groupPermissions: $event})">
                </permission-form>
            </ng-container>
        </card-wrapper>
    </div>
</item-panel-wrapper>
