<item-panel-wrapper *ngIf="resource">
    <div class="wrapper">
        <item-panel-subheader title="View Resource"
                              (close)="closeResource()"
                              returnMessage="Back">
        </item-panel-subheader>
        <card-wrapper>
            <card [ngSwitch]="displayType">
                <json-resource *ngSwitchCase="'JSON'"
                               [resourceKey]="resource.key"
                               [resource]="resource"
                               (update)="updateResource()"
                               (delete)="deleteResource()">
                </json-resource>
                <image-resource *ngSwitchCase="'IMAGE'"
                                [resourceKey]="resource.key"
                                [resource]="resource"
                                (update)="updateResource()"
                                (delete)="deleteResource()">
                </image-resource>
                <file-resource *ngSwitchCase="'FILE'"
                               [resourceKey]="resource.key"
                               [resource]="resource"
                               (update)="updateResource()"
                               (delete)="deleteResource()">
                </file-resource>
            </card>
        </card-wrapper>
    </div>
</item-panel-wrapper>