@import "~assets/css/_theme";

:host {
    width: 52px;
    height: 252px;
    display: block;
    border: 1px solid $acrylic-grey;
}

.color-slider:hover {
    cursor: pointer;
}

svg {
    position: absolute;
    height: 250px;
    width: 50px;
}