<svg (mousedown)="onMouseDown($event)"
     (mousemove)="onMouseMove($event)">
    <rect #rect
          [attr.x]="0"
          [attr.y]="selectedHeight - 5"
          fill="none"
          stroke="white"
          height=10
          width="50"
          stroke-width="4">
    </rect>
</svg>
<canvas #canvas
        class="color-slider"
        width="50"
        height="250">
</canvas>