@import "~assets/css/_theme";

:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.side-list {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    background: $bg-white;
    border-right: 1px solid $acrylic-grey;

    .list-body {
        flex: 1;
        overflow-y: auto;
    }

    .list-filter {
        height: 50px;
        width: 100%;
        padding: 8px 12px;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #aaa;
        }
    }

    .list-end {
        width: 100%;
        height: 50px;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.vis-main {
    flex: 1;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
