<div class="side-list">
  <input [formControl]="filterControl"
         name="displaysearch"
         type="text"
         placeholder="Filter..."
         class="list-filter" />
  <div cdkDropList
       class="list-body"
       (cdkDropListDropped)="drop($event)">
    <vis-row class="list-item"
             *ngFor="let vis of visualisations | textFilter:filterText; trackBy visByKey"
             cdkDrag
             [ngClass]="{ 'selected': checkSelected(vis.key) }"
             [resource]="vis"
             (change)="changeVisualisation($event)"
             (edit)="editVisualisation($event)"
             (delete)="deleteVisualisation($event)">
    </vis-row>
  </div>
  <div class="list-end">
    <button mat-flat-button
            color="primary"
            title="New Visualisation"
            (click)="newVisualisation()">
      <fa-icon icon="plus"></fa-icon>
      New Visualisation
    </button>
  </div>
</div>
<div class="vis-main">
  <router-outlet></router-outlet>
</div>