:host(.wide) {
    width: 100%;

    mat-form-field {
        width: 100%;
    }

    mat-button-toggle-group {
        width: 100%;
        margin-bottom: 0px;

        mat-button-toggle {
            flex: 1;
        }
    }
}

mat-button-toggle-group {
    margin-bottom: 0px;
}

.select-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
