<div *ngIf="view === 'select'"
     [ngClass]="{ disabled: options.length === 1 }"
     class="select-wrapper">
  <mat-form-field appearance="outline"
                  [class]="selectClass">
    <mat-select name="name"
                [placeholder]="placeHolder"
                [value]="model"
                (selectionChange)="onChange($event)"
                [required]="required"
                [disableRipple]="true"
                [disabled]="disabled"
                [multiple]="multiple">
      <mat-option *ngFor="let option of options"
                  [value]="option.value">
        {{ option.title }}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="options.length === 0 && emptyHint != null">{{ emptyHint }}</mat-hint>
    <mat-hint *ngIf="hint != null">{{ hint }}</mat-hint>
  </mat-form-field>
</div>

<div *ngIf="view === 'row'">
  <mat-button-toggle-group [name]="name"
                           [disabled]="disabled"
                           (change)="onButtonGroupChange($event)">
    <mat-button-toggle *ngFor="let option of options"
                       [class]="selectClass"
                       [value]="option.value"
                       [disableRipple]="true"
                       [checked]="option.value === model">
      {{ option.title }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>