<div class="key">
  {{key}}
</div>

<mat-form-field appearance="outline"
                class='value'>
  <input matInput
         type="number"
         step="0.1"
         [formControl]="valueControl">
</mat-form-field>
<button mat-icon-button
        *ngIf="canDelete"
        title="Remove row"
        (click)="deleteRow()">
  <fa-icon icon="trash"></fa-icon>
</button>

