@import "~assets/css/_theme";

:host {
    flex: 0 1 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $acrylic-grey;
}

.stream-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid $acrylic-grey;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background: $acrylic-grey;
    }

    .name {
        color: $theme-primary;
    }

    .key {
        font-size: 0.8em;
        color: $txt-light-grey;
    }
}

card-collapse {
    padding-bottom: 1rem;
}
