<item-panel-wrapper [loading]="loading">
    <ng-container *ngIf="device">
        <item-panel-header [title]="newDevice? 'New Device': ( device.name || device.key )"
                           (close)="close()"
                           [showError]="hasError"
                           [errorMessage]="errorMessage"
                           (hideError)="setError(false)">
            <save-buttons *ngIf="keysChanged() || hasError"
                          [error]="hasError"
                          (save)="saveDevice()"
                          (cancel)="discardChanges()">
            </save-buttons>
        </item-panel-header>
        <card-wrapper>
            <router-outlet #streamView="outlet">
            </router-outlet>
            <ng-container *ngIf="!streamView.isActivated && showResource != null">
                <resource-display [resource]="showResource"
                                  (update)="updateResources(device.key)"
                                  (close)="closeResource()">
                </resource-display>
            </ng-container>
            <ng-container *ngIf="!streamView.isActivated && showResource == null">
                <basic-key-config [title]="'Device Information'"
                                  [data]="device"
                                  [new]="newDevice"
                                  [showDelete]="showDelete"
                                  [deleteMessage]="'Delete this device'"
                                  (save)="updateDevice($event)"
                                  (delete)="deleteDevice()">
                </basic-key-config>

                <card-collapse [title]="'Metadata'">
                    <json-edit [json]="deviceCopy['metadata']"
                               [mode]="'code'"
                               (error)="setError({ show: $event, message: 'Invalid json in metadata'})"
                               (update)="updateDevice({ metadata: $event})">
                    </json-edit>
                </card-collapse>

                <card-collapse *ngIf="shadowConfigList.length > 0"
                               [title]="'Device Settings'">
                    <div class="stream-row"
                         *ngFor="let shadow of shadowConfigList trackBy: streamByKey"
                         (click)="openShadow(shadow.key)">
                        <span class='name'>{{ shadow.name }}</span>
                    </div>
                </card-collapse>

                <card-collapse *ngIf="!newDevice"
                               [title]="'Data Streams'"
                               [open]="dataStreams.length > 0"
                               [count]="dataStreams.length"
                               [addbtn]="!newDevice && authService.checkUserRole(Privilege.CREATE_DATASTREAM)"
                               [addMessage]="'Add new data stream'"
                               (add)="newStream('newStream')">
                    <div class="stream-row"
                         *ngFor="let stream of dataStreams trackBy: streamByKey"
                         (click)="openStream(stream.key)">
                        <span class='name'>{{ stream.name }}</span>
                        <span class="key">{{ stream.key }}</span>
                    </div>
                    <p *ngIf="dataStreams.length === 0 && newDevice">
                        The device must be created before adding streams.
                    </p>
                    <p *ngIf="dataStreams.length === 0 && !newDevice">
                        No streams
                    </p>
                </card-collapse>

                <card-collapse *ngIf="!newDevice"
                               [title]="'Transform Streams'"
                               [open]="transforms.length > 0"
                               [count]="transforms.length"
                               [addbtn]="!newDevice && authService.checkUserRole(Privilege.CREATE_DATASTREAM)"
                               [addMessage]="'Add new transform'"
                               (add)="newStream('newTransform')">
                    <div class="stream-row"
                         *ngFor="let stream of transforms trackBy: streamByKey"
                         (click)="openStream(stream.key)">
                        <span class='name'>{{ stream.name }}</span>
                        <span class="key">{{ stream.key }}</span>
                    </div>
                    <p *ngIf="transforms.length === 0 && newDevice">
                        The device must be created before adding transforms.
                    </p>
                    <p *ngIf="transforms.length === 0 && !newDevice">
                        No transform streams
                    </p>
                </card-collapse>

                <card-collapse [title]="'Location'">
                    <map-edit [location]="device.location"
                              (update)="updateDevice({ location: $event})">
                    </map-edit>
                </card-collapse>

                <entity-resources *ngIf="device.resources != null"
                                  [title]="'Resources'"
                                  [key]="device.key"
                                  [resources]="device.resources"
                                  (view)="openResource($event)"
                                  (update)="updateResources(device.key)">
                </entity-resources>

                <permission-form *ngIf="deviceCopy['userPermissions']"
                                 [title]="'User Permissions'"
                                 [permissions]="deviceCopy.userPermissions"
                                 (update)="updateDevice({ userPermissions: $event})">
                </permission-form>

                <permission-form *ngIf="deviceCopy['groupPermissions']"
                                 [title]="'Group Permissions'"
                                 [permissions]="deviceCopy.groupPermissions"
                                 (update)="updateDevice({ groupPermissions: $event})">
                </permission-form>
            </ng-container>
        </card-wrapper>
    </ng-container>
</item-panel-wrapper>
