:host {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 40px;
}

.key {
  margin-top: 4px;
  margin-right: 0.7rem;
  flex: 0 1 30%;
}

.value {
  flex: 1;
}

mat-form-field {
  margin-top: 20px;
  margin-right: 0.5rem;
}

