<h4>Image Query Settings</h4>
<div class="form-group"
     [formGroup]="imageConfigForm">
  <div class="form-field">
    <label for="image-count">Image count</label>
    <mat-form-field appearance="outline">
      <input type="number"
             id="image-count"
             name="image-count"
             formControlName="size"
             matInput>
    </mat-form-field>
  </div>
  <div class="form-field">
    <label for="image-burst-interval">Burst interval</label>
    <mat-form-field appearance="outline">
      <input type="number"
             id="image-burst-interval"
             name="image-burst-interval"
             formControlName="burstInterval"
             placeholder="200"
             matInput>
      <mat-hint>Millisecond bounds for grouping the images as a burst</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-field">
    <label for="image-tags">Tags</label>
    <mat-form-field appearance="outline">
      <input type="text"
             id="image-tags"
             name="image-tags"
             formControlName="tags"
             matInput>
      <mat-hint>Comma separated list of image tags to filter by</mat-hint>
    </mat-form-field>
  </div>
</div>