<item-panel-wrapper [loading]="loading"
                    *ngIf="alert"
                    class="alert-view-wrapper">
  <item-panel-header [title]="alert.name"
                     (close)="close()">
  </item-panel-header>
  <card-wrapper>
    <router-outlet></router-outlet>

    <card [title]="'Details'">
      <table class="details">
        <tr>
          <td class='label'>Created At</td>
          <td> {{ formatDate(alert.timestamp) }}</td>
        </tr>
        <tr>
          <td class='label'>Event Type</td>
          <td>{{ alert.eventType }}</td>
        </tr>
        <tr>
          <td class='label'>Value</td>
          <td>{{ alert.value }}</td>
        </tr>
        <tr>
          <td class='label'>Type</td>
          <td>{{ alert.type }}</td>
        </tr>
        <tr>
          <td class='label'>Category</td>
          <td>{{ alert.category }}</td>
        </tr>
        <tr>
          <td class='label'>Description</td>
          <td>{{ alert.description }}</td>
        </tr>
      </table>
      <label>Severity</label>
      <dynamic-select [required]="true"
                      name='severity'
                      [model]="currentSeverity"
                      (modelChange)="updateSeverity($event)"
                      [options]="severityOptions">
      </dynamic-select>
      <label>Status</label>
      <dynamic-select [required]="true"
                      name='status'
                      [model]="alert.status"
                      (modelChange)="updateStatus($event)"
                      [options]="statusOptions">
      </dynamic-select>
    </card>

    <card-collapse *ngIf="deviceKeys.length > 0"
                   [title]="'Related Devices'"
                   [count]="deviceKeys.length">
      <div class="device-row"
           *ngFor="let deviceKey of deviceKeys"
           (click)="openDeviceSummary(deviceKey)">
        {{ deviceKey }}
      </div>
      <p *ngIf="deviceKeys.length === 0">No related devices.</p>
    </card-collapse>

    <card-collapse *ngIf="links.length > 0"
                   [title]="'Links to external events'"
                   [count]="links.length">
      <div class="device-row"
           *ngFor="let link of links"
           (click)="openLink(link.key)">
        {{ link.description }}
      </div>
      <p *ngIf="deviceKeys.length === 0">No external events.</p>
    </card-collapse>

    <card-collapse *ngIf="imageKeys.length > 0"
                   [title]="'Related Image Streams'"
                   [count]="imageKeys.length">
      <div class="device-row"
           *ngFor="let imageKey of imageKeys"
           (click)="openImages()">
        {{ imageKey }}
      </div>
    </card-collapse>

    <card-collapse [title]="'Location'">
      <map-edit [location]="alert.location"
                [displayOnly]="true">
      </map-edit>
    </card-collapse>

    <card-collapse [title]="'Tags'">
      <tags [tags]="alert.tags"
            (addTag)="addTag($event)"
            (removeTag)="removeTag($event)">
      </tags>
    </card-collapse>
    <card-collapse [title]="'History'">
      <alert-feedback [feedback]="alert.feedback"
                      (sendFeedback)="sendFeedback($event)"
                      (deleteFeedback)="deleteFeedback($event)">
      </alert-feedback>
    </card-collapse>
  </card-wrapper>
</item-panel-wrapper>