@import "~assets/css/_theme";

:host {
    flex: 0 1 auto;
    width: 680px;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $acrylic-grey;
}

.device-row {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid $acrylic-grey;
    color: $theme-primary;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background: $acrylic-grey;
    }
}

.details {
    td {
        padding: 5px 0;
    }
    .label {
        color: $txt-grey;
        padding-right: 1rem;
        min-width: 100px;
    }
}

label {
    display: block;
    color: $txt-grey;
    padding: 3px 0px 0px 3px;
}

dynamic-select {
    padding: 5px 0;
    display: block;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
