@import "~assets/css/_theme";

.media-thumb {
    height: 100px;
    color: $txt-soft;
    margin: 7px;
    position: relative;
    cursor: pointer;

    &.horizontal {
        margin: 0px 7px 0px 0px;
    }

    &:hover {
        .thumbnail-image {
            border: 1px solid $theme-primary;
        }
    }

    .thumbnail-image {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .image-count {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 24px;
        height: 24px;
        padding-top: 5px;
        text-align: center;
        color: $txt-white;
        font-weight: 700;
        background: rgba(0, 151, 168, 0.7);
    }

    &.burst {
        .thumbnail-image {
            transform-origin: top left;
            transform: scale(0.95, 0.95);
        }
        .image-first {
            position: absolute;
            transform-origin: top left;
            transform: scale(0.95, 0.95) translate(4px, 4px);
            border: 1px solid rgba(0, 0, 0, 0.4);
        }
        .image-second {
            position: absolute;
            transform-origin: top left;
            transform: scale(0.95, 0.95) translate(8px, 8px);
            border: 1px solid rgba(0, 0, 0, 0.4);
        }
    }
}
