<div class="media-thumb"
     [ngClass]="{ burst: burst, horizontal: horizontal }">
    <img *ngIf="burst && (media.length > 3)"
         class='image-second'
         [src]="getThumbnailUrl(media[2].imageRef)" />
    <img *ngIf="burst && (media.length > 2)"
         class='image-first'
         [src]="getThumbnailUrl(media[1].imageRef)" />
    <img class='thumbnail-image'
         [src]="imageUrl" />
    <div *ngIf="burst"
         class="image-count">{{ this.media.length }}
    </div>
</div>