@import '~assets/css/_theme';

/* Designed to be passed into page-wrapper */
:host {
    padding: 0;
    height: 100%;
    background: $bg-white;
    display: flex;
    align-items: center;
    color: $txt-black;
    border-bottom: 1px solid $bg-grey;
}

.pagetitle {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 2rem;
    font-weight: 500;
}

.logo {
    margin-left: auto;
    width: 80px;
}