@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    background: $bg-white;
    padding-left: 1rem;
    overflow-y: auto;
}

label {
    color: $txt-grey;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        margin: 0.5rem 0;
        flex: 0 0 40px;
        height: 40px;
        align-items: center;

        h4 {
            color: $theme-secondary;
            margin: 0;
            padding: 0;
            padding-right: 1rem;
        }

        .error {
            padding-left: 1rem;
            color: $theme-warn;
        }
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        min-height: 50px;
        flex: 0 0 auto;

        .form-field {
            display: flex;
            flex-direction: column;
            padding-right: 1.5rem;
            justify-content: center;
        }
    }

    .syntax-editor {
        flex: 1 1 auto;
        min-height: 200px;
    }
}
