<form [formGroup]="transformForm"
      (ngSubmit)="onSubmit()">
    <div class='header'>
        <h4>Transform Settings</h4>
        <button mat-flat-button
                color="accent"
                type="submit"
                [disabled]="!transformForm.valid"> Save </button>
        <div *ngIf="error"
             class="error">There was an error saving the transform function</div>
    </div>
    <div class="form-group"
         [formGroup]="transformForm">
        <div class="form-field">
            <label for="name">Name</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="name"
                       name="name"
                       formControlName="name"
                       aria-label="Transform function name"
                       matInput>
            </mat-form-field>
        </div>
        <div class="form-field">
            <label for="name">Type</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="type"
                       name="type"
                       formControlName="functionType"
                       aria-label="Transform function type"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div #codeWrapper
         class='syntax-editor'>
        <label for="function">Function</label>
        <syntax-editor #code
                       [code]="transformForm.get('functionContent').value">
        </syntax-editor>
    </div>
</form>
