<mat-form-field #colourFormField
                appearance="outline">
    <input type="text"
           [formControl]="colourControl"
           [placeholder]="placeholder"
           [value]="colour"
           [name]="name"
           [title]="label"
           matInput>
    <fa-icon *ngIf="colour"
             matSuffix
             icon="circle"
             [style.color]="colour">
    </fa-icon>
    <mat-error *ngIf="colourControl.hasError('pattern')">
        Not a valid hex color.
    </mat-error>
</mat-form-field>