<h1 mat-dialog-title>Export Visualisation: {{ data.vis.name }}</h1>
<div mat-dialog-content>
    <button mat-flat-button
            color="primary"
            cdkFocusInitial
            (click)="downloadVisualisation()">
        Download
    </button>
</div>