@import '~assets/css/_theme';

:host {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background: $bg-main;

    .scroll-container {
        flex: 1;
        height: 100%;
        overflow-y: auto;
        padding: 0 0.5rem;
    }
}
