@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;
}

mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
}

widget-display {
    width: 500px;
    height: 336px;

    h4 {
        padding: 14px 0 4px 2px;
        flex: 1;
        margin: 0;
        font-size: 18px;
        cursor: pointer;
    }
}

.placeholder {
    display: none;
}

.preview {
    h4 {
        color: $theme-secondary;
        font-size: 18px;
        cursor: pointer;
    }
    .preview-display {
        width: 500px;
        height: 300px;
        background: $bg-white;
    }
}

.edit-button {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}
