<mat-grid-list #widgetGallery
               cdkDropListGroup
               [cols]="cols"
               (window:resize)="onResize()"
               rowHeight="364px"
               class="widget-gallery">
  <mat-grid-tile cdkDropList
                 *ngFor="let widget of widgetList; let i = index;"
                 [cdkDropListData]="i"
                 class="widget-list"
                 colspan="1"
                 rowspan="1">
    <widget-display cdkDrag
                    cdkDragBoundary="widget-gallery"
                    [cdkDragData]="i"
                    (cdkDragEntered)="entered($event)"
                    [widget]="widget.content"
                    [key]="widget.key"
                    (editWidget)="editWidget(widget.key)"
                    (deleteWidget)="deleteWidget(widget.key)">
      <h4 cdkDragHandle>{{ widget.name }}</h4>
      <div class="placeholder"
           *cdkDragPlaceholder>
      </div>
      <div class="preview"
           *cdkDragPreview>
        <h4>{{ widget.name }}</h4>
        <div class="preview-display"></div>
      </div>
    </widget-display>
  </mat-grid-tile>
</mat-grid-list>

<button mat-mini-fab
        class='edit-button'
        color="accent"
        (click)="newWidget()">
  <fa-icon icon='plus'></fa-icon>
</button>