@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 65px;
    display: block;
    overflow: hidden;
    position: relative;
}

.slider-controls {
    display: flex;
    align-items: flex-start;

    button {
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
    }

    .live-button {
        font-weight: 600;
    }

    .icon-button {
        width: 25px;
    }

    .controls-content {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }

    .playback-speed {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        padding-right: 0.5rem;
    }
}

track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 6px;
    fill: #000;
}

.track-inset {
    stroke: $theme-secondary;
    stroke-width: 4px;
}

.track-overlay {
    pointer-events: stroke;
    stroke: transparent;
    cursor: pointer;
}

.handle {
    fill: $theme-secondary-darker;
    stroke: $txt-black;
    stroke-width: 1px;

    &.active {
        fill: $theme-secondary-contrast;
    }
}

.tick {
    font-size: 10px;
    fill: $txt-dark-grey;
}
