<svg #svg
     [attr.width]="size.width + (margin * 2)"
     [attr.height]="30">
      <g class="ticks"
         [attr.transform]="'translate(' + margin + ', 0)'">
            <g *ngFor="let tick of timeScale.ticks(tickNumber)"
               class="tick"
               [attr.transform]="tickTransform(tick)">
                  <title>{{ formatDate(tick)}}</title>
                  <text stroke-width="0.01"
                        text-anchor="middle"
                        [attr.y]="12">
                        {{ formatDate(tick)}}
                  </text>
            </g>
      </g>
      <g class="slider"
         [attr.transform]="'translate(' + margin + ', 20)'">
            <line class="track"
                  [attr.x1]="0"
                  [attr.x2]="size.width"></line>
            <line class="track-inset"
                  [attr.x1]="0"
                  [attr.x2]="sliderValue"></line>
            <circle class="handle"
                    [class.active]="dragging"
                    r="6"
                    [attr.cx]="sliderValue"></circle>
            <line class="track-overlay"
                  [attr.x1]="10"
                  [attr.x2]="size.width - 12"
                  stroke-width="24"
                  (mousedown)="onMouseDown($event)"></line>
      </g>
</svg>
<div class='slider-controls'>
      <button mat-icon-button
              class="icon-button"
              color="primary"
              [disabled]="live"
              (click)="playPause()">
            <fa-icon [icon]="moving ? 'pause' : 'play'"></fa-icon>
      </button>
      <button mat-icon-button
              class="icon-button"
              color="primary"
              [disabled]="live"
              (click)="backward()">
            <fa-icon icon="backward"></fa-icon>
      </button>
      <button mat-icon-button
              class="icon-button"
              color="primary"
              [disabled]="live"
              (click)="resetSpeed()">
            <fa-icon icon="undo-alt"></fa-icon>
      </button>
      <button mat-icon-button
              class="icon-button"
              color="primary"
              [disabled]="live"
              (click)="forward()">
            <fa-icon icon="forward"></fa-icon>
      </button>
      <div class='playback-speed'>Playback: {{ speed }}x</div>
      <button mat-flat-button
              class="live-button"
              [color]="live ? 'accent' : 'basic'"
              (click)="toggleLive()">
            LIVE
      </button>

      <div class="controls-content">
            <ng-content></ng-content>
      </div>
</div>