<ng-container *ngIf="widget != null">
  <div class='left'>
    <widget-display [widget]="initialWidget.content"
                    [key]="widgetKey"
                    [editing]="true"
                    (deleteWidget)="deleteWidget(widgetKey)">
      <h4>{{ initialWidget.name }}</h4>
    </widget-display>
  </div>
  <div class='right'>
    <div class="header">
      <button mat-icon-button
              (click)="closeEdit()">
        <fa-icon icon="times"></fa-icon>
      </button>
      <h4>{{ (new) ? "New Widget": "Edit Widget" }}</h4>
      <button mat-flat-button
              color="accent"
              [disabled]="errors"
              (click)="submit()"> Save </button>
    </div>

    <div class='widget-edit'>
      <div class="form-group"
           [formGroup]="widgetForm">
        <div class="form-field">
          <label for='widget-name'>Widget Name</label>
          <mat-form-field appearance="outline">
            <input [formControl]="nameControl"
                   id="widget-name"
                   name="widget-name"
                   type="text"
                   placeholder="New Widget"
                   matInput />
          </mat-form-field>
        </div>
        <div class="form-field">
          <label for='widget-name'>Update Interval</label>
          <mat-form-field appearance="outline">
            <input formControlName="interval"
                   id="widget-interval"
                   name="widget-interval"
                   type="number"
                   min="1"
                   placeholder="60"
                   matInput />
            <mat-hint>The time in seconds between updates to this widget</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label for='widget-time-range'>Time Range</label>
          <mat-form-field appearance="outline">
            <input formControlName="timeDelta"
                   id="widget-time-range"
                   name="widget-time-range"
                   type="text"
                   placeholder="1d"
                   matInput />
            <mat-hint>The time difference relative from 'now', e.g. "2h" "1d"</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <h4>Select Display Type</h4>
      <div class='form-group'>
        <div class='form-field'>
          <div class='select-holder'>
            <dynamic-select [required]="true"
                            name="layout"
                            [upperBound]=10
                            [lowerBound]=0
                            [model]="widgetContent.type"
                            (modelChange)="updateWidgetType($event)"
                            [disabled]="disableQuerySelect"
                            [options]="typeOptions">
            </dynamic-select>
          </div>
        </div>

        <ng-container *ngIf="widgetContent.type === VisualisationComponentType.MAP">
          <map-settings [configuration]="widgetContent.configuration"
                        [displayType]="widgetContent.type"
                        [queryTypes]="queryTypes"
                        (update)="updateConfiguration($event)"
                        (setError)="setDisplayConfigError($event)">
          </map-settings>
        </ng-container>
        <ng-container *ngIf="widgetContent.type !== VisualisationComponentType.MAP">
          <graph-settings [configuration]="widgetContent.configuration"
                          [displayType]="widgetContent.type"
                          [queryTypes]="queryTypes"
                          (update)="updateConfiguration($event)"
                          (setError)="setDisplayConfigError($event)">
          </graph-settings>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf='widgetContent && widgetContent.type'>
      <div class='data-title'>
        <h4>Data Queries</h4>
        <button mat-icon-button
                title="New Data Input"
                (click)="addDataSource()">
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
      <div *ngFor="let source of widgetContent.sources;"
           class="data-source-row">
        <query-source-form [open]='source.id == null'
                           [dataSource]="source"
                           [displayType]="widgetContent.type"
                           [allowedQueryTypes]="allowedQueryTypes$ | async"
                           [widget]="'true'"
                           (SetError)="setDataSourceError($event)"
                           (delete)="deleteDataSource($event)">
        </query-source-form>
      </div>
      <div *ngIf="widgetContent.sources.length === 0"
           class="empty">No data inputs specified
      </div>
    </ng-container>
  </div>
</ng-container>