@import "~assets/css/_theme";
$border-colour: rgba(0, 0, 0, 0.2);

:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.left {
    flex: 0 0 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    widget-display {
        width: 500px;
        height: 336px;
        h4 {
            padding: 14px 0 4px 2px;
            flex: 1;
            margin: 0;
            font-size: 18px;
        }
    }
}

.right {
    flex: 1;
    border-left: 1px solid $border-colour;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        margin: 0.5rem 0;
        flex: 0 0 40px;

        h4 {
            margin: 0;
            padding: 0.8rem 1rem 0 0;
        }
    }

    .widget-edit {
        background: $bg-white;
        margin: 0 1rem;
    }

    .form-group {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex: 0 0 auto;

        .form-field {
            display: flex;
            flex-direction: column;
            padding-right: 1.5rem;
            min-height: 85px;
        }
    }

    h4 {
        font-size: 1.2rem;
        color: $theme-secondary;
        padding: 0.8rem 0 0 1rem;
    }

    label {
        color: $txt-grey;
    }

    .data-title {
        flex: 0 0 auto;
        display: flex;
        align-items: stretch;
    }

    data-source-form {
        flex: 1;
        width: 100%;
        margin-bottom: 8px;
    }

    .empty {
        font-size: 0.8rem;
        color: $txt-grey;
        padding: 0 0 1rem 1rem;
    }
}
