<div class="header-row">
  <h4>{{ title }}</h4>

  <button *ngIf="!notFound"
          mat-flat-button
          [color]="openModal === 'layerControl' ? null : 'primary'"
          (click)="toggleModal('layerControl')">
    <fa-icon class='left'
             icon="layer-group"></fa-icon>
    Datasources
  </button>
</div>

<ng-container *ngIf="!notFound">
  <div class="vis-centre">
    <ng-container [ngSwitch]="currentLayout.value">
      <div *ngSwitchCase="'single'"
           class="vis-single">
        <vis-wrapper *ngFor="let component of displayConfig.components"
                     class="vis-stackitem"
                     [key]="visualisationKey"
                     [ngClass]="{ mapdisplay : component.type === VisualisationComponentType.MAP }"
                     [configuration]="component.configuration"
                     [type]="component.type"
                     [componentId]="component.id"
                     [startDate]="startDate"
                     [endDate]="endDate">>
        </vis-wrapper>
      </div>
      <div *ngSwitchCase="'column'"
           class="vis-column">
        <div class="left-column">
          <div *ngFor="let component of getLayoutComponents(0)"
               class="vis-stackitem"
               [ngClass]="{ mapdisplay : component.type === VisualisationComponentType.MAP }">
            <vis-wrapper [configuration]="component.configuration"
                         [type]="component.type"
                         [key]="visualisationKey"
                         [componentId]="component.id"
                         [startDate]="startDate"
                         [endDate]="endDate">
            </vis-wrapper>
          </div>
        </div>
        <div class="right-column">
          <div *ngFor="let component of getLayoutComponents(1)"
               class="vis-stackitem"
               [ngClass]="{ mapdisplay : component.type === VisualisationComponentType.MAP }">
            <vis-wrapper [configuration]="component.configuration"
                         [type]="component.type"
                         [key]="visualisationKey"
                         [componentId]="component.id"
                         [startDate]="startDate"
                         [endDate]="endDate">
            </vis-wrapper>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'horizontal'"
           class="vis-horizontal">
        <div class="top">
          <div *ngFor="let component of getLayoutComponents(0)"
               class="vis-stackitem"
               [ngClass]="{ mapdisplay : component.type === VisualisationComponentType.MAP }">
            <vis-wrapper [configuration]="component.configuration"
                         [type]="component.type"
                         [key]="visualisationKey"
                         [componentId]="component.id"
                         [startDate]="startDate"
                         [endDate]="endDate">
            </vis-wrapper>
          </div>
        </div>
        <div class="bottom">
          <div *ngFor="let component of getLayoutComponents(1)"
               class="vis-stackitem"
               [ngClass]="{ mapdisplay : component.type === VisualisationComponentType.MAP }">
            <vis-wrapper [configuration]="component.configuration"
                         [type]="component.type"
                         [key]="visualisationKey"
                         [componentId]="component.id"
                         [startDate]="startDate"
                         [endDate]="endDate">
            </vis-wrapper>
          </div>
        </div>
      </div>
    </ng-container>
    <side-modal *ngIf="openModal === 'layerControl'"
                [title]="'Layers'"
                class='docked'
                (close)="toggleModal('layerControl')">
      <layer-control [display]="displayConfig"
                     [selected]="sourceFilters"
                     (select)="layerSelect($event)">
      </layer-control>
    </side-modal>
    <side-modal *ngIf="openModal === 'datePicker'"
                [title]="'Time Range'"
                class='docked'
                (close)="toggleModal('datePicker')">
      <div class='side-scroll-wrapper'>
        <date-range-selector [toDate]="context['range']['to']"
                             [fromDate]="context['range']['from']"
                             (toDateChange)="updateDates($event, 'to')"
                             (fromDateChange)="updateDates($event, 'from')">
        </date-range-selector>
      </div>
    </side-modal>

    <side-modal *ngIf="openModal === 'dateTimePicker'"
                [title]="'Live Date'"
                class='docked'
                (close)="toggleModal('dateTimePicker')">
      <div class='side-scroll-wrapper'>
        <date-picker [date]="context['current']"
                     [title]="'Current: '"
                     (dateChange)="updateDates($event, 'current')"
                     [minDate]="moment(context['range']['from'])"
                     [maxDate]="moment(context['range']['to'])">
        </date-picker>
      </div>
    </side-modal>
  </div>

  <div class="slider-row"
       *ngIf="context != null">
    <time-slider>
      <button mat-flat-button
              color="primary"
              (click)="resetContext()">
        <fa-icon class='left'
                 icon="undo-alt"></fa-icon> RESET
      </button>
      <button mat-flat-button
              [color]="openModal === 'dateTimePicker' ? null : 'primary'"
              (click)="toggleModal('dateTimePicker')">
        <fa-icon class='left'
                 icon="clock"></fa-icon>
        {{ formatTime(context['current']) }}
      </button>
      <button mat-flat-button
              [color]="openModal === 'datePicker' ? null : 'primary'"
              (click)="toggleModal('datePicker')">
        <fa-icon class='left'
                 icon="calendar"></fa-icon>
        {{ formatDate(context['range']['from']) }} - {{ formatDate(context['range']['to']) }}
      </button>
    </time-slider>
  </div>
</ng-container>
