@import "~assets/css/_theme";

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.header-row {
    padding: 12px 12px;
    flex: 0 0 50px;
    height: 50px;
    border-bottom: 1px solid $acrylic-grey;
    display: flex;
    align-items: center;
    background: $bg-white;

    h4 {
        margin: 0;
        flex: 1;
        color: $txt-grey;
    }

    button {
        margin-left: 0.5rem;
        display: flex;
    }
}

.vis-centre {
    flex: 1 1 auto;
    display: flex;

    .vis-stackitem {
        min-height: 72px;
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid $acrylic-grey;
        flex: 1 1 0;

        &:first-of-type {
            flex: 1;
        }

        &:last-of-type {
            border-bottom: none;
        }

        &.mapdisplay {
            flex: 1 auto;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    }

    .vis-single {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
    }

    .vis-column {
        flex: 1;
        display: flex;

        .left-column {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-right: 1px solid $acrylic-grey;
            overflow-y: auto;
        }

        .right-column {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }

    .vis-horizontal {
        flex: 1;
        display: flex;
        flex-direction: column;

        .top {
            flex: 0 0 65%;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $acrylic-grey;
            overflow-y: auto;
        }

        .bottom {
            flex: 0 0 35%;
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }

    side-modal {
        flex: 0 0 300px;
    }
}

.slider-row {
    border-top: 1px solid $acrylic-grey;
    height: 65px;
    flex: 0 0 65px;

    button {
        margin-left: 10px;
        line-height: 25px;
        height: 25px;
        font-size: 0.8rem;
    }
}

.side-scroll-wrapper {
    height: 100%;
    overflow-y: auto;
}
