@import "~assets/css/_theme";

.gallery-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .gallery-surface {
        padding: 8px 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &.horizontal {
        overflow: hidden;

        .gallery-surface {
            padding: 0;
            height: 100%;
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
        }

        media-thumb {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
