<div class="gallery-wrapper"
     [ngClass]="{ horizontal: horizontal }">
    <div *ngIf="data.length > 0"
         class="gallery-surface">
        <media-thumb *ngFor="let media of data; let i=index; trackBy: trackByFn"
                     [horizontal]="horizontal"
                     [media]="media"
                     (click)="selectMedia(i, $event)">
        </media-thumb>
    </div>
    <media-modal *ngIf="showModal | async"
                 [images]="data[selected]"
                 [hasPrev]="selected > 0"
                 [hasNext]="(selected + 1) < data.length"
                 (prev)="prevSelect()"
                 (next)="nextSelect()"
                 (close)="clearSelection()"
                 (classificationContext)="editClassifications($event)">
    </media-modal>
</div>
