<div class="header">
  <fa-icon class="indent"
           icon="angle-right"></fa-icon>
  <h4>{{ title }}</h4>
  <ng-content></ng-content>
  <button mat-flat-button
          class="return-button"
          color="primary"
          (click)="emitClose()">
    {{ returnMessage }}
  </button>
</div>

<div *ngIf="hasMessage()"
     class="show-error">
  <div class="error-message">Error: {{ errorMessage }}
    <button mat-icon-button
            color="warn"
            (click)="emitErrorClose()">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</div>