@import "~assets/css/_theme";
@import "~assets/css/_variables";

.header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: $toolbar-height;
    background: $bg-white;
    border-bottom: 1px solid $acrylic-grey;
    color: $theme-secondary;

    .indent {
        margin-right: 12px;
    }

    h4 {
        font-size: 1.5rem;
        margin: 0;
        margin-right: 8px;
        flex: 1;
    }

    .return-button {
        flex: 0 0 auto;
    }
}

.show-error {
    padding: 0.5rem;

    .error-message {
        background: $bg-white;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        color: $txt-danger;
        border: 1px solid $txt-danger;
        border-radius: 2px;

        button {
            flex: 0 0 auto;
            margin-left: auto;
        }
    }
}
