<form [formGroup]="passwordForm"
      (ngSubmit)="updatePassword()">
    <item-panel-wrapper>
        <item-panel-header title="Update Password"
                           (close)="close()"
                           [showError]="error"
                           [errorMessage]="errorMessage">
            <button mat-flat-button
                    *ngIf="updated"
                    color="accent"
                    type="submit">
                Submit
            </button>
        </item-panel-header>
        <div class="form-group">
            <div class="form-field">
                <label for="current-password">Username</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="username"
                           name="username"
                           autocomplete="username"
                           aria-label="Username"
                           [value]="username"
                           disabled
                           matInput />
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="current-password">Current Password</label>
                <mat-form-field appearance="outline">
                    <input type="password"
                           id="current-password"
                           name="current-password"
                           autocomplete="current-password"
                           formControlName="currentPassword"
                           aria-label="Current Password"
                           matInput />
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="new-password">New Password</label>
                <mat-form-field appearance="outline">
                    <input type="password"
                           id="new-password"
                           name="new-password"
                           autocomplete="new-password"
                           formControlName="newPassword"
                           aria-label="New Password"
                           matInput />
                </mat-form-field>
            </div>
        </div>
    </item-panel-wrapper>
</form>