@import "~assets/css/_theme";

$spacing: 4px;

.saved-search {
    display: flex;
    flex-direction: column;

    .search-row {
        flex: 0 0 auto;
        border-bottom: 1px solid $acrylic-grey;
    }
}

.search-terms {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .search-block {
        display: flex;
        flex-flow: row wrap;
        flex: 1;

        .search-term {
            display: flex;
            align-items: center;
            margin: 0 $spacing 0 0;
            padding: $spacing 0;

            .term-title {
                align-self: center;
                text-align: right;
                font-size: 1em;
                line-height: 1;
                margin: 0;
                margin-right: $spacing;
                text-transform: capitalize;
            }

            .term-values {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;

                .term-item {
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 20px;
                    min-width: 60px;
                    margin: 2px;
                    padding: 0 8px;

                    font-size: 0.9em;
                    background: $theme-primary;
                    color: $txt-white;
                    border-radius: 50px;
                }
            }
        }
    }
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
}
