<search-modal [title]="'Saved Searches'">
    <div cdkDropList
         cdkDropListOrientation="vertical"
         cdkDragLockAxis="y"
         class="saved-search"
         (cdkDropListDropped)="drop($event)">
        <saved-search-collapse *ngFor="let searchResource of savedSearches; trackBy: searchByKey"
                               cdkDrag
                               class="search-row"
                               [resource]="searchResource"
                               (search)="loadSearch($event)"
                               (link)="toggleLink($event)">
            <div class="search-terms">
                <div class="search-block">
                    <div class="search-term"
                         *ngFor="let searchTerm of searchResource.content.terms">
                        <div class="term-title">{{ searchTerm.property }}:</div>
                        <div class="term-values">
                            <div *ngFor="let search of searchTerm.values; let i=index"
                                 class="term-item">
                                {{ showTerm(search, searchTerm.property, i) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class='action-buttons'>
                    <button mat-icon-button
                            (click)="deleteSearch(searchResource.key, searchResource.resourceName)">
                        <fa-icon icon="trash"></fa-icon>
                    </button>
                </div>
            </div>
        </saved-search-collapse>
    </div>
</search-modal>