<form *ngIf="!newResource"
      [formGroup]="formGroup"
      novalidate
      (ngSubmit)="saveResource()">
    <div class='title'>
        <h4>{{ resource.resourceName }}</h4>
        <div class='actions'>
            <button mat-icon-button
                    type="submit"
                    title="Update file"
                    color="accent"
                    [disabled]="disableSave">
                <fa-icon icon="upload"></fa-icon>
            </button>
            <button mat-icon-button
                    type="button"
                    (click)="deleteResource()"
                    title="Delete this resource"
                    class="delete-btn">
                <fa-icon icon="trash"></fa-icon>
            </button>
        </div>
    </div>
    <div *ngIf="file != null">
        <button mat-flat-button
           type="button"
           color="accent"
           title="Download the file resource"
           (click)="downloadFile()">Download</button>
    </div>
    <input type="file"
           (change)="onFileChange($event)" />
    <div *ngIf="mimeType">Mime type: {{ mimeType }}</div>
</form>
<form *ngIf="newResource"
      [formGroup]="formGroup"
      novalidate
      (ngSubmit)="saveResource()">
    <div class='title'>
        <h4>{{ newTitle }}</h4>
        <button mat-icon-button
                type="submit"
                title="Save {{ newTitle }}"
                color="accent"
                [disabled]="disableSave">
            <fa-icon icon="upload"></fa-icon>
        </button>
    </div>
    <div class='form-group'>
        <div class="form-field">
            <label for="map-circle-radius">Name</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="file-resource-name"
                       name="file-resource-name"
                       formControlName="name"
                       aria-label="Name"
                       required="true"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div class='form-group'>
        <div class="form-field">
            <label for="new-file-update">new File</label>
            <input type="file"
                   name="new-file-update"
                   (change)="onFileChange($event)" />
            <div *ngIf="mimeType">Mime type: {{ mimeType }}</div>
        </div>
    </div>
</form>