@import "~assets/css/_theme";

:host {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.title {
    height: 50px;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;

    h4 {
        color: $theme-secondary;
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
}

.delete-btn {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
}

input {
    padding-left: 0;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 50px;
    align-items: flex-start;

    .form-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
}

label {
    color: $txt-grey;
}
