.map-form {
    padding: 5px 0px;
    .header-row {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 5px;

        .map-form-title {
          flex: 1;
          font-weight: 500;
        }
    }
    .display-multi {
        overflow-y: auto;
        max-height: 170px;
    }

}