<div class="map-form">
  <div class="header-row">
    <div class="map-form-title">Longitude</div>
    <div class="map-form-title">Latitude</div>
  </div>
  <ng-container *ngIf="geometry != null && geometry.type !=null">
    <ng-container [ngSwitch]="geometry.type">
      <div *ngSwitchCase="'Point'"
           class='display-point'>
        <map-position-input [longitude]="geometry.coordinates[0]"
                            [latitude]="geometry.coordinates[1]"
                            [index]="null"
                            [changed]="changed"
                            (updatePosition)="updatePosition($event)"></map-position-input>
      </div>
      <div *ngSwitchCase="'LineString'"
           class='display-multi'>
        <map-position-input *ngFor="let position of geometry.coordinates; index as i"
                            [longitude]="position[0]"
                            [latitude]="position[1]"
                            [index]="i"
                            [changed]="changed"
                            (updatePosition)="updatePosition($event)"></map-position-input>
      </div>
      <div *ngSwitchCase="'Polygon'"
           class='display-multi'>
        <div *ngFor="let position of geometry.coordinates[0]; index as i">
          <div *ngIf="i !== (geometry.coordinates[0].length - 1)">
            <map-position-input [longitude]="position[0]"
                                [latitude]="position[1]"
                                [index]="[0, i]"
                                [changed]="changed"
                                (updatePosition)="updatePosition($event)"></map-position-input>
          </div>
        </div>
      </div>
      <div *ngSwitchDefault
           class='display-point'>
        <map-position-input [index]="null"
                            [changed]="changed"
                            (updatePosition)="updatePosition($event)"></map-position-input>
      </div>
    </ng-container>
  </ng-container>
</div>