<ngx-charts-chart *ngIf="results.length > 0"
                  [view]="[width, height]"
                  [showLegend]="false"
                  [activeEntries]="activeEntries"
                  [animations]="animations">
  <svg:defs>
    <svg:clipPath [attr.id]="clipPathId">
      <svg:rect [attr.width]="dims.width + 10"
                [attr.height]="dims.height + 10"
                [attr.transform]="'translate(-5, -5)'" />
    </svg:clipPath>
  </svg:defs>
  <svg:g [attr.transform]="transform"
         class="bubble-chart chart">
    <svg:g ngx-charts-x-axis
           *ngIf="xAxis"
           [showGridLines]="showGridLines"
           [dims]="dims"
           [xScale]="xScale"
           [showLabel]="showXAxisLabel"
           [labelText]="xAxisLabel"
           [trimTicks]="trimXAxisTicks"
           [rotateTicks]="rotateXAxisTicks"
           [maxTickLength]="maxXAxisTickLength"
           [tickFormatting]="xAxisTickFormatting"
           [ticks]="xAxisTicks"
           (dimensionsChanged)="updateXAxisHeight($event)" />
    <svg:g ngx-charts-y-axis
           *ngIf="yAxis"
           [showGridLines]="showGridLines"
           [yScale]="yScale"
           [dims]="dims"
           [showLabel]="showYAxisLabel"
           [labelText]="yAxisLabel"
           [trimTicks]="trimYAxisTicks"
           [maxTickLength]="maxYAxisTickLength"
           [tickFormatting]="yAxisTickFormatting"
           [ticks]="yAxisTicks"
           (dimensionsChanged)="updateYAxisWidth($event)" />
    <svg:rect class="bubble-chart-area"
              x="0"
              y="0"
              [attr.width]="dims.width"
              [attr.height]="dims.height"
              style="fill: rgb(255, 0, 0); opacity: 0; cursor: 'auto';"
              (mouseenter)="deactivateAll()"
              (mousedown)="onMouseDown($event)" />
    <svg:g *ngIf="dragging">
      <svg:rect #dragBox
                [attr.x]="dragX"
                [attr.width]="dragWidth"
                y="0"
                [attr.height]="dims.height"
                class="drag-box" />
    </svg:g>
    <svg:g *ngIf="showTime && currentPos >= 0">
      <svg:rect #currentTime
                class="current-time"
                [attr.x]="currentPos"
                y="0"
                [attr.width]="1"
                [attr.height]="dims.height"
                [style.pointer-events]="'none'" />
    </svg:g>
    <svg:g [attr.clip-path]="clipPath">
      <svg:g *ngFor="let series of data; trackBy: trackBy"
             [@animationState]="'active'">
        <svg:g ngx-charts-bubble-series
               [xScale]="xScale"
               [yScale]="yScale"
               [rScale]="rScale"
               [xScaleType]="xScaleType"
               [yScaleType]="yScaleType"
               [xAxisLabel]="xAxisLabel"
               [yAxisLabel]="yAxisLabel"
               [colors]="colors"
               [data]="series"
               [activeEntries]="activeEntries"
               [tooltipDisabled]="tooltipDisabled"
               [tooltipTemplate]="tooltipTemplate"
               (select)="onClick($event, series)"
               (activate)="onActivate($event)"
               (deactivate)="onDeactivate($event)" />
      </svg:g>
    </svg:g>
  </svg:g>
</ngx-charts-chart>

<ng-template #tooltipTemplate
             let-model="model">
  <div class='tooltip'>
    <ng-container *ngIf="!model.imageRef">
      {{model.name}}
      <span class="tooltip-label">
        <label>time </label>{{escapeLabel(model.x)}}<br />
        <ng-container *ngIf="model.displayY">
          <label>{{escapeLabel(model.valueName)}}: </label>{{escapeLabel(model.y)}}<br />
        </ng-container>
        <label>severity: </label>{{getSeverity(model.r)}}<br />
      </span>
    </ng-container>
    <ng-container *ngIf="model.imageRef">
      <img [src]="getThumbnailUrl(model.imageRef)" />
      <span class="tooltip-label">
        <label>time: </label>{{escapeLabel(model.x)}}<br />
        <ng-container *ngIf="model.name">
          <label>tags: </label>{{escapeLabel(model.name)}}<br />
        </ng-container>
        <label>burst size: </label>{{escapeLabel(model.y)}}<br />
      </span>
    </ng-container>
  </div>
</ng-template>