@import "~assets/css/_theme";

bubble-chart {
    width: 100%;
    height: 100%;
    display: block;

    .gridline-path {
        stroke: $acrylic-grey;
        stroke-width: 1;
        fill: none;
    }

    .current-time {
        stroke: $theme-secondary;
        stroke-opacity: 0.5;
        fill: $theme-secondary;
        fill-opacity: 0.5;
    }

    .drag-box {
        stroke: $theme-primary;
        stroke-opacity: 0.5;
        fill: $theme-primary;
        fill-opacity: 0.2;
    }
}

.tooltip {
    padding-top: 10px;
    img {
        height: 100px;
        width: 150px;
    }
}
