@import "~assets/css/_theme";
@import "~assets/css/_variables";
@import "~assets/css/_global";

:host {
  width: 100%;
  height: 100%;
  background: $bg-white;
  overflow-y: auto;
}

#map-annotation-editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  #colour-picker {
    margin-left: 10px;
    margin-top: 140px;
    position: absolute;
    z-index: 1;

    button {
      width: 29px;
      height: 29px;
      border: 0;
    }
    #picker {
      position: absolute;
      margin-left: -5px;
      margin-top: -35px;

      colour-picker {
        margin-left: 3px;
        background: white;
        padding: 27px 0px;
        border-radius: 5px;
      }
    }
  }

  .edit {
    position: absolute;
    padding: 5px;
    z-index: 1;
    top: 10px;
    background: rgba(255, 255, 255, 0.9);
    height: 50px;
    font-family: $font-general;
    display: flex;
    justify-content: space-around;

    .item {
      flex: 1;
      align-self: center;
      margin: 3px;
    }

    label {
      font-size: large;
      color: $txt-dark-grey;
      align-self: center;
      margin-right: 5px;
    }

    mat-form-field,
    h5 {
      flex: 1;
    }

    mat-form-field {
      margin-right: 15px;
      font-size: larger;
    }

    button {
      width: 60px;
    }
  }

  .edit.title {
    margin-left: 60px;
    width: 350px;
  }

  .edit.location {
    padding-left: 10px;
    margin-left: 450px;
    width: 600px;
  }
}
