<div id="map-annotation-editor">
    <div id="colour-picker">
        <button class="mapboxgl-ctrl-group mapboxgl-ctrl" (click)="toggleColourPickerView()" *ngIf="entityName">
            <fa-icon matSuffix icon="circle" [style.color]="colour"> </fa-icon>
        </button>
        <div id="picker" *ngIf="showColourPicker">
            <colour-picker #colourpicker [colour]="colour" (colourChange)="updateColour($event)"
                [placeholder]="'#0097a8'" [name]="'colour-picker'" [label]="'Select Colour'">
            </colour-picker>
        </div>
    </div>
    <div [ngSwitch]="titleEditable">
        <div *ngSwitchCase="true" class="edit title">
            <label for="title">Title</label>
            <mat-form-field appearance="outline">
                <input id="title" [formControl]="titleInput" matInput />
            </mat-form-field>
            <button mat-flat-button color="primary" title="Save" (click)="saveTitle()" [disabled]="!titleInput.valid">
                Save
            </button>
        </div>
        <div *ngSwitchCase="false" class="edit title">
            <label for="title">Title</label>
            <h5 class="item" id="title">{{ entityName }}</h5>
            <button mat-flat-button color="primary" title="Save" (click)="titleEditable=true">
                Edit
            </button>
        </div>
        <div class="edit location">
            <label for="latInput">Lat </label>
            <mat-form-field appearance="outline">
                <input id="latInput" name="latInput" type="number" [formControl]="latEdit" matInput />
            </mat-form-field>
            <label for="lngInput">Lng </label>
            <mat-form-field appearance="outline">
                <input id="lngInput" name="lngInput" type="number" [formControl]="lngEdit" matInput />
            </mat-form-field>
            <button mat-flat-button color="primary" title="Go" (click)="updateMapCenter()" [disabled]="!latEdit.valid || !lngEdit.valid">
                Go
            </button>
        </div>
    </div>
</div>