@import '~assets/css/_theme';

:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #eee;
}

.login-panel {
    flex: 0 0 320px;
    text-align: center;
    background: #fff;
    padding: 40px;
    padding-top: 80px;
    overflow-y: auto;

    .logo {
        color: $theme-primary;
        width: 80%;
        margin-bottom: 20px;
    }
    
    .subtitle {
        margin-bottom: 40px;
    }

    mat-form-field {
        fa-icon {
            margin-right: 10px;
        }
    }

    .alert {
        width: 100%;
        text-align: center;
        padding: 8px 0;
        font-size: 1rem;
        color: $txt-danger;
        margin-top: 0.5rem;
    }

    .submit {
        margin-top: 0.5rem;
    }

    .return {
        padding-top: 0.5rem;
        a {
            color: $theme-primary;
        }
    }
}

.splash {
    flex: 1;
    height: 100%;
    background: URL('./assets/images/title_image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}