<form class="login-panel"
      [formGroup]="resetPasswordForm"
      (submit)="resetPassword()">
    <img class="logo"
         src="./assets/images/login_logo.png" />
    <p>If you have forgotten your password please contact your administrator for a password reset token and
        complete the form below to set a new password</p>
    <mat-form-field appearance="outline">
        <fa-icon matPrefix
                 icon="user"></fa-icon>
        <input matInput
               formControlName="username"
               name="username"
               type="text"
               placeholder="Username"
               autocomplete="username" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <fa-icon matPrefix
                 icon="key"></fa-icon>
        <input matInput
               formControlName="token"
               name="reset-token"
               type="text"
               placeholder="Reset Token"
               autocomplete="new-password" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <fa-icon matPrefix
                 icon="key"></fa-icon>
        <input matInput
               formControlName="newPassword"
               name="new-password"
               type="password"
               placeholder="New Password"
               autocomplete="new-password"
               minlength="6" />
        <mat-error *ngIf="resetPasswordForm.hasError('minlength', 'newPassword')">
            The new password must be longer than 6 characters
        </mat-error>
    </mat-form-field>
    <button mat-flat-button
            class='submit'
            [disabled]="error"
            color="primary"
            type="submit">Reset Password</button>
    <div *ngIf="errorMessage != ''"
         (click)="clearError()"
         class="alert alert-danger"
         role="alert">{{ errorMessage }}</div>
    <div class='return'><a [routerLink]="['/login']">Return to login</a></div>
</form>
<div class="splash"></div>