<card [title]="title"
      [formGroup]="keyForm"
      [deletebtn]="showDelete"
      [deleteMessage]="deleteMessage"
      (delete)="deleteEntity()">
    <div class="form-group">
        <div class="form-field">
            <label for="key-id">Key</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="key-id"
                       name="key-id"
                       formControlName="key"
                       aria-label="Key"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group">
        <div class="form-field">
            <label for="key-name">Name</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="key-name"
                       name="key-name"
                       formControlName="name"
                       aria-label="Name"
                       matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="!stream"
             class="form-field">
            <label for="key-type">Type</label>
            <mat-form-field appearance="outline">
                <input type="text"
                       id="key-type"
                       name="key-type"
                       formControlName="type"
                       aria-label="Type"
                       matInput>
            </mat-form-field>
        </div>
        <div *ngIf="stream"
             class="form-field">
            <label for="stream-type">Stream Type</label>
            <dynamic-select id="stream-type"
                            name="stream-type"
                            [required]="true"
                            [model]="keyForm.get('type').value"
                            [upperBound]=0
                            [lowerBound]=0
                            [options]="streamOptions"
                            (modelChange)="selectStreamType($event)">
            </dynamic-select>
        </div>
    </div>
</card>
