@import "~assets/css/_theme";

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;

    .form-field {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-right: 0.5rem;
        justify-content: center;

        mat-form-field {
            height: 44px;
        }
    }

    .icon {
        flex: 0 0 auto;
    }
}

label {
    color: $txt-grey;
}

