<ng-container *ngIf="widget">
  <mat-grid-list [cols]="cols"
                 [rowHeight]="rowHeight"
                 gutterSize="0">
    <mat-grid-tile *ngFor="let display of values; let i=index"
                   [colspan]="(i + 1) % 2 && values.length > 1 && values.length === (i + 1) ? 2 : 1">
      <div class='widget-result'>
        <div class='label'
             *ngIf="display.label != null">
          {{ display.label }}
        </div>
        <div class='value'
             [style.color]="display.colour ? display.colour: '#000'"
             [style.font-size.px]="display.size ? display.size : 38">
          {{ display.value }}
          <ng-container *ngIf="display.units != null">
            {{ display.units }}
          </ng-container>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<ng-container *ngIf="!widget">
  <div *ngFor="let display of values"
       class='visualisation-result'>
    <div class='label'
         *ngIf="display.label != null">
      {{ display.label }}
    </div>
    <div class='value'
         [style.color]="display.colour ? 'display.colour': '#000'">
      {{ display.value }}
      <ng-container *ngIf="display.units != null">
        {{ display.units }}
      </ng-container>
    </div>
  </div>
</ng-container>