@import "~assets/css/_theme";

:host {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.widget-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    text-align: center;
    color: $txt-grey;

    .value {
        padding-left: 0.5rem;
    }
}

.visualisation-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    padding: 0 0.5rem;
    text-align: center;
    color: $txt-grey;

    .value {
        padding-left: 0.5rem;
    }
}