<map-display [location]="location"
             [geometry]="geometry"
             [displayOnly]="displayOnly"
             (updateFeature)="updateLocation($event)"></map-display>
<map-form *ngIf="!displayOnly"
          [geometry]="geometry"
          [changed]="changed"
          (updateGeometry)="updateGeometry($event)"></map-form>
