<h4>Event Query Settings</h4>
<div class="form-group"
     [formGroup]="eventConfigForm">
  <div class="form-field">
    <div *ngIf="eventConfigForm.get('eventFilter').value"
         class='current-event-filter'>
      <div class='current-filter'>
        <div>Selected filter:
          <span class='search-name'>
            {{ eventConfigForm.get('eventFilter').value.name }}
          </span>
        </div>
        <button mat-icon-button
                title="remove event filter"
                (click)="removeEventFilter($event)">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
      <div class="search-terms">
        <div *ngFor="let searchTerm of eventConfigForm.get('eventFilter').value.terms"
             class="search-term">
          <div class="term-title">{{ searchTerm.property }}:</div>
          <div class="term-values">
            <div *ngFor="let search of searchTerm.values"
                 class="term-item">
              {{ search }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <label for="event-search">Select event filter</label>
    <dynamic-select id="event-search"
                    name="event-search"
                    [required]="true"
                    [model]="eventConfigForm.get('eventFilter').value"
                    [upperBound]=0
                    [lowerBound]=0
                    [options]="eventFilterOptions"
                    (modelChange)="selectEventFilter($event)">
    </dynamic-select>
  </div>
  <ng-container *ngIf="displayType === VisualisationComponentType.PIECHART 
                          || displayType === VisualisationComponentType.GAUGE
                          || displayType === VisualisationComponentType.BARGRAPH">
    <div class="form-field">
      <label for="events-interval">Interval</label>
      <mat-form-field appearance="outline">
        <input type="text"
               id="events-interval"
               name="events-interval"
               formControlName="interval"
               placeholder="1h"
               matInput>
        <mat-hint>The aggregation time interval, e.g. "10m" "2h"</mat-hint>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container *ngIf="displayType === VisualisationComponentType.MAP 
                        || displayType === VisualisationComponentType.EVENTS">
    <div class="form-field">
      <label for="location-time">Time limit</label>
      <mat-form-field appearance="outline">
        <input type="text"
               id="location-time"
               name="location-time"
               formControlName="timeLimit"
               aria-label="Time limit"
               matInput>
        <mat-hint>The maximum time range limit, relative to the live date, '1M1d5h10m'</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="events-size">Size</label>
      <mat-form-field appearance="outline">
        <input type="number"
               id="events-size"
               name="events-size"
               formControlName="size"
               aria-label="Size"
               matInput>
        <mat-hint>The maximum number of events</mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="displayType === VisualisationComponentType.MAP"
         class="form-field">
      <mat-checkbox formControlName="forward"
                    [disableRipple]="true">
        Forwards from time
      </mat-checkbox>
    </div>
    <ng-container *ngIf="displayType === VisualisationComponentType.EVENTS">
      <div class="form-field">
        <mat-checkbox formControlName="yValue"
                      [disableRipple]="true">
          Use Y-axis for value
        </mat-checkbox>
      </div>
      <div *ngIf="eventConfigForm.get('yValue').value"
           class="form-field">
        <label for="location-time">Value name</label>
        <mat-form-field appearance="outline">
          <input type="text"
                 id="value-name"
                 name="value-name"
                 formControlName="valueName"
                 aria-label="Value name"
                 matInput>
          <mat-hint>The subtitle for value in the hover text</mat-hint>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
</div>