@import "~assets/css/_theme";

$border-colour: rgba(0, 0, 0, 0.2);

h4 {
    font-size: 1.2rem;
    color: $theme-secondary;
}

label {
    color: $txt-grey;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        min-height: 85px;
        justify-content: center;
    }
}

.current-event-filter {
    padding-bottom: 1rem;
    display: block;

    .current-filter {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 0.2rem;

        .search-name {
            font-weight: 500;
        }
    }

    .search-terms {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .search-term {
            display: flex;
            align-items: center;

            .term-values {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;
                margin: 0 4px 0 2px;

                .term-item {
                    min-width: 60px;
                    margin: 2px 4px;
                    padding: 6px 8px 4px 8px;
                    text-align: center;
                    font-size: 0.8rem;
                    background: $theme-primary;
                    color: #fff;
                    border-radius: 50px;
                }
            }
        }
    }
}
