<div class="tz-fixed-body">
  <div #devicesMap
       id='devices-map'
       class='map'></div>

  <side-panel>
    <device-list (deviceClick)="viewDevice($event)"></device-list>
  </side-panel>

  <router-outlet></router-outlet>
</div>