@import "~assets/css/_theme";

.vis-map {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.legend {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .colour-query {
        display: flex;
        flex-direction: column;
        background: $bg-white;
        padding: 5px 5px 0 5px;
        margin-bottom: 10px;

        .title {
            padding-bottom: 2px;
            text-align: center;
        }

        table {
            td {
                min-width: 30px;
                height: 15px;

                &.label {
                    text-align: center;
                    padding-top: 2.5px;
                    font-size: 10px;
                    color: $txt-grey;
                }
            }
        }
    }
}
