<div #visualisationMap
     class='vis-map'>
</div>
<div #legend
     class="legend">
    <div *ngFor="let item of legend$ | async | keyvalue"
         class='colour-query'>
        <div class='title'>{{ item.value.title}}</div>
        <table>
            <tr>
                <td *ngFor="let stop of item.value.stops"
                    class="colour"
                    [style.background]="stop.colour"></td>
            <tr>
                <td *ngFor="let stop of item.value.stops"
                    class="label">{{ stop.number }}</td>
            </tr>
        </table>
    </div>
</div>