:host {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.ace-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
