<subnav-page-wrapper>
    <subnav pagetitle="Asset Configuration"
            [routerLinks]="routerLinks"></subnav>
    <div class="tz-page-target">
      <router-outlet></router-outlet>
    </div>
  </subnav-page-wrapper>