@import "~assets/css/_theme";

:host {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
}

.device-info {
    .label {
        color: $txt-grey;
        padding-right: 1rem;
    }
    td {
        padding: 5px 0;
    }
}

map-edit {
    width: 100%;
    height: 200px;
}