<h4 *ngIf="dataSource.query !== DataQueryType.DEVICE">Value Configuration</h4>
<h4 *ngIf="dataSource.query === DataQueryType.DEVICE">Device Count Configuration</h4>

<div class="form-group"
     [formGroup]="valueConfigForm">
    <div class="form-field">
        <mat-checkbox formControlName="showLabel"
                      [disableRipple]="true">
            Show label
        </mat-checkbox>
    </div>
    <div class="form-field">
        <label for="value-units">Units</label>
        <mat-form-field appearance="outline">
            <input type="text"
                   id="value-units"
                   name="value-units"
                   formControlName="units"
                   aria-label="Units"
                   matInput>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="value-colour">Value color</label>
        <colour-picker [colour]="valueConfigForm.get('valueColour').value"
                       (colourChange)="valueConfigForm.get('valueColour').setValue($event)"
                       [placeholder]="'#000000'"
                       [name]="'value-colour'"
                       [label]="'Select the colour of the value text'">
        </colour-picker>
    </div>
    <div class="form-field">
        <label for="value-size">Value font size</label>
        <mat-form-field appearance="outline">
            <input type="number"
                   id="value-size"
                   name="value-size"
                   formControlName="valueSize"
                   placeholder="38"
                   aria-label="Value font size"
                   matInput>
            <mat-hint>The value font size in pixels</mat-hint>
            <mat-error *ngIf="valueConfigForm.hasError('min', 'valueSize')">
                Cannot be negative.
            </mat-error>
            <mat-error *ngIf="valueConfigForm.hasError('max', 'valueSize')">
                Maximum allowed font size is 200px
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label for="value-precision">Precision</label>
        <mat-form-field appearance="outline">
            <input type="number"
                   id="value-precision"
                   name="value-precision"
                   formControlName="precision"
                   matInput>
            <mat-hint>The number of significant digits to display</mat-hint>
        </mat-form-field>
    </div>
</div>