@import "~assets/css/_theme";

#alerts-view {
    &.tz-fixed-body {
        display: flex;
    }

    .left {
        flex: 1;
        width: 100%;
        height: 100%;
        min-width: 300px;
        display: flex;
        flex-direction: column;

        .centre {
            flex: 1;
            display: flex;
            .side-scroll-wrapper {
                height: 100%;
                overflow-y: auto;
            }

            side-modal {
                flex: 0 0 300px;
                height: 100%;
            }

            #alerts-map {
                flex: 1;
                .mapboxgl-popup {
                    .mapboxgl-popup-content {
                        padding: 10px;
                    }

                    .alert-popup {
                        width: 240px;
                        .alert-count {
                            padding-bottom: 5px;
                            border-bottom: 1px solid $acrylic-white;
                        }

                        .alert-details {
                            padding-top: 8px;
                            .alert-name {
                                width: 145px;
                                display: inline-block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                color: $txt-white;
                            }
                        }
                    }
                }
            }
        }

        .slider-row {
            border-top: 1px solid $acrylic-grey;
            button {
                margin-left: 7px;
                line-height: 25px;
                height: 25px;
                font-size: 0.8rem;
            }
        }
    }
}
