<div class="tz-fixed-body"
     id='alerts-view'>
  <div class='left'>
    <div class='centre'>
      <div id="alerts-map"></div>
      <side-modal *ngIf="openModal === 'datePicker'"
                  [title]="'Time Range'"
                  class='docked'
                  (close)="toggleModal('datePicker')">
        <div class='side-scroll-wrapper'>
          <date-range-selector [toDate]="context['range']['to']"
                               [fromDate]="context['range']['from']"
                               (toDateChange)="updateDates($event, 'to')"
                               (fromDateChange)="updateDates($event, 'from')">
          </date-range-selector>
        </div>
      </side-modal>

      <side-modal *ngIf="openModal === 'dateTimePicker'"
                  [title]="'Live Date'"
                  class='docked'
                  (close)="toggleModal('dateTimePicker')">
        <div class='side-scroll-wrapper'>
          <date-picker [date]="context['current']"
                       [title]="'Current: '"
                       (dateChange)="updateDates($event, 'current')"
                       [minDate]="moment(context['range']['from'])"
                       [maxDate]="moment(context['range']['to'])">
          </date-picker>
        </div>
      </side-modal>
    </div>
    <div class="slider-row"
         *ngIf="context != null">
      <ng-container>
        <time-slider [initialContext]="context"
                     [live]="true"
                     [liveUpdate]="30000">
          <button mat-flat-button
                  color="primary"
                  (click)="setContext()">
            <fa-icon icon="undo-alt"></fa-icon>
            RESET
          </button>
          <button mat-flat-button
                  [color]="openModal === 'dateTimePicker' ? null : 'primary'"
                  (click)="toggleModal('dateTimePicker')">
            <fa-icon icon="clock"></fa-icon>
            {{ formatTime(context['current']) }}
          </button>
          <button mat-flat-button
                  [color]="openModal === 'datePicker' ? null : 'primary'"
                  (click)="toggleModal('datePicker')">
            <fa-icon icon="calendar"></fa-icon>
            {{ formatDate(context['range']['from']) }} - {{ formatDate(context['range']['to']) }}
          </button>
        </time-slider>
      </ng-container>
    </div>

  </div>
  <side-panel>
    <alert-list (alertClick)="viewAlert($event)"
                (imageClick)="viewGallery($event)"></alert-list>
  </side-panel>

  <router-outlet></router-outlet>
</div>