@import "~assets/css/_theme";
@import "~assets/css/_variables";

:host {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    z-index: 10;
    background: $theme-primary;
    color: $txt-white;
    padding: 7px 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;

    h2 {
        font-size: 1.5rem;
        margin: 0 12px 0 0;

        .subtitle {
            font-size: 1.2rem;
            font-weight: 400;
            color: $txt-soft;
        }
    }

    button {
        flex: 0 0 auto;
        margin-left: auto;
        color: $txt-white;
    }
}

.show-error {
    padding: 0.5rem;
    background: $bg-white;

    .error-message {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        color: $txt-danger;
        border: 1px solid $txt-danger;
        border-radius: 2px;

        button {
            flex: 0 0 auto;
            margin-left: auto;
        }
    }
}
