<div class="header">
  <h2>{{ title }} <span *ngIf="subtitle != null"
          class='subtitle'>{{ subtitle }}</span></h2>

  <ng-content></ng-content>
  <button mat-icon-button
          (click)="emitClose()">
    <fa-icon icon="times"></fa-icon>
  </button>
</div>

<div *ngIf="hasMessage()"
     class="show-error">
  <div class='error-message'>Error: {{ errorMessage }}
    <button mat-icon-button
            color="warn"
            (click)="emitErrorClose()">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</div>