@import "~assets/css/_theme";

:host {
    margin-bottom: 6px;
}

.name-row {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;

    mat-form-field {
        height: 40px;
    }
}

.permission-row {
    margin: 0.5rem;
}

mat-chip-list {
    display: block;
    mat-chip {
        padding: 1px 7px 1px 7px;
        font-size: 12px;
        min-height: 26px;
        margin: 0 4px 4px 0;
    }
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
    }
}
