<div class='name-row'>
  <mat-form-field appearance="outline">
    <input matInput
           type="text"
           [formControl]="nameControl" />
  </mat-form-field>
  <button mat-icon-button
          *ngIf="canDelete"
          title="Remove permissions for this user"
          (click)="removeKey()">
    <fa-icon icon="trash"></fa-icon>
  </button>
</div>
<div class='permission-row'>
  <mat-chip-list [selectable]="!valreadonly"
                 [multiple]="true">
    <mat-chip *ngFor="let permission of availablePermissions"
              [selected]="permissions !== undefined && (permissions.indexOf(permission.value) > -1)"
              [value]="permission"
              (click)="toggleSelect(permission)"
              [ngClass]="{'admin-value': permission.value === Permission.ADMIN}"
              [disabled]="valreadonly">
      {{ permission.title }}
    </mat-chip>
  </mat-chip-list>
</div>