@import "~assets/css/_theme";
@import "~assets/css/_variables";

:host {
    flex: 0 0 $toolbar-height;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: 100%;
    min-height: $search-height;
    
    form {
        flex: 1;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        input,
        input:hover {
            height: 100%;
            width: 100%;
            border-radius: 0;
            padding: 0 12px;
            border: none;
            background: transparent;
            box-shadow: none;
        }

        &:active {
            border: none;
        }

        &:hover .search-button {
            color: $txt-black;
        }
    }

    button {
        height: 100%;
        border-left: 1px solid $acrylic-grey;
        border-radius: 0px;
        color: $txt-grey;

        &:hover {
            color: $theme-secondary;
            background: $acrylic-grey;
        }

        &.active {
            color: $theme-secondary;
            background: $acrylic-grey;
        }
    }

    .search-submit {
        border: none;
    }
}
