<div class="search-bar">
  <form [formGroup]="searchForm"
        (submit)="addTerm($event)">
    <input formControlName="text"
           name="searchbox"
           type="text"
           placeholder="Add Keyword..."
           class="form-control" />
    <button type="submit"
            mat-icon-button
            class="search-submit">
      <fa-icon icon="search"></fa-icon>
    </button>
  </form>
  <button mat-icon-button
          (click)="doOpenModal('filter')"
          [ngClass]="{ 'active': currentModal === 'filter' }">
    <fa-icon icon="sliders-h"></fa-icon>
  </button>
  <button mat-icon-button
          (click)="doOpenModal('saved')"
          [ngClass]="{ 'active': currentModal === 'saved' }">
    <fa-icon [icon]="['fas','save']"></fa-icon>
  </button>
</div>