<date-picker [date]="fromDate"
             [title]="fromTitle"
             [minDate]="minFromDate"
             [maxDate]="maxFromDate"
             [error]="fromError"
             (dateChange)="fromDateSelect($event)">
</date-picker>
<date-picker [date]="toDate"
             [title]="toTitle"
             [minDate]="minToDate"
             [maxDate]="maxToDate"
             [error]="toError"
             (dateChange)="toDateSelect($event)">
</date-picker>