@import "~assets/css/_theme";

:host {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
}

mat-form-field {
    flex: 1;
    margin-top: 20px;
    margin-right: 0.5rem;
}