<mat-form-field appearance="outline">
  <input matInput
         placeholder="Longitude"
         type="number"
         step="any"
         required
         [formControl]="longitudeControl" />
</mat-form-field>
<mat-form-field appearance="outline">
  <input matInput
         placeholder="Latitude"
         type="number"
         step="any"
         required
         [formControl]="latitudeControl"  />
</mat-form-field>