@import "~assets/css/_theme";

h4 {
    font-size: 1.2rem;
    color: $theme-secondary;
}

.data-title {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
    h4 {
        padding: 0.8rem 0 0 0;
    }
}

mat-checkbox {
    padding-top: 1rem;
}

button {
    fa-icon {
        color: $txt-grey;
    }
    &:hover {
        fa-icon {
            color: $theme-secondary;
        }
        background: $acrylic-grey;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .form-field {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        justify-content: center;
        &.last {
            padding-right: 0;
        }
    }
}

.range-row {
    .actions {
        padding-left: 0.5rem;
        display: flex;
        align-items: center;
        button {
            width: 30px;
            height: 30px;
            line-height: 30px;
            &:hover {
                color: $theme-secondary;
            }
        }
        .move-actions {
            button {
                width: 20px;
                height: 20px;
                line-height: 20px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
