<div [formGroup]="rangeForm">
    <div class="form-group">
        <div class="form-field">
            <mat-checkbox formControlName="enable"
                          [disableRipple]="true">
                Use custom data ranges
            </mat-checkbox>
        </div>
    </div>
    <div *ngIf="rangeForm.get('enable').value === true"
         formArrayName="stops">
        <div class='data-title'>
            <h4>Data ranges</h4>
            <button mat-icon-button
                    title="Add Color Setting"
                    (click)="addStop()">
                <fa-icon icon="plus"></fa-icon>
            </button>
        </div>
        <div *ngFor="let item of stops.controls; let i = index;"
             [formGroupName]="i"
             class="form-group range-row">
            <div class="form-field">
                <label for="range-low-{{ i }}">Lower Bound</label>
                <mat-form-field appearance="outline">
                    <input type="number"
                           step="any"
                           id="range-low-{{ i }}"
                           name="range-low-{{ i }}"
                           formControlName="low"
                           aria-label="Lower bound for the range"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="range-high-{{ i }}">Upper Bound</label>
                <mat-form-field appearance="outline">
                    <input type="number"
                           step="any"
                           id="range-high-{{ i }}"
                           name="range-high-{{ i }}"
                           formControlName="high"
                           aria-label="Upper bound for the range"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field last">
                <label for="range-name-{{ i }}">Name</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="range-name-{{ i }}"
                           name="range-name-{{ i }}"
                           formControlName="name"
                           aria-label="Name"
                           matInput>
                </mat-form-field>
            </div>
            <div class='actions'>
                <div class='move-actions'>
                    <button *ngIf="i > 0"
                            mat-icon-button
                            title="Move up layout"
                            (click)="move(i - 1, i)">
                        <fa-icon icon="chevron-up"></fa-icon>
                    </button>
                    <button *ngIf="(i + 1) < stops.controls.length"
                            mat-icon-button
                            title="Move down layout"
                            (click)="move(i, i + 1)">
                        <fa-icon icon="chevron-down"></fa-icon>
                    </button>
                </div>
                <button mat-icon-button
                        title="Remove range setting"
                        (click)="removeStop(i)">
                    <fa-icon icon="trash"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>