@import "~assets/css/_theme";

:host {
    display: flex;
    padding: 1rem 1rem;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.permissions-container {
    position: relative;
    width: 100%;
    min-height: 200px;
}

card {
    padding-bottom: 1rem;

    .form-group {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        min-height: 50px;

        .form-field {
            display: flex;
            flex-direction: column;
            padding-right: 1.5rem;
            justify-content: center;
        }
    }
}

.permissions-table {
    position: relative;
    overflow: auto;
}

table {
    width: 100%;
    td, th {
        padding-right: 4px;
        padding-left: 4px;
        &:first-child {
            padding-left: 24px;
        }
        &:last-child {
            padding-right: 24px;
        }
    }

    .checkbox {
        width: 80px;
        text-align: center;
        border-left: 1px solid $acrylic-grey;
        &:last-child {
            padding-right: 4px;
        }
    }
}
