<div class="permissions-container">
    <card [formGroup]="filterForm">
        <div class='form-group'>
            <div class="form-field">
                <label for="select-username">Username</label>
                <dynamic-select id="select-username"
                                name="select-username"
                                [model]="filterForm.get('username').value"
                                [upperBound]=0
                                [lowerBound]=0
                                [options]="usernameOptions$ | async"
                                (modelChange)="selectUsername($event)">
                </dynamic-select>
            </div>
            <div class="form-field">
                <label for="select-group">Group name</label>
                <dynamic-select id="select-group"
                                name="select-group"
                                [model]="filterForm.get('groupname').value"
                                [upperBound]=0
                                [lowerBound]=0
                                [options]="groupOptions$ | async"
                                (modelChange)="selectGroup($event)">
                </dynamic-select>
            </div>
            <div class="form-field">
                <label for="type-filter">Type Filter</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="type-filter"
                           name="type-filter"
                           formControlName="type"
                           aria-label="Type Filter"
                           matInput>
                </mat-form-field>
            </div>
            <div class="form-field">
                <label for="name-filter">Name Filter</label>
                <mat-form-field appearance="outline">
                    <input type="text"
                           id="name-filter"
                           name="name-filter"
                           formControlName="name"
                           aria-label="Name Filter"
                           matInput>
                </mat-form-field>
            </div>
        </div>
    </card>

    <div class="spinner-container"
         *ngIf="dataSource.loading$ | async">
        <fa-icon class="fa fa-spinner fa-spin"
                 icon="spinner">
        </fa-icon>
    </div>

    <div class="permissions-table">
        <table mat-table
               [dataSource]="dataSource">
            <ng-container matColumnDef="key">
                <th mat-header-cell
                    *matHeaderCellDef>Key</th>
                <td mat-cell
                    *matCellDef="let element">{{ element.key }}</td>
            </ng-container>
            <ng-container matColumnDef="entity">
                <th mat-header-cell
                    *matHeaderCellDef>Entity</th>
                <td mat-cell
                    *matCellDef="let element">{{ element.entityType }}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell
                    *matHeaderCellDef>Type</th>
                <td mat-cell
                    *matCellDef="let element">{{ element.type }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell
                    *matHeaderCellDef>Name</th>
                <td mat-cell
                    *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="admin">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>ADMIN</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'ADMIN', $event)"
                                  [checked]="hasPermission(element, 'ADMIN')"
                                  [aria-label]="'ADMIN'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="modify">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>MODIFY</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'MODIFY', $event)"
                                  [checked]="hasPermission(element, 'MODIFY')"
                                  [aria-label]="'MODIFY'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="discover">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>DISCOVER</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'DISCOVER', $event)"
                                  [checked]="hasPermission(element, 'DISCOVER')"
                                  [aria-label]="'DISCOVER'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="consume">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>CONSUME</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'CONSUME', $event)"
                                  [checked]="hasPermission(element, 'CONSUME')"
                                  [aria-label]="'CONSUME'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="upload">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>UPLOAD</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'UPLOAD', $event)"
                                  [checked]="hasPermission(element, 'UPLOAD')"
                                  [aria-label]="'UPLOAD'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="view_metadata">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>VIEW METADATA</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'VIEW_METADATA', $event)"
                                  [checked]="hasPermission(element, 'VIEW_METADATA')"
                                  [aria-label]="'VIEW_METADATA'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="view_location">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>VIEW LOCATION</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element,'VIEW_LOCATION', $event)"
                                  [checked]="hasPermission(element, 'VIEW_LOCATION')"
                                  [aria-label]="'VIEW_LOCATION'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="consume_events">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>CONSUME EVENTS</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element,  'CONSUME_EVENTS', $event)"
                                  [checked]="hasPermission(element, 'CONSUME_EVENTS')"
                                  [aria-label]="'CONSUME_EVENTS'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="upload_events">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>UPLOAD EVENTS</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element,'UPLOAD_EVENTS', $event)"
                                  [checked]="hasPermission(element, 'UPLOAD_EVENTS')"
                                  [aria-label]="'UPLOAD_EVENTS'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="annotate">
                <th mat-header-cell
                    class='checkbox'
                    *matHeaderCellDef>ANNOTATE</th>
                <td mat-cell
                    class='checkbox'
                    *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="togglePermission(element, 'ANNOTATE', $event)"
                                  [checked]="hasPermission(element, 'ANNOTATE')"
                                  [aria-label]="'ANNOTATE'">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 30]"
                       [length]="((dataSource.entitiesCount$ | async) * (page + 1)) + 1"
                       [showFirstLastButtons]="false"></mat-paginator>
    </div>
</div>